In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path

PROJECT_ROOT = Path("OFFLINE/transaction")
sys.path.append(str(PROJECT_ROOT))  # 디렉토리 추가

from SchemaType import (
    build_transaction_schema,
    TransactionSchemaConfig,
)

In [3]:
TRANS_PATH = "DATA/original/test"
LABEL_PATH = "DATA/original/train_fraud_labels.json"

In [4]:
pwd

'/home/nakyung/projects/BDAIFin/OFFLINE/transaction'

In [5]:
import os
os.chdir("../..")

In [6]:
cfg = TransactionSchemaConfig()

trans = build_transaction_schema(
    trans_parquet_path=TRANS_PATH,
    labels_json_path=LABEL_PATH,
    cfg=cfg,
)

In [7]:
trans

,id,date,client_id,card_id,amount,merchant_id,mcc,fraud,has_error,err_bad_card_number,...,err_bad_zipcode,err_insufficient_balance,err_technical_glitch,tx_year,tx_month,tx_day,tx_hour,weekday,is_refund,log_abs_amount
0,17172563,2016-01-01 00:01:00,1797,1127,59.830002,54343,4121,0,0,0,...,0,0,0,2016,1,1,0,4,0,4.108083
1,17172564,2016-01-01 00:02:00,394,6057,20.059999,39021,4784,0,0,0,...,0,0,0,2016,1,1,0,4,0,3.047375
2,17172567,2016-01-01 00:03:00,1963,3317,51.160000,25759,5812,0,0,0,...,0,0,0,2016,1,1,0,4,0,3.954316
3,17172569,2016-01-01 00:11:00,1919,5430,51.980000,25717,5812,0,0,0,...,0,0,0,2016,1,1,0,4,0,3.969914
4,17172571,2016-01-01 00:12:00,1684,2723,28.809999,39021,4784,0,0,0,...,0,0,0,2016,1,1,0,4,0,3.394844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932757,18881478,2016-12-31 23:50:00,1825,4310,1.160000,26232,5411,0,0,0,...,0,0,0,2016,12,31,23,5,0,0.770108
932758,18881479,2016-12-31 23:51:00,1269,4147,163.139999,91099,4900,0,0,0,...,0,0,0,2016,12,31,23,5,0,5.100720
932759,18881481,2016-12-31 23:52:00,234,4799,60.000000,27092,4829,0,0,0,...,0,0,0,2016,12,31,23,5,0,4.110874
932760,18881482,2016-12-31 23:53:00,1610,3968,40.000000,27092,4829,0,0,0,...,0,0,0,2016,12,31,23,5,0,3.713572
932761,18881485,2016-12-31 23:58:00,1145,6011,17.980000,16798,4121,0,0,0,...,0,0,0,2016,12,31,23,5,0,2.943386

In [8]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932762 entries, 0 to 932761
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        932762 non-null  int64
 1   date                      932762 non-null  datetime64[ns]
 2   client_id                 932762 non-null  int64
 3   card_id                   932762 non-null  int64
 4   amount                    932762 non-null  float32
 5   merchant_id               932762 non-null  int64
 6   mcc                       932762 non-null  object
 7   fraud                     932762 non-null  int8
 8   has_error                 932762 non-null  int8
 9   err_bad_card_number       932762 non-null  int8
 10  err_bad_expiration        932762 non-null  int8
 11  err_bad_cvv               932762 non-null  int8
 12  err_bad_pin               932762 non-null  int8
 13  err_bad_zipcode           932762 non-null  int8
 14  err_insufficient_balance  932762 non-null  int8
 15  err_technical_glitch      932762 non-null  int8
 16  tx_year                   932762 non-null  int16
 17  tx_month                  932762 non-null  int8
 18  tx_day                    932762 non-null  int8
 19  tx_hour                   932762 non-null  int8
 20  weekday                   932762 non-null  int32
 21  is_refund                 932762 non-null  int8
 22  log_abs_amount            932762 non-null  float32
dtypes: datetime64[ns](1), float32(2), int16(1), int32(1), int64(4), int8(13), object(1)
memory usage: 66.7+ MB

In [9]:
trans.to_parquet("DATA/dataset/test_stage1")