In [21]:
import pandas as pd

df = pd.read_parquet("transactions_clean.parquet")

# Datetime
df["date"] = pd.to_datetime(df["date"])

# ID columns
df["client_id"]   = df["client_id"].astype("int32")
df["card_id"]     = df["card_id"].astype("int32")
df["merchant_id"] = df["merchant_id"].astype("int32")
df["mcc"]         = df["mcc"].astype("int16")

# Amount
df["amount"] = df["amount"].astype("float32")

# Categorical features
for c in ["use_chip", "merchant_city", "merchant_state", "zip"]:
    df[c] = df[c].astype("category")

# Error flags
for c in [
    "has_error",
    "err_card_credential",
    "err_authentication",
    "err_financial",
    "err_system"
]:
    df[c] = df[c].astype("int8")

# Target
df["fraud"] = df["fraud"].astype("int8")

df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8851561 entries, 0 to 8851560
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   date                 datetime64[ns]
 1   client_id            int32
 2   card_id              int32
 3   amount               float32
 4   use_chip             category
 5   merchant_id          int32
 6   merchant_city        category
 7   merchant_state       category
 8   zip                  category
 9   mcc                  int16
 10  fraud                int8
 11  has_error            int8
 12  err_card_credential  int8
 13  err_authentication   int8
 14  err_financial        int8
 15  err_system           int8
dtypes: category(4), datetime64[ns](1), float32(1), int16(1), int32(3), int8(6)
memory usage: 323.8 MB

In [22]:
df

,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,fraud,has_error,err_card_credential,err_authentication,err_financial,err_system
0,2010-01-01 00:01:00,1556,2972,-77.000000,Swipe Transaction,59935,Beulah,ND,58523.0,5499,0,0,0,0,0,0
1,2010-01-01 00:02:00,561,4575,14.570000,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,0,0,0,0,0,0
2,2010-01-01 00:02:00,1129,102,80.000000,Swipe Transaction,27092,Vista,CA,92084.0,4829,0,0,0,0,0,0
3,2010-01-01 00:06:00,848,3915,46.410000,Swipe Transaction,13051,Harwood,MD,20776.0,5813,0,0,0,0,0,0
4,2010-01-01 00:07:00,1807,165,4.810000,Swipe Transaction,20519,Bronx,NY,10464.0,5942,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8851556,2019-10-31 23:54:00,672,5001,12.930000,Chip Transaction,47508,Cosby,TN,37722.0,7230,0,0,0,0,0,0
8851557,2019-10-31 23:54:00,1384,3723,67.010002,Chip Transaction,58136,Williamson,GA,30292.0,5812,0,0,0,0,0,0
8851558,2019-10-31 23:56:00,1718,2379,1.110000,Chip Transaction,86438,West Covina,CA,91792.0,5499,0,0,0,0,0,0
8851559,2019-10-31 23:56:00,1766,2066,12.800000,Online Transaction,39261,ONLINE,ONLINE,ONLINE,5815,0,0,0,0,0,0
8851560,2019-10-31 23:57:00,199,1031,40.439999,Swipe Transaction,2925,Allen,TX,75002.0,4900,0,0,0,0,0,0

In [23]:
card = pd.read_csv("cards_data.csv")
user = pd.read_csv("users_data.csv")

In [24]:
print("[Transactions Data]")
for col in df.columns:
    print("column: ", col)
    print("values: ", df[col].unique)

print("[Card Data]")
for col in card.columns:
    print("column: ", col)
    print("values: ", card[col].unique)

print("[User Data]")
for col in user.columns:
    print("column: ", col)
    print("values: ", user[col].unique)

[Transactions Data]
column:  date
values:  <bound method Series.unique of 0         2010-01-01 00:01:00
1         2010-01-01 00:02:00
2         2010-01-01 00:02:00
3         2010-01-01 00:06:00
4         2010-01-01 00:07:00
                  ...
8851556   2019-10-31 23:54:00
8851557   2019-10-31 23:54:00
8851558   2019-10-31 23:56:00
8851559   2019-10-31 23:56:00
8851560   2019-10-31 23:57:00
Name: date, Length: 8851561, dtype: datetime64[ns]>
column:  client_id
values:  <bound method Series.unique of 0          1556
1           561
2          1129
3           848
4          1807
           ...
8851556     672
8851557    1384
8851558    1718
8851559    1766
8851560     199
Name: client_id, Length: 8851561, dtype: int32>
column:  card_id
values:  <bound method Series.unique of 0          2972
1          4575
2           102
3          3915
4           165
           ...
8851556    5001
8851557    3723
8851558    2379
8851559    2066
8851560    1031
Name: card_id, Length: 8851561, dtype: int32>
column:  amount
values:  <bound method Series.unique of 0         -77.000000
1          14.570000
2          80.000000
3          46.410000
4           4.810000
             ...
8851556    12.930000
8851557    67.010002
8851558     1.110000
8851559    12.800000
8851560    40.439999
Name: amount, Length: 8851561, dtype: float32>
column:  use_chip
values:  <bound method Series.unique of 0           Swipe Transaction
1           Swipe Transaction
2           Swipe Transaction
3           Swipe Transaction
4           Swipe Transaction
                  ...
8851556      Chip Transaction
8851557      Chip Transaction
8851558      Chip Transaction
8851559    Online Transaction
8851560     Swipe Transaction
Name: use_chip, Length: 8851561, dtype: category
Categories (3, object): ['Chip Transaction', 'Online Transaction', 'Swipe Transaction']>
column:  merchant_id
values:  <bound method Series.unique of 0          59935
1          67570
2          27092
3          13051
4          20519
           ...
8851556    47508
8851557    58136
8851558    86438
8851559    39261
8851560     2925
Name: merchant_id, Length: 8851561, dtype: int32>
column:  merchant_city
values:  <bound method Series.unique of 0               Beulah
1           Bettendorf
2                Vista
3              Harwood
4                Bronx
              ...
8851556          Cosby
8851557     Williamson
8851558    West Covina
8851559         ONLINE
8851560          Allen
Name: merchant_city, Length: 8851561, dtype: category
Categories (12045, object): ['Aaronsburg', 'Abbeville', 'Abbotsford', 'Abbott', ..., 'Zumbrota', 'Zuni', 'Zwingle', 'Zwolle']>
column:  merchant_state
values:  <bound method Series.unique of 0              ND
1              IA
2              CA
3              MD
4              NY
            ...
8851556        TN
8851557        GA
8851558        CA
8851559    ONLINE
8851560        TX
Name: merchant_state, Length: 8851561, dtype: category
Categories (53, object): ['AA', 'AK', 'AL', 'AR', ..., 'WA', 'WI', 'WV', 'WY']>
column:  zip
values:  <bound method Series.unique of 0          58523.0
1          52722.0
2          92084.0
3          20776.0
4          10464.0
            ...
8851556    37722.0
8851557    30292.0
8851558    91792.0
8851559     ONLINE
8851560    75002.0
Name: zip, Length: 8851561, dtype: category
Categories (24587, object): ['10001.0', '10002.0', '10003.0', '10004.0', ..., '99901.0', '99925.0', '99928.0', 'ONLINE']>
column:  mcc
values:  <bound method Series.unique of 0          5499
1          5311
2          4829
3          5813
4          5942
           ...
8851556    7230
8851557    5812
8851558    5499
8851559    5815
8851560    4900
Name: mcc, Length: 8851561, dtype: int16>
column:  fraud
values:  <bound method Series.unique of 0          0
1          0
2          0
3          0
4          0
          ..
8851556    0
8851557    0
8851558    0
8851559    0
8851560    0
Name: fraud, Length: 8851561, dtype: int8>
column:  has_error
values:  <bound method Series.unique of 0          0
1          0
2          0
3          0
4          0
          ..
8851556    0
8851557    0
8851558    0
8851559    0
8851560    0
Name: has_error, Length: 8851561, dtype: int8>
column:  err_card_credential
values:  <bound method Series.unique of 0          0
1          0
2          0
3          0
4          0
          ..
8851556    0
8851557    0
8851558    0
8851559    0
8851560    0
Name: err_card_credential, Length: 8851561, dtype: int8>
column:  err_authentication
values:  <bound method Series.unique of 0          0
1          0
2          0
3          0
4          0
          ..
8851556    0
8851557    0
8851558    0
8851559    0
8851560    0
Name: err_authentication, Length: 8851561, dtype: int8>
column:  err_financial
values:  <bound method Series.unique of 0          0
1          0
2          0
3          0
4          0
          ..
8851556    0
8851557    0
8851558    0
8851559    0
8851560    0
Name: err_financial, Length: 8851561, dtype: int8>
column:  err_system
values:  <bound method Series.unique of 0          0
1          0
2          0
3          0
4          0
          ..
8851556    0
8851557    0
8851558    0
8851559    0
8851560    0
Name: err_system, Length: 8851561, dtype: int8>
[Card Data]
column:  id
values:  <bound method Series.unique of 0       4524
1       2731
2       3701
3         42
4       4659
        ...
6141    5361
6142    2711
6143    1305
6144     743
6145    3199
Name: id, Length: 6146, dtype: int64>
column:  client_id
values:  <bound method Series.unique of 0        825
1        825
2        825
3        825
4        825
        ...
6141     185
6142     185
6143    1007
6144    1110
6145    1110
Name: client_id, Length: 6146, dtype: int64>
column:  card_brand
values:  <bound method Series.unique of 0             Visa
1             Visa
2             Visa
3             Visa
4       Mastercard
           ...
6141          Amex
6142          Visa
6143    Mastercard
6144    Mastercard
6145          Visa
Name: card_brand, Length: 6146, dtype: object>
column:  card_type
values:  <bound method Series.unique of 0                 Debit
1                 Debit
2                 Debit
3                Credit
4       Debit (Prepaid)
             ...
6141             Credit
6142             Credit
6143             Credit
6144              Debit
6145             Credit
Name: card_type, Length: 6146, dtype: object>
column:  card_number
values:  <bound method Series.unique of 0       4344676511950444
1       4956965974959986
2       4582313478255491
3       4879494103069057
4       5722874738736011
              ...
6141     300609782832003
6142    4718517475996018
6143    5929512204765914
6144    5589768928167462
6145    4994011318343994
Name: card_number, Length: 6146, dtype: int64>
column:  expires
values:  <bound method Series.unique of 0       12/2022
1       12/2020
2       02/2024
3       08/2024
4       03/2009
         ...
6141    01/2024
6142    01/2021
6143    08/2020
6144    01/2020
6145    12/2020
Name: expires, Length: 6146, dtype: object>
column:  cvv
values:  <bound method Series.unique of 0       623
1       393
2       719
3       693
4        75
       ...
6141    663
6142    492
6143    237
6144    630
6145    120
Name: cvv, Length: 6146, dtype: int64>
column:  has_chip
values:  <bound method Series.unique of 0       YES
1       YES
2       YES
3        NO
4       YES
       ...
6141    YES
6142    YES
6143     NO
6144    YES
6145    YES
Name: has_chip, Length: 6146, dtype: object>
column:  num_cards_issued
values:  <bound method Series.unique of 0       2
1       2
2       2
3       1
4       1
       ..
6141    1
6142    2
6143    2
6144    1
6145    1
Name: num_cards_issued, Length: 6146, dtype: int64>
column:  credit_limit
values:  <bound method Series.unique of 0       $24295
1       $21968
2       $46414
3       $12400
4          $28
         ...
6141     $6900
6142     $5700
6143     $9200
6144    $28074
6145    $14400
Name: credit_limit, Length: 6146, dtype: object>
column:  acct_open_date
values:  <bound method Series.unique of 0       09/2002
1       04/2014
2       07/2003
3       01/2003
4       09/2008
         ...
6141    11/2000
6142    04/2012
6143    02/2012
6144    01/2020
6145    05/2017
Name: acct_open_date, Length: 6146, dtype: object>
column:  year_pin_last_changed
values:  <bound method Series.unique of 0       2008
1       2014
2       2004
3       2012
4       2009
        ...
6141    2013
6142    2012
6143    2012
6144    2020
6145    2017
Name: year_pin_last_changed, Length: 6146, dtype: int64>
column:  card_on_dark_web
values:  <bound method Series.unique of 0       No
1       No
2       No
3       No
4       No
        ..
6141    No
6142    No
6143    No
6144    No
6145    No
Name: card_on_dark_web, Length: 6146, dtype: object>
[User Data]
column:  id
values:  <bound method Series.unique of 0        825
1       1746
2       1718
3        708
4       1164
        ...
1995     986
1996    1944
1997     185
1998    1007
1999    1110
Name: id, Length: 2000, dtype: int64>
column:  current_age
values:  <bound method Series.unique of 0       53
1       53
2       81
3       63
4       43
        ..
1995    32
1996    62
1997    47
1998    66
1999    21
Name: current_age, Length: 2000, dtype: int64>
column:  retirement_age
values:  <bound method Series.unique of 0       66
1       68
2       67
3       63
4       70
        ..
1995    70
1996    65
1997    67
1998    60
1999    60
Name: retirement_age, Length: 2000, dtype: int64>
column:  birth_year
values:  <bound method Series.unique of 0       1966
1       1966
2       1938
3       1957
4       1976
        ...
1995    1987
1996    1957
1997    1973
1998    1954
1999    1998
Name: birth_year, Length: 2000, dtype: int64>
column:  birth_month
values:  <bound method Series.unique of 0       11
1       12
2       11
3        1
4        9
        ..
1995     7
1996    11
1997     1
1998     2
1999    11
Name: birth_month, Length: 2000, dtype: int64>
column:  gender
values:  <bound method Series.unique of 0       Female
1       Female
2       Female
3       Female
4         Male
         ...
1995      Male
1996    Female
1997    Female
1998      Male
1999    Female
Name: gender, Length: 2000, dtype: object>
column:  address
values:  <bound method Series.unique of 0                  462 Rose Lane
1         3606 Federal Boulevard
2                766 Third Drive
3               3 Madison Street
4       9620 Valley Stream Drive
                  ...
1995         6577 Lexington Lane
1996                 2 Elm Drive
1997         276 Fifth Boulevard
1998        259 Valley Boulevard
1999       472 Ocean View Street
Name: address, Length: 2000, dtype: object>
column:  latitude
values:  <bound method Series.unique of 0       34.15
1       40.76
2       34.02
3       40.71
4       37.76
        ...
1995    40.65
1996    38.95
1997    40.66
1998    40.24
1999    42.86
Name: latitude, Length: 2000, dtype: float64>
column:  longitude
values:  <bound method Series.unique of 0      -117.76
1       -73.74
2      -117.89
3       -73.99
4      -122.44
         ...
1995    -73.58
1996    -84.54
1997    -74.19
1998    -76.92
1999    -71.48
Name: longitude, Length: 2000, dtype: float64>
column:  per_capita_income
values:  <bound method Series.unique of 0        $29278
1        $37891
2        $22681
3       $163145
4        $53797
         ...
1995     $23550
1996     $24218
1997     $15175
1998     $25336
1999     $32325
Name: per_capita_income, Length: 2000, dtype: object>
column:  yearly_income
values:  <bound method Series.unique of 0        $59696
1        $77254
2        $33483
3       $249925
4       $109687
         ...
1995     $48010
1996     $49378
1997     $30942
1998     $54654
1999     $65909
Name: yearly_income, Length: 2000, dtype: object>
column:  total_debt
values:  <bound method Series.unique of 0       $127613
1       $191349
2          $196
3       $202328
4       $183855
         ...
1995     $87837
1996    $104480
1997     $71066
1998     $27241
1999    $181261
Name: total_debt, Length: 2000, dtype: object>
column:  credit_score
values:  <bound method Series.unique of 0       787
1       701
2       698
3       722
4       675
       ...
1995    703
1996    740
1997    779
1998    618
1999    673
Name: credit_score, Length: 2000, dtype: int64>
column:  num_credit_cards
values:  <bound method Series.unique of 0       5
1       5
2       5
3       4
4       1
       ..
1995    3
1996    4
1997    3
1998    1
1999    2
Name: num_credit_cards, Length: 2000, dtype: int64>

In [25]:
card

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,300609782832003,01/2024,663,YES,1,$6900,11/2000,2013,No
6142,2711,185,Visa,Credit,4718517475996018,01/2021,492,YES,2,$5700,04/2012,2012,No
6143,1305,1007,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,$9200,02/2012,2012,No
6144,743,1110,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,$28074,01/2020,2020,No
6145,3199,1110,Visa,Credit,4994011318343994,12/2020,120,YES,1,$14400,05/2017,2017,No

In [26]:
user

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,$37891,$77254,$191349,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,$22681,$33483,$196,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,$163145,$249925,$202328,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,$53797,$109687,$183855,675,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,986,32,70,1987,7,Male,6577 Lexington Lane,40.65,-73.58,$23550,$48010,$87837,703,3
1996,1944,62,65,1957,11,Female,2 Elm Drive,38.95,-84.54,$24218,$49378,$104480,740,4
1997,185,47,67,1973,1,Female,276 Fifth Boulevard,40.66,-74.19,$15175,$30942,$71066,779,3
1998,1007,66,60,1954,2,Male,259 Valley Boulevard,40.24,-76.92,$25336,$54654,$27241,618,1
1999,1110,21,60,1998,11,Female,472 Ocean View Street,42.86,-71.48,$32325,$65909,$181261,673,2

In [27]:
card = card.sort_values(by="client_id", ascending=True)
df = df.sort_values(by="client_id", ascending=True)
user = user.sort_values(by="id", ascending=True)

In [28]:
card_id = card["client_id"].unique()
trans_id = df["client_id"].unique()
user_id = user["id"].unique()

In [29]:
common = set(card_id) & set(trans_id) & set(user_id)
print("len of common: ", len(common))
print("unique of common:", common)

len of common:  1219
unique of common: {np.int32(0), np.int32(1), np.int32(2), np.int32(3), np.int32(4), np.int32(5), np.int32(11), np.int32(13), np.int32(14), np.int32(16), np.int32(17), np.int32(19), np.int32(20), np.int32(21), np.int32(22), np.int32(24), np.int32(27), np.int32(28), np.int32(32), np.int32(33), np.int32(34), np.int32(37), np.int32(38), np.int32(39), np.int32(40), np.int32(42), np.int32(44), np.int32(45), np.int32(46), np.int32(47), np.int32(48), np.int32(50), np.int32(51), np.int32(52), np.int32(53), np.int32(55), np.int32(57), np.int32(58), np.int32(59), np.int32(60), np.int32(61), np.int32(62), np.int32(63), np.int32(64), np.int32(65), np.int32(68), np.int32(69), np.int32(73), np.int32(74), np.int32(75), np.int32(77), np.int32(78), np.int32(79), np.int32(80), np.int32(81), np.int32(84), np.int32(86), np.int32(87), np.int32(89), np.int32(90), np.int32(92), np.int32(94), np.int32(96), np.int32(98), np.int32(100), np.int32(103), np.int32(104), np.int32(106), np.int32(107), np.int32(110), np.int32(112), np.int32(113), np.int32(114), np.int32(115), np.int32(116), np.int32(118), np.int32(119), np.int32(120), np.int32(121), np.int32(122), np.int32(123), np.int32(124), np.int32(125), np.int32(126), np.int32(127), np.int32(128), np.int32(132), np.int32(133), np.int32(134), np.int32(135), np.int32(137), np.int32(138), np.int32(140), np.int32(141), np.int32(142), np.int32(144), np.int32(145), np.int32(146), np.int32(147), np.int32(148), np.int32(149), np.int32(150), np.int32(152), np.int32(153), np.int32(154), np.int32(155), np.int32(156), np.int32(157), np.int32(160), np.int32(161), np.int32(162), np.int32(164), np.int32(165), np.int32(169), np.int32(170), np.int32(171), np.int32(172), np.int32(173), np.int32(176), np.int32(177), np.int32(178), np.int32(180), np.int32(184), np.int32(185), np.int32(190), np.int32(194), np.int32(196), np.int32(197), np.int32(198), np.int32(199), np.int32(200), np.int32(201), np.int32(203), np.int32(205), np.int32(206), np.int32(207), np.int32(208), np.int32(209), np.int32(211), np.int32(212), np.int32(213), np.int32(216), np.int32(217), np.int32(218), np.int32(219), np.int32(220), np.int32(222), np.int32(225), np.int32(227), np.int32(229), np.int32(230), np.int32(231), np.int32(233), np.int32(234), np.int32(235), np.int32(236), np.int32(237), np.int32(240), np.int32(241), np.int32(242), np.int32(244), np.int32(246), np.int32(247), np.int32(248), np.int32(249), np.int32(250), np.int32(252), np.int32(254), np.int32(256), np.int32(257), np.int32(260), np.int32(261), np.int32(264), np.int32(265), np.int32(267), np.int32(273), np.int32(274), np.int32(275), np.int32(277), np.int32(278), np.int32(280), np.int32(282), np.int32(285), np.int32(286), np.int32(287), np.int32(291), np.int32(293), np.int32(299), np.int32(300), np.int32(301), np.int32(303), np.int32(305), np.int32(311), np.int32(313), np.int32(315), np.int32(316), np.int32(317), np.int32(319), np.int32(320), np.int32(321), np.int32(322), np.int32(323), np.int32(327), np.int32(328), np.int32(329), np.int32(331), np.int32(332), np.int32(334), np.int32(335), np.int32(338), np.int32(343), np.int32(345), np.int32(346), np.int32(348), np.int32(349), np.int32(350), np.int32(351), np.int32(354), np.int32(356), np.int32(357), np.int32(359), np.int32(360), np.int32(361), np.int32(362), np.int32(363), np.int32(364), np.int32(366), np.int32(368), np.int32(369), np.int32(370), np.int32(371), np.int32(373), np.int32(374), np.int32(375), np.int32(376), np.int32(377), np.int32(379), np.int32(380), np.int32(383), np.int32(385), np.int32(386), np.int32(387), np.int32(391), np.int32(393), np.int32(394), np.int32(395), np.int32(397), np.int32(398), np.int32(400), np.int32(401), np.int32(402), np.int32(403), np.int32(408), np.int32(410), np.int32(414), np.int32(415), np.int32(416), np.int32(419), np.int32(421), np.int32(425), np.int32(427), np.int32(428), np.int32(430), np.int32(432), np.int32(433), np.int32(434), np.int32(437), np.int32(438), np.int32(441), np.int32(442), np.int32(447), np.int32(449), np.int32(450), np.int32(451), np.int32(452), np.int32(455), np.int32(456), np.int32(457), np.int32(458), np.int32(459), np.int32(460), np.int32(461), np.int32(462), np.int32(464), np.int32(465), np.int32(467), np.int32(468), np.int32(469), np.int32(470), np.int32(472), np.int32(473), np.int32(474), np.int32(476), np.int32(477), np.int32(478), np.int32(479), np.int32(480), np.int32(483), np.int32(487), np.int32(488), np.int32(489), np.int32(490), np.int32(491), np.int32(494), np.int32(496), np.int32(497), np.int32(502), np.int32(503), np.int32(506), np.int32(509), np.int32(511), np.int32(514), np.int32(515), np.int32(517), np.int32(519), np.int32(520), np.int32(523), np.int32(524), np.int32(525), np.int32(526), np.int32(528), np.int32(530), np.int32(534), np.int32(538), np.int32(542), np.int32(543), np.int32(545), np.int32(546), np.int32(547), np.int32(549), np.int32(550), np.int32(552), np.int32(554), np.int32(556), np.int32(557), np.int32(561), np.int32(563), np.int32(564), np.int32(565), np.int32(566), np.int32(569), np.int32(570), np.int32(571), np.int32(573), np.int32(575), np.int32(576), np.int32(577), np.int32(580), np.int32(581), np.int32(582), np.int32(583), np.int32(584), np.int32(585), np.int32(586), np.int32(589), np.int32(592), np.int32(595), np.int32(596), np.int32(597), np.int32(598), np.int32(601), np.int32(602), np.int32(604), np.int32(605), np.int32(608), np.int32(609), np.int32(613), np.int32(614), np.int32(615), np.int32(616), np.int32(618), np.int32(619), np.int32(621), np.int32(623), np.int32(628), np.int32(629), np.int32(630), np.int32(631), np.int32(633), np.int32(634), np.int32(636), np.int32(637), np.int32(638), np.int32(639), np.int32(641), np.int32(642), np.int32(643), np.int32(644), np.int32(646), np.int32(647), np.int32(648), np.int32(649), np.int32(650), np.int32(652), np.int32(655), np.int32(657), np.int32(658), np.int32(659), np.int32(660), np.int32(661), np.int32(662), np.int32(663), np.int32(665), np.int32(667), np.int32(668), np.int32(669), np.int32(671), np.int32(672), np.int32(674), np.int32(675), np.int32(676), np.int32(677), np.int32(678), np.int32(679), np.int32(683), np.int32(684), np.int32(688), np.int32(692), np.int32(696), np.int32(697), np.int32(699), np.int32(702), np.int32(704), np.int32(705), np.int32(706), np.int32(708), np.int32(709), np.int32(711), np.int32(712), np.int32(714), np.int32(716), np.int32(719), np.int32(720), np.int32(721), np.int32(723), np.int32(724), np.int32(726), np.int32(727), np.int32(728), np.int32(729), np.int32(731), np.int32(732), np.int32(733), np.int32(734), np.int32(737), np.int32(738), np.int32(742), np.int32(743), np.int32(744), np.int32(746), np.int32(747), np.int32(748), np.int32(750), np.int32(751), np.int32(752), np.int32(753), np.int32(754), np.int32(755), np.int32(756), np.int32(757), np.int32(758), np.int32(759), np.int32(760), np.int32(762), np.int32(763), np.int32(764), np.int32(771), np.int32(772), np.int32(773), np.int32(774), np.int32(776), np.int32(779), np.int32(780), np.int32(782), np.int32(783), np.int32(789), np.int32(790), np.int32(791), np.int32(793), np.int32(794), np.int32(795), np.int32(797), np.int32(798), np.int32(799), np.int32(801), np.int32(802), np.int32(803), np.int32(804), np.int32(807), np.int32(808), np.int32(810), np.int32(811), np.int32(814), np.int32(816), np.int32(819), np.int32(820), np.int32(821), np.int32(822), np.int32(823), np.int32(825), np.int32(826), np.int32(827), np.int32(828), np.int32(831), np.int32(832), np.int32(837), np.int32(839), np.int32(840), np.int32(843), np.int32(844), np.int32(845), np.int32(846), np.int32(847), np.int32(848), np.int32(849), np.int32(850), np.int32(851), np.int32(852), np.int32(855), np.int32(856), np.int32(858), np.int32(859), np.int32(860), np.int32(862), np.int32(863), np.int32(865), np.int32(866), np.int32(868), np.int32(869), np.int32(870), np.int32(871), np.int32(872), np.int32(875), np.int32(876), np.int32(877), np.int32(879), np.int32(882), np.int32(883), np.int32(884), np.int32(885), np.int32(888), np.int32(890), np.int32(891), np.int32(895), np.int32(897), np.int32(898), np.int32(900), np.int32(901), np.int32(905), np.int32(906), np.int32(908), np.int32(909), np.int32(912), np.int32(913), np.int32(914), np.int32(917), np.int32(918), np.int32(920), np.int32(921), np.int32(924), np.int32(928), np.int32(931), np.int32(932), np.int32(933), np.int32(938), np.int32(939), np.int32(940), np.int32(942), np.int32(944), np.int32(946), np.int32(947), np.int32(948), np.int32(949), np.int32(951), np.int32(952), np.int32(954), np.int32(955), np.int32(957), np.int32(961), np.int32(962), np.int32(963), np.int32(964), np.int32(970), np.int32(972), np.int32(973), np.int32(976), np.int32(977), np.int32(979), np.int32(980), np.int32(983), np.int32(984), np.int32(985), np.int32(986), np.int32(987), np.int32(988), np.int32(989), np.int32(990), np.int32(992), np.int32(994), np.int32(996), np.int32(997), np.int32(1002), np.int32(1003), np.int32(1006), np.int32(1008), np.int32(1009), np.int32(1012), np.int32(1016), np.int32(1018), np.int32(1019), np.int32(1020), np.int32(1022), np.int32(1024), np.int32(1026), np.int32(1027), np.int32(1028), np.int32(1029), np.int32(1030), np.int32(1031), np.int32(1034), np.int32(1039), np.int32(1041), np.int32(1046), np.int32(1047), np.int32(1048), np.int32(1050), np.int32(1052), np.int32(1053), np.int32(1054), np.int32(1058), np.int32(1060), np.int32(1063), np.int32(1066), np.int32(1067), np.int32(1069), np.int32(1070), np.int32(1072), np.int32(1073), np.int32(1074), np.int32(1075), np.int32(1076), np.int32(1077), np.int32(1078), np.int32(1079), np.int32(1080), np.int32(1081), np.int32(1082), np.int32(1083), np.int32(1084), np.int32(1086), np.int32(1087), np.int32(1088), np.int32(1089), np.int32(1091), np.int32(1094), np.int32(1095), np.int32(1096), np.int32(1097), np.int32(1098), np.int32(1100), np.int32(1102), np.int32(1103), np.int32(1104), np.int32(1105), np.int32(1106), np.int32(1107), np.int32(1114), np.int32(1115), np.int32(1116), np.int32(1117), np.int32(1118), np.int32(1121), np.int32(1123), np.int32(1125), np.int32(1127), np.int32(1128), np.int32(1129), np.int32(1130), np.int32(1131), np.int32(1133), np.int32(1135), np.int32(1137), np.int32(1138), np.int32(1140), np.int32(1141), np.int32(1142), np.int32(1144), np.int32(1145), np.int32(1147), np.int32(1148), np.int32(1150), np.int32(1151), np.int32(1153), np.int32(1155), np.int32(1156), np.int32(1163), np.int32(1164), np.int32(1166), np.int32(1168), np.int32(1169), np.int32(1170), np.int32(1171), np.int32(1173), np.int32(1176), np.int32(1177), np.int32(1179), np.int32(1180), np.int32(1181), np.int32(1183), np.int32(1184), np.int32(1187), np.int32(1189), np.int32(1190), np.int32(1192), np.int32(1193), np.int32(1194), np.int32(1195), np.int32(1196), np.int32(1198), np.int32(1201), np.int32(1202), np.int32(1203), np.int32(1204), np.int32(1207), np.int32(1208), np.int32(1209), np.int32(1210), np.int32(1211), np.int32(1213), np.int32(1214), np.int32(1217), np.int32(1219), np.int32(1221), np.int32(1222), np.int32(1223), np.int32(1224), np.int32(1225), np.int32(1226), np.int32(1227), np.int32(1228), np.int32(1229), np.int32(1234), np.int32(1236), np.int32(1237), np.int32(1238), np.int32(1239), np.int32(1240), np.int32(1241), np.int32(1242), np.int32(1243), np.int32(1245), np.int32(1246), np.int32(1247), np.int32(1248), np.int32(1250), np.int32(1251), np.int32(1253), np.int32(1254), np.int32(1256), np.int32(1257), np.int32(1258), np.int32(1259), np.int32(1260), np.int32(1261), np.int32(1262), np.int32(1263), np.int32(1266), np.int32(1267), np.int32(1268), np.int32(1269), np.int32(1274), np.int32(1276), np.int32(1279), np.int32(1281), np.int32(1282), np.int32(1283), np.int32(1284), np.int32(1285), np.int32(1286), np.int32(1288), np.int32(1289), np.int32(1291), np.int32(1293), np.int32(1294), np.int32(1295), np.int32(1296), np.int32(1298), np.int32(1299), np.int32(1300), np.int32(1301), np.int32(1302), np.int32(1303), np.int32(1305), np.int32(1307), np.int32(1313), np.int32(1314), np.int32(1315), np.int32(1317), np.int32(1323), np.int32(1324), np.int32(1326), np.int32(1330), np.int32(1331), np.int32(1332), np.int32(1334), np.int32(1335), np.int32(1340), np.int32(1341), np.int32(1344), np.int32(1345), np.int32(1347), np.int32(1348), np.int32(1352), np.int32(1353), np.int32(1356), np.int32(1357), np.int32(1358), np.int32(1360), np.int32(1361), np.int32(1362), np.int32(1364), np.int32(1366), np.int32(1367), np.int32(1369), np.int32(1370), np.int32(1371), np.int32(1376), np.int32(1378), np.int32(1379), np.int32(1381), np.int32(1382), np.int32(1383), np.int32(1384), np.int32(1385), np.int32(1391), np.int32(1393), np.int32(1394), np.int32(1397), np.int32(1398), np.int32(1403), np.int32(1404), np.int32(1405), np.int32(1406), np.int32(1407), np.int32(1411), np.int32(1412), np.int32(1413), np.int32(1416), np.int32(1417), np.int32(1421), np.int32(1422), np.int32(1424), np.int32(1425), np.int32(1427), np.int32(1428), np.int32(1429), np.int32(1430), np.int32(1432), np.int32(1433), np.int32(1434), np.int32(1435), np.int32(1437), np.int32(1439), np.int32(1442), np.int32(1443), np.int32(1444), np.int32(1445), np.int32(1446), np.int32(1448), np.int32(1449), np.int32(1451), np.int32(1452), np.int32(1453), np.int32(1455), np.int32(1456), np.int32(1458), np.int32(1459), np.int32(1461), np.int32(1463), np.int32(1464), np.int32(1466), np.int32(1467), np.int32(1470), np.int32(1471), np.int32(1473), np.int32(1475), np.int32(1477), np.int32(1478), np.int32(1479), np.int32(1482), np.int32(1484), np.int32(1485), np.int32(1486), np.int32(1487), np.int32(1488), np.int32(1490), np.int32(1492), np.int32(1493), np.int32(1494), np.int32(1495), np.int32(1497), np.int32(1498), np.int32(1499), np.int32(1500), np.int32(1503), np.int32(1504), np.int32(1507), np.int32(1508), np.int32(1509), np.int32(1510), np.int32(1511), np.int32(1512), np.int32(1513), np.int32(1514), np.int32(1515), np.int32(1516), np.int32(1517), np.int32(1518), np.int32(1519), np.int32(1520), np.int32(1521), np.int32(1523), np.int32(1525), np.int32(1526), np.int32(1527), np.int32(1528), np.int32(1529), np.int32(1530), np.int32(1531), np.int32(1533), np.int32(1534), np.int32(1535), np.int32(1538), np.int32(1540), np.int32(1541), np.int32(1542), np.int32(1543), np.int32(1544), np.int32(1546), np.int32(1549), np.int32(1551), np.int32(1552), np.int32(1555), np.int32(1556), np.int32(1557), np.int32(1558), np.int32(1559), np.int32(1560), np.int32(1561), np.int32(1562), np.int32(1563), np.int32(1564), np.int32(1567), np.int32(1568), np.int32(1569), np.int32(1571), np.int32(1575), np.int32(1576), np.int32(1577), np.int32(1579), np.int32(1581), np.int32(1582), np.int32(1583), np.int32(1584), np.int32(1585), np.int32(1586), np.int32(1587), np.int32(1589), np.int32(1591), np.int32(1594), np.int32(1595), np.int32(1596), np.int32(1598), np.int32(1600), np.int32(1602), np.int32(1603), np.int32(1604), np.int32(1605), np.int32(1606), np.int32(1609), np.int32(1610), np.int32(1613), np.int32(1615), np.int32(1616), np.int32(1617), np.int32(1618), np.int32(1619), np.int32(1621), np.int32(1622), np.int32(1623), np.int32(1626), np.int32(1629), np.int32(1633), np.int32(1634), np.int32(1635), np.int32(1636), np.int32(1638), np.int32(1639), np.int32(1640), np.int32(1642), np.int32(1644), np.int32(1645), np.int32(1646), np.int32(1648), np.int32(1649), np.int32(1651), np.int32(1652), np.int32(1654), np.int32(1656), np.int32(1659), np.int32(1660), np.int32(1662), np.int32(1664), np.int32(1666), np.int32(1668), np.int32(1669), np.int32(1670), np.int32(1671), np.int32(1672), np.int32(1674), np.int32(1675), np.int32(1676), np.int32(1677), np.int32(1678), np.int32(1680), np.int32(1682), np.int32(1684), np.int32(1685), np.int32(1686), np.int32(1687), np.int32(1692), np.int32(1693), np.int32(1694), np.int32(1695), np.int32(1696), np.int32(1697), np.int32(1699), np.int32(1700), np.int32(1702), np.int32(1703), np.int32(1709), np.int32(1710), np.int32(1712), np.int32(1717), np.int32(1718), np.int32(1719), np.int32(1720), np.int32(1723), np.int32(1725), np.int32(1727), np.int32(1728), np.int32(1730), np.int32(1731), np.int32(1733), np.int32(1735), np.int32(1736), np.int32(1737), np.int32(1740), np.int32(1741), np.int32(1742), np.int32(1744), np.int32(1746), np.int32(1749), np.int32(1750), np.int32(1752), np.int32(1753), np.int32(1755), np.int32(1756), np.int32(1757), np.int32(1758), np.int32(1759), np.int32(1762), np.int32(1763), np.int32(1764), np.int32(1765), np.int32(1766), np.int32(1769), np.int32(1770), np.int32(1771), np.int32(1772), np.int32(1774), np.int32(1775), np.int32(1776), np.int32(1777), np.int32(1779), np.int32(1781), np.int32(1782), np.int32(1783), np.int32(1785), np.int32(1786), np.int32(1787), np.int32(1788), np.int32(1789), np.int32(1791), np.int32(1793), np.int32(1794), np.int32(1797), np.int32(1799), np.int32(1802), np.int32(1805), np.int32(1807), np.int32(1808), np.int32(1809), np.int32(1810), np.int32(1811), np.int32(1812), np.int32(1813), np.int32(1815), np.int32(1816), np.int32(1817), np.int32(1818), np.int32(1820), np.int32(1823), np.int32(1825), np.int32(1826), np.int32(1827), np.int32(1830), np.int32(1833), np.int32(1834), np.int32(1837), np.int32(1840), np.int32(1842), np.int32(1843), np.int32(1844), np.int32(1846), np.int32(1849), np.int32(1851), np.int32(1852), np.int32(1853), np.int32(1854), np.int32(1855), np.int32(1856), np.int32(1857), np.int32(1858), np.int32(1859), np.int32(1861), np.int32(1862), np.int32(1863), np.int32(1871), np.int32(1872), np.int32(1873), np.int32(1874), np.int32(1875), np.int32(1876), np.int32(1877), np.int32(1879), np.int32(1880), np.int32(1881), np.int32(1882), np.int32(1885), np.int32(1888), np.int32(1891), np.int32(1895), np.int32(1896), np.int32(1897), np.int32(1898), np.int32(1899), np.int32(1901), np.int32(1902), np.int32(1903), np.int32(1904), np.int32(1905), np.int32(1908), np.int32(1909), np.int32(1910), np.int32(1913), np.int32(1915), np.int32(1916), np.int32(1917), np.int32(1918), np.int32(1919), np.int32(1920), np.int32(1921), np.int32(1923), np.int32(1926), np.int32(1928), np.int32(1931), np.int32(1936), np.int32(1937), np.int32(1940), np.int32(1941), np.int32(1942), np.int32(1944), np.int32(1945), np.int32(1946), np.int32(1954), np.int32(1955), np.int32(1956), np.int32(1957), np.int32(1958), np.int32(1959), np.int32(1962), np.int32(1963), np.int32(1964), np.int32(1966), np.int32(1967), np.int32(1969), np.int32(1971), np.int32(1972), np.int32(1973), np.int32(1975), np.int32(1976), np.int32(1977), np.int32(1979), np.int32(1980), np.int32(1981), np.int32(1983), np.int32(1985), np.int32(1986), np.int32(1987), np.int32(1988), np.int32(1989), np.int32(1992), np.int32(1993), np.int32(1994), np.int32(1995), np.int32(1996), np.int32(1997), np.int32(1998)}

In [30]:
card_common = card[card["client_id"].isin(common)]
trans_common = df[df["client_id"].isin(common)]
user_common = user[user["id"].isin(common)]
print("nunique check:", card_common["client_id"].nunique(), trans_common["client_id"].nunique(), user_common["id"].nunique())
print("card shape:", card_common.shape)
print("trans shape:", trans_common.shape)
print("user shape:", user_common.shape)

nunique check: 1219 1219 1219
card shape: (4514, 13)
trans shape: (8851561, 16)
user shape: (1219, 14)

In [31]:
common_card_ids = (
    set(trans_common["card_id"].unique()) & set(card_common["id"].unique())
)
len(common_card_ids)

4070

In [32]:
card_common["id"].duplicated().any()

np.False_

In [33]:
trans_common["card_id"].nunique()

4070

In [34]:
card_common["id"].nunique()

4514

In [38]:
card_common = card_common[card_common["id"].isin(common_card_ids)]

In [39]:
card_common

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
2911,1271,0,Mastercard,Debit,5050211780967429,04/2021,316,YES,2,$31490,02/2011,2011,No
2910,4639,0,Mastercard,Credit,5802759460691737,12/2019,312,YES,1,$17600,09/2007,2014,No
3986,4652,1,Visa,Credit,4419924074647230,12/2021,1,NO,1,$12800,09/2007,2011,No
3985,3682,1,Visa,Credit,4417513283605637,04/2014,84,YES,1,$10900,07/2002,2013,No
3984,4400,1,Visa,Debit,4843491272960882,01/2017,625,YES,1,$18105,08/2012,2012,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,5106,1997,Mastercard,Debit,5138861544730253,09/2014,695,YES,2,$3991,10/2008,2013,No
1091,4807,1997,Mastercard,Debit,5974521557482725,08/2020,89,YES,1,$25048,09/2011,2011,No
4410,2160,1998,Visa,Debit (Prepaid),4969817527377037,11/2022,756,YES,1,$110,03/2007,2007,No
4412,1258,1998,Visa,Credit,4573665962578726,11/2020,452,YES,2,$100,02/2010,2011,No
4411,4892,1998,Visa,Debit,4138210173016904,06/2021,76,YES,1,$328,09/2015,2015,No

In [41]:
card_common.to_csv("card_common.csv")
user_common.to_csv("user_common.csv")
trans_common.to_csv("trans_common.csv")