In [ ]:
import pandas as pd
import numpy as np
trans = pd.read_csv("original/transactions_data.csv")
users = pd.read_csv("original/users_data.csv")
cards = pd.read_csv("original/cards_data.csv")

In [2]:
trans.columns

Index(['id', 'date', 'client_id', 'card_id', 'amount', 'use_chip',
       'merchant_id', 'merchant_city', 'merchant_state', 'zip', 'mcc',
       'errors'],
      dtype='object')

In [3]:
cards.columns

Index(['id', 'client_id', 'card_brand', 'card_type', 'card_number', 'expires',
       'cvv', 'has_chip', 'num_cards_issued', 'credit_limit', 'acct_open_date',
       'year_pin_last_changed', 'card_on_dark_web'],
      dtype='object')

In [4]:
users.columns

Index(['id', 'current_age', 'retirement_age', 'birth_year', 'birth_month',
       'gender', 'address', 'latitude', 'longitude', 'per_capita_income',
       'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards'],
      dtype='object')

In [5]:
trans = trans[trans["client_id"].isin(users["id"])]
trans = trans[trans["card_id"].isin(cards["id"])]

In [6]:
trans.shape

(11413790, 12)

In [7]:
users_renamed = users.rename(columns={"id": "client_id"})
trans = trans.merge(
    users_renamed,
    on="client_id",
    how="left",
    validate="m:1"
)

In [8]:
trans.shape

(11413790, 25)

In [9]:
cards.shape

(6146, 13)

In [10]:
cards_renamed = cards.rename(columns={"id": "card_id"})
trans = trans.merge(
    cards_renamed,
    on="card_id",
    how="left",
    validate="m:1"
)
trans.shape

(11413790, 37)

In [11]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11413790 entries, 0 to 11413789
Data columns (total 37 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   date                   object
 2   client_id_x            int64
 3   card_id                int64
 4   amount                 object
 5   use_chip               object
 6   merchant_id            int64
 7   merchant_city          object
 8   merchant_state         object
 9   zip                    float64
 10  mcc                    float64
 11  errors                 object
 12  current_age            int64
 13  retirement_age         int64
 14  birth_year             int64
 15  birth_month            int64
 16  gender                 object
 17  address                object
 18  latitude               float64
 19  longitude              float64
 20  per_capita_income      object
 21  yearly_income          object
 22  total_debt             object
 23  credit_score           int64
 24  num_credit_cards       int64
 25  client_id_y            int64
 26  card_brand             object
 27  card_type              object
 28  card_number            int64
 29  expires                object
 30  cvv                    int64
 31  has_chip               object
 32  num_cards_issued       int64
 33  credit_limit           object
 34  acct_open_date         object
 35  year_pin_last_changed  int64
 36  card_on_dark_web       object
dtypes: float64(4), int64(15), object(18)
memory usage: 3.1+ GB

In [12]:
trans["use_chip"].value_counts()

use_chip
Swipe Transaction     6646662
Chip Transaction      3437680
Online Transaction    1329448
Name: count, dtype: int64

In [13]:
trans.isnull().sum()

id                              0
date                            0
client_id_x                     0
card_id                         0
amount                          0
use_chip                        0
merchant_id                     0
merchant_city                   0
merchant_state            1333544
zip                       1407469
mcc                             1
errors                   11232582
current_age                     0
retirement_age                  0
birth_year                      0
birth_month                     0
gender                          0
address                         0
latitude                        0
longitude                       0
per_capita_income               0
yearly_income                   0
total_debt                      0
credit_score                    0
num_credit_cards                0
client_id_y                     0
card_brand                      0
card_type                       0
card_number                     0
expires                         0
cvv                             0
has_chip                        0
num_cards_issued                0
credit_limit                    0
acct_open_date                  0
year_pin_last_changed           0
card_on_dark_web                0
dtype: int64

In [14]:
cards

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,300609782832003,01/2024,663,YES,1,$6900,11/2000,2013,No
6142,2711,185,Visa,Credit,4718517475996018,01/2021,492,YES,2,$5700,04/2012,2012,No
6143,1305,1007,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,$9200,02/2012,2012,No
6144,743,1110,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,$28074,01/2020,2020,No
6145,3199,1110,Visa,Credit,4994011318343994,12/2020,120,YES,1,$14400,05/2017,2017,No

In [15]:
trans.head()

,id,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,...,Debit (Prepaid),5497590243197280,07/2022,306,YES,2,$55,05/2008,2008,No
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,...,Credit,5175842699412235,12/2024,438,YES,1,$9100,09/2005,2015,No
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,...,Debit,5874992802287595,05/2020,256,YES,1,$14802,01/2006,2008,No
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,...,Debit,5346827663529174,10/2024,54,NO,2,$37634,05/2004,2006,No
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,...,Debit,4354185735186651,01/2020,120,YES,1,$19113,07/2009,2014,No

In [16]:
trans[["client_id_x", "client_id_y"]]

          client_id_x  client_id_y
0                1556         1556
1                 561          561
2                1129         1129
3                 430          430
4                 848          848
...               ...          ...
11413785         1362         1362
11413786         1777         1777
11413787         1794         1794
11413788          252          252
11413789          425          425

[11413790 rows x 2 columns]

In [17]:
print((trans["client_id_x"] == trans["client_id_y"]).all())

True

In [18]:
trans.drop("client_id_y", axis=1, inplace=True)

In [19]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11413790 entries, 0 to 11413789
Data columns (total 36 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   date                   object
 2   client_id_x            int64
 3   card_id                int64
 4   amount                 object
 5   use_chip               object
 6   merchant_id            int64
 7   merchant_city          object
 8   merchant_state         object
 9   zip                    float64
 10  mcc                    float64
 11  errors                 object
 12  current_age            int64
 13  retirement_age         int64
 14  birth_year             int64
 15  birth_month            int64
 16  gender                 object
 17  address                object
 18  latitude               float64
 19  longitude              float64
 20  per_capita_income      object
 21  yearly_income          object
 22  total_debt             object
 23  credit_score           int64
 24  num_credit_cards       int64
 25  card_brand             object
 26  card_type              object
 27  card_number            int64
 28  expires                object
 29  cvv                    int64
 30  has_chip               object
 31  num_cards_issued       int64
 32  credit_limit           object
 33  acct_open_date         object
 34  year_pin_last_changed  int64
 35  card_on_dark_web       object
dtypes: float64(4), int64(14), object(18)
memory usage: 3.1+ GB

In [20]:
import ijson

ids = []
labels = []

with open("original/train_fraud_labels.json", "rb") as f:
    for k, v in ijson.kvitems(f, "target"):
        kid = int(str(k).strip())
        ids.append(kid)
        labels.append(1 if v == "Yes" else 0)

labels_df = pd.DataFrame({"id": ids, "fraud": labels}).astype({"fraud": "int8"})
labels_df

               id  fraud
0        10649266      0
1        23410063      0
2         9316588      0
3        12478022      0
4         9558530      0
...           ...    ...
8914958  14064699      0
8914959   7676538      0
8914960  15131030      0
8914961  17244732      0
8914962  15151926      0

[8914963 rows x 2 columns]

In [21]:
trans = trans.merge(labels_df, on="id", how="inner")
trans

,id,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,fraud
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,...,5497590243197280,07/2022,306,YES,2,$55,05/2008,2008,No,0
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,...,5175842699412235,12/2024,438,YES,1,$9100,09/2005,2015,No,0
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,...,5874992802287595,05/2020,256,YES,1,$14802,01/2006,2008,No,0
3,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,...,4354185735186651,01/2020,120,YES,1,$19113,07/2009,2014,No,0
4,7475333,2010-01-01 00:07:00,1807,165,$4.81,Swipe Transaction,20519,Bronx,NY,10464.0,...,5207231566469664,03/2014,198,YES,1,$89,01/2008,2015,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647519,21421689,2018-06-23 11:12:00,227,5867,$58.32,Chip Transaction,64730,Minneapolis,MN,55419.0,...,4329687142518026,10/2020,827,YES,1,$25200,12/2006,2016,No,0
7647520,21421690,2018-06-23 11:12:00,371,3134,$21.70,Chip Transaction,3847,Richmond,VA,23226.0,...,5931001528763541,12/2018,471,YES,2,$27600,05/2013,2013,No,0
7647521,21421691,2018-06-23 11:12:00,1225,2338,$37.00,Chip Transaction,18586,San Rafael,CA,94901.0,...,4529057760721503,04/2020,270,YES,2,$2400,03/2014,2014,No,0
7647522,21421693,2018-06-23 11:12:00,1362,2274,$23.21,Chip Transaction,75316,Star Tannery,VA,22654.0,...,5467215736629408,07/2023,98,YES,2,$44,03/2011,2016,No,0
7647523,21421698,2018-06-23 11:13:00,252,3675,$70.29,Chip Transaction,38882,Butler,OH,44822.0,...,5167343609558637,10/2024,394,YES,1,$10700,07/2002,2013,No,0

In [22]:
trans.shape

(7647524, 37)

In [23]:
trans.drop("id", axis=1, inplace=True)
trans.shape

(7647524, 36)

In [24]:
trans["is_online"] = (trans["use_chip"] == "Online Transaction").astype(int)
trans

,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,fraud,is_online
0,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499.0,...,07/2022,306,YES,2,$55,05/2008,2008,No,0,0
1,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311.0,...,12/2024,438,YES,1,$9100,09/2005,2015,No,0,0
2,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829.0,...,05/2020,256,YES,1,$14802,01/2006,2008,No,0,0
3,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813.0,...,01/2020,120,YES,1,$19113,07/2009,2014,No,0,0
4,2010-01-01 00:07:00,1807,165,$4.81,Swipe Transaction,20519,Bronx,NY,10464.0,5942.0,...,03/2014,198,YES,1,$89,01/2008,2015,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647519,2018-06-23 11:12:00,227,5867,$58.32,Chip Transaction,64730,Minneapolis,MN,55419.0,5211.0,...,10/2020,827,YES,1,$25200,12/2006,2016,No,0,0
7647520,2018-06-23 11:12:00,371,3134,$21.70,Chip Transaction,3847,Richmond,VA,23226.0,5411.0,...,12/2018,471,YES,2,$27600,05/2013,2013,No,0,0
7647521,2018-06-23 11:12:00,1225,2338,$37.00,Chip Transaction,18586,San Rafael,CA,94901.0,5310.0,...,04/2020,270,YES,2,$2400,03/2014,2014,No,0,0
7647522,2018-06-23 11:12:00,1362,2274,$23.21,Chip Transaction,75316,Star Tannery,VA,22654.0,5812.0,...,07/2023,98,YES,2,$44,03/2011,2016,No,0,0
7647523,2018-06-23 11:13:00,252,3675,$70.29,Chip Transaction,38882,Butler,OH,44822.0,5655.0,...,10/2024,394,YES,1,$10700,07/2002,2013,No,0,0

In [25]:
trans["is_online"].value_counts()

is_online
0    6756753
1     890771
Name: count, dtype: int64

In [26]:
trans["amount"] = (trans["amount"].str.replace("$", "", regex=False).astype("float32"))

In [27]:
trans

,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,fraud,is_online
0,2010-01-01 00:01:00,1556,2972,-77.000000,Swipe Transaction,59935,Beulah,ND,58523.0,5499.0,...,07/2022,306,YES,2,$55,05/2008,2008,No,0,0
1,2010-01-01 00:02:00,561,4575,14.570000,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311.0,...,12/2024,438,YES,1,$9100,09/2005,2015,No,0,0
2,2010-01-01 00:02:00,1129,102,80.000000,Swipe Transaction,27092,Vista,CA,92084.0,4829.0,...,05/2020,256,YES,1,$14802,01/2006,2008,No,0,0
3,2010-01-01 00:06:00,848,3915,46.410000,Swipe Transaction,13051,Harwood,MD,20776.0,5813.0,...,01/2020,120,YES,1,$19113,07/2009,2014,No,0,0
4,2010-01-01 00:07:00,1807,165,4.810000,Swipe Transaction,20519,Bronx,NY,10464.0,5942.0,...,03/2014,198,YES,1,$89,01/2008,2015,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647519,2018-06-23 11:12:00,227,5867,58.320000,Chip Transaction,64730,Minneapolis,MN,55419.0,5211.0,...,10/2020,827,YES,1,$25200,12/2006,2016,No,0,0
7647520,2018-06-23 11:12:00,371,3134,21.700001,Chip Transaction,3847,Richmond,VA,23226.0,5411.0,...,12/2018,471,YES,2,$27600,05/2013,2013,No,0,0
7647521,2018-06-23 11:12:00,1225,2338,37.000000,Chip Transaction,18586,San Rafael,CA,94901.0,5310.0,...,04/2020,270,YES,2,$2400,03/2014,2014,No,0,0
7647522,2018-06-23 11:12:00,1362,2274,23.209999,Chip Transaction,75316,Star Tannery,VA,22654.0,5812.0,...,07/2023,98,YES,2,$44,03/2011,2016,No,0,0
7647523,2018-06-23 11:13:00,252,3675,70.290001,Chip Transaction,38882,Butler,OH,44822.0,5655.0,...,10/2024,394,YES,1,$10700,07/2002,2013,No,0,0

In [28]:
trans.isnull().sum()

date                           0
client_id_x                    0
card_id                        0
amount                         0
use_chip                       0
merchant_id                    0
merchant_city                  0
merchant_state            893521
zip                       942920
mcc                            0
errors                   7525963
current_age                    0
retirement_age                 0
birth_year                     0
birth_month                    0
gender                         0
address                        0
latitude                       0
longitude                      0
per_capita_income              0
yearly_income                  0
total_debt                     0
credit_score                   0
num_credit_cards               0
card_brand                     0
card_type                      0
card_number                    0
expires                        0
cvv                            0
has_chip                       0
num_cards_issued               0
credit_limit                   0
acct_open_date                 0
year_pin_last_changed          0
card_on_dark_web               0
fraud                          0
is_online                      0
dtype: int64

In [29]:
errors_type = trans["errors"].unique()
errors_type

array([nan, 'Bad Expiration', 'Bad Card Number', 'Insufficient Balance',
       'Bad PIN', 'Technical Glitch', 'Bad CVV',
       'Insufficient Balance,Technical Glitch',
       'Bad PIN,Insufficient Balance', 'Bad Zipcode',
       'Bad Expiration,Technical Glitch',
       'Bad Card Number,Bad Expiration', 'Bad PIN,Technical Glitch',
       'Bad Card Number,Insufficient Balance',
       'Bad Expiration,Insufficient Balance', 'Bad Card Number,Bad CVV',
       'Bad CVV,Technical Glitch', 'Bad CVV,Insufficient Balance',
       'Bad Card Number,Technical Glitch',
       'Bad Zipcode,Insufficient Balance',
       'Bad Card Number,Bad Expiration,Insufficient Balance',
       'Bad Expiration,Bad CVV', 'Bad Zipcode,Technical Glitch'],
      dtype=object)

In [30]:
unique_errors = (
    pd.Series(errors_type)
    .dropna()
    .str.split(",")
    .explode()
    .str.strip()
    .unique()
)
print(unique_errors)

['Bad Expiration' 'Bad Card Number' 'Insufficient Balance' 'Bad PIN'
 'Technical Glitch' 'Bad CVV' 'Bad Zipcode']

Errors
├── Card Credential Errors (카드 정보 입력 오류)
│   ├── Bad Card Number
│   ├── Bad Expiration
│   └── Bad CVV
│
├── Authentication Errors (본인 인증 실패)
│   ├── Bad PIN
│   └── Bad Zipcode
│
├── Financial Constraint Errors (자금 부족)
│   └── Insufficient Balance
│
└── System Errors (시스템 문제)
    └── Technical Glitch

In [31]:
err = trans["errors"]

# 에러 존재 여부 
trans["has_error"] = err.notna().astype("int8")

trans["err_bad_card_number"] = err.str.contains(
    "Bad Card Number",
    na=False
).astype("int8")

trans["err_bad_expiration"] = err.str.contains(
    "Bad Expiration",
    na=False
).astype("int8")

trans["err_bad_cvv"] = err.str.contains(
    "Bad CVV",
    na=False
).astype("int8")

trans["err_bad_pin"] = err.str.contains(
    "Bad PIN",
    na=False
).astype("int8")

trans["err_bad_zipcode"] = err.str.contains(
    "Bad Zipcode",
    na=False
).astype("int8")

trans["err_insufficient_balance"] = err.str.contains(
    "Insufficient Balance",
    na=False
).astype("int8")

trans["err_technical_glitch"] = err.str.contains(
    "Technical Glitch",
    na=False
).astype("int8")

In [32]:
trans.head()

,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,fraud,is_online,has_error,err_bad_card_number,err_bad_expiration,err_bad_cvv,err_bad_pin,err_bad_zipcode,err_insufficient_balance,err_technical_glitch
0,2010-01-01 00:01:00,1556,2972,-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499.0,...,0,0,0,0,0,0,0,0,0,0
1,2010-01-01 00:02:00,561,4575,14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311.0,...,0,0,0,0,0,0,0,0,0,0
2,2010-01-01 00:02:00,1129,102,80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829.0,...,0,0,0,0,0,0,0,0,0,0
3,2010-01-01 00:06:00,848,3915,46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813.0,...,0,0,0,0,0,0,0,0,0,0
4,2010-01-01 00:07:00,1807,165,4.81,Swipe Transaction,20519,Bronx,NY,10464.0,5942.0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
trans.drop("errors", axis=1, inplace=True)
trans.isnull().sum()

date                             0
client_id_x                      0
card_id                          0
amount                           0
use_chip                         0
merchant_id                      0
merchant_city                    0
merchant_state              893521
zip                         942920
mcc                              0
current_age                      0
retirement_age                   0
birth_year                       0
birth_month                      0
gender                           0
address                          0
latitude                         0
longitude                        0
per_capita_income                0
yearly_income                    0
total_debt                       0
credit_score                     0
num_credit_cards                 0
card_brand                       0
card_type                        0
card_number                      0
expires                          0
cvv                              0
has_chip                         0
num_cards_issued                 0
credit_limit                     0
acct_open_date                   0
year_pin_last_changed            0
card_on_dark_web                 0
fraud                            0
is_online                        0
has_error                        0
err_bad_card_number              0
err_bad_expiration               0
err_bad_cvv                      0
err_bad_pin                      0
err_bad_zipcode                  0
err_insufficient_balance         0
err_technical_glitch             0
dtype: int64

In [34]:
trans["is_online"].value_counts()

is_online
0    6756753
1     890771
Name: count, dtype: int64

In [35]:
trans["cvv"].value_counts()

cvv
265    34929
269    26821
599    26325
270    25637
480    25433
       ...
801      263
897      231
361       88
901       67
97        17
Name: count, Length: 983, dtype: int64

In [36]:
trans.drop("cvv", axis=1, inplace=True)

In [37]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647524 entries, 0 to 7647523
Data columns (total 43 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      object
 1   client_id_x               int64
 2   card_id                   int64
 3   amount                    float32
 4   use_chip                  object
 5   merchant_id               int64
 6   merchant_city             object
 7   merchant_state            object
 8   zip                       float64
 9   mcc                       float64
 10  current_age               int64
 11  retirement_age            int64
 12  birth_year                int64
 13  birth_month               int64
 14  gender                    object
 15  address                   object
 16  latitude                  float64
 17  longitude                 float64
 18  per_capita_income         object
 19  yearly_income             object
 20  total_debt                object
 21  credit_score              int64
 22  num_credit_cards          int64
 23  card_brand                object
 24  card_type                 object
 25  card_number               int64
 26  expires                   object
 27  has_chip                  object
 28  num_cards_issued          int64
 29  credit_limit              object
 30  acct_open_date            object
 31  year_pin_last_changed     int64
 32  card_on_dark_web          object
 33  fraud                     int8
 34  is_online                 int64
 35  has_error                 int8
 36  err_bad_card_number       int8
 37  err_bad_expiration        int8
 38  err_bad_cvv               int8
 39  err_bad_pin               int8
 40  err_bad_zipcode           int8
 41  err_insufficient_balance  int8
 42  err_technical_glitch      int8
dtypes: float32(1), float64(4), int64(13), int8(9), object(16)
memory usage: 2.0+ GB

In [38]:
trans["card_on_dark_web"].unique()

array(['No'], dtype=object)

In [39]:
trans.drop("card_on_dark_web", axis=1, inplace=True)

In [40]:
trans["year_pin_last_changed"].head()

0    2008
1    2015
2    2008
3    2014
4    2015
Name: year_pin_last_changed, dtype: int64

In [41]:
trans["year_pin_last_changed"].astype("Int16")

0          2008
1          2015
2          2008
3          2014
4          2015
           ...
7647519    2016
7647520    2013
7647521    2014
7647522    2016
7647523    2013
Name: year_pin_last_changed, Length: 7647524, dtype: Int16

In [42]:
trans["acct_open_date"].head()

0    05/2008
1    09/2005
2    01/2006
3    07/2009
4    01/2008
Name: acct_open_date, dtype: object

In [43]:
trans["acct_open_date"] = pd.to_datetime(
    trans["acct_open_date"],
    format="%m/%Y",
    errors="coerce"
)

In [44]:
trans["acct_open_year"] = trans["acct_open_date"].dt.year.astype("int16")
trans["acct_open_month"] = trans["acct_open_date"].dt.month.astype("int8")

In [45]:
trans["expires"].head()

0    07/2022
1    12/2024
2    05/2020
3    01/2020
4    03/2014
Name: expires, dtype: object

In [46]:
trans["expires"] = pd.to_datetime(
    trans["expires"],
    format="%m/%Y",
    errors="coerce"
)
trans["expires_year"] = trans["expires"].dt.year.astype("int16")
trans["expires_month"] = trans["expires"].dt.month.astype("int8")

In [47]:
trans["date"] = pd.to_datetime(
    trans["date"],
    format="%Y-%m-%d %H:%M:%S",
    errors="coerce"
)

ref_date = trans["date"]

months_to_expire = (
    (trans["expires_year"] - ref_date.dt.year) * 12 +
    (trans["expires_month"] - ref_date.dt.month)
)

trans["months_to_expire"] = months_to_expire.astype("int16")

In [48]:
(trans["months_to_expire"] < 0).sum()

np.int64(46)

In [49]:
trans.loc[trans["months_to_expire"] < 0, "fraud"].value_counts()

fraud
0    45
1     1
Name: count, dtype: int64

In [50]:
trans = trans[trans["months_to_expire"] >= 0].copy()

In [51]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7647478 entries, 0 to 7647523
Data columns (total 47 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      datetime64[ns]
 1   client_id_x               int64
 2   card_id                   int64
 3   amount                    float32
 4   use_chip                  object
 5   merchant_id               int64
 6   merchant_city             object
 7   merchant_state            object
 8   zip                       float64
 9   mcc                       float64
 10  current_age               int64
 11  retirement_age            int64
 12  birth_year                int64
 13  birth_month               int64
 14  gender                    object
 15  address                   object
 16  latitude                  float64
 17  longitude                 float64
 18  per_capita_income         object
 19  yearly_income             object
 20  total_debt                object
 21  credit_score              int64
 22  num_credit_cards          int64
 23  card_brand                object
 24  card_type                 object
 25  card_number               int64
 26  expires                   datetime64[ns]
 27  has_chip                  object
 28  num_cards_issued          int64
 29  credit_limit              object
 30  acct_open_date            datetime64[ns]
 31  year_pin_last_changed     int64
 32  fraud                     int8
 33  is_online                 int64
 34  has_error                 int8
 35  err_bad_card_number       int8
 36  err_bad_expiration        int8
 37  err_bad_cvv               int8
 38  err_bad_pin               int8
 39  err_bad_zipcode           int8
 40  err_insufficient_balance  int8
 41  err_technical_glitch      int8
 42  acct_open_year            int16
 43  acct_open_month           int8
 44  expires_year              int16
 45  expires_month             int8
 46  months_to_expire          int16
dtypes: datetime64[ns](3), float32(1), float64(4), int16(3), int64(13), int8(11), object(12)
memory usage: 2.0+ GB

In [52]:
trans["is_online"] = trans["is_online"].astype("int8")

In [53]:
trans.drop(columns=["expires", "acct_open_date"], inplace=True)
trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7647478 entries, 0 to 7647523
Data columns (total 45 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      datetime64[ns]
 1   client_id_x               int64
 2   card_id                   int64
 3   amount                    float32
 4   use_chip                  object
 5   merchant_id               int64
 6   merchant_city             object
 7   merchant_state            object
 8   zip                       float64
 9   mcc                       float64
 10  current_age               int64
 11  retirement_age            int64
 12  birth_year                int64
 13  birth_month               int64
 14  gender                    object
 15  address                   object
 16  latitude                  float64
 17  longitude                 float64
 18  per_capita_income         object
 19  yearly_income             object
 20  total_debt                object
 21  credit_score              int64
 22  num_credit_cards          int64
 23  card_brand                object
 24  card_type                 object
 25  card_number               int64
 26  has_chip                  object
 27  num_cards_issued          int64
 28  credit_limit              object
 29  year_pin_last_changed     int64
 30  fraud                     int8
 31  is_online                 int8
 32  has_error                 int8
 33  err_bad_card_number       int8
 34  err_bad_expiration        int8
 35  err_bad_cvv               int8
 36  err_bad_pin               int8
 37  err_bad_zipcode           int8
 38  err_insufficient_balance  int8
 39  err_technical_glitch      int8
 40  acct_open_year            int16
 41  acct_open_month           int8
 42  expires_year              int16
 43  expires_month             int8
 44  months_to_expire          int16
dtypes: datetime64[ns](1), float32(1), float64(4), int16(3), int64(12), int8(12), object(12)
memory usage: 1.9+ GB

In [54]:
trans = trans.sort_values(
    ["date"]
).reset_index(drop=True)

In [55]:
trans["tx_year"] = trans["date"].dt.year.astype("int16")
trans["tx_month"] = trans["date"].dt.month.astype("int8")
trans["tx_hour"] = trans["date"].dt.hour.astype("int8")

In [56]:
trans["is_weekend"] = (trans["date"].dt.weekday >= 5).astype("int8")

In [57]:
trans.drop("date", axis=1, inplace=True)

In [58]:
trans["credit_limit"].unique()

array(['$55', '$9100', '$14802', ..., '$34888', '$50521', '$14247'],
      dtype=object)

In [59]:
trans["credit_limit"] = (trans["credit_limit"].str.replace("$", "", regex=False).astype("float32"))

In [60]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 48 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int64
 13  gender                    object
 14  address                   object
 15  latitude                  float64
 16  longitude                 float64
 17  per_capita_income         object
 18  yearly_income             object
 19  total_debt                object
 20  credit_score              int64
 21  num_credit_cards          int64
 22  card_brand                object
 23  card_type                 object
 24  card_number               int64
 25  has_chip                  object
 26  num_cards_issued          int64
 27  credit_limit              float32
 28  year_pin_last_changed     int64
 29  fraud                     int8
 30  is_online                 int8
 31  has_error                 int8
 32  err_bad_card_number       int8
 33  err_bad_expiration        int8
 34  err_bad_cvv               int8
 35  err_bad_pin               int8
 36  err_bad_zipcode           int8
 37  err_insufficient_balance  int8
 38  err_technical_glitch      int8
 39  acct_open_year            int16
 40  acct_open_month           int8
 41  expires_year              int16
 42  expires_month             int8
 43  months_to_expire          int16
 44  tx_year                   int16
 45  tx_month                  int8
 46  tx_hour                   int8
 47  is_weekend                int8
dtypes: float32(2), float64(4), int16(4), int64(12), int8(15), object(11)
memory usage: 1.8+ GB

In [61]:
trans["has_chip"].replace({"YES": 1, "NO": 0}, inplace=True)

/tmp/ipykernel_792224/31722477.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  trans["has_chip"].replace({"YES": 1, "NO": 0}, inplace=True)
/tmp/ipykernel_792224/31722477.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  trans["has_chip"].replace({"YES": 1, "NO": 0}, inplace=True)

In [62]:
trans["has_chip"] = trans["has_chip"].astype("int8")

In [63]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 48 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int64
 13  gender                    object
 14  address                   object
 15  latitude                  float64
 16  longitude                 float64
 17  per_capita_income         object
 18  yearly_income             object
 19  total_debt                object
 20  credit_score              int64
 21  num_credit_cards          int64
 22  card_brand                object
 23  card_type                 object
 24  card_number               int64
 25  has_chip                  int8
 26  num_cards_issued          int64
 27  credit_limit              float32
 28  year_pin_last_changed     int64
 29  fraud                     int8
 30  is_online                 int8
 31  has_error                 int8
 32  err_bad_card_number       int8
 33  err_bad_expiration        int8
 34  err_bad_cvv               int8
 35  err_bad_pin               int8
 36  err_bad_zipcode           int8
 37  err_insufficient_balance  int8
 38  err_technical_glitch      int8
 39  acct_open_year            int16
 40  acct_open_month           int8
 41  expires_year              int16
 42  expires_month             int8
 43  months_to_expire          int16
 44  tx_year                   int16
 45  tx_month                  int8
 46  tx_hour                   int8
 47  is_weekend                int8
dtypes: float32(2), float64(4), int16(4), int64(12), int8(16), object(10)
memory usage: 1.7+ GB

In [64]:
trans["card_type"].unique()

array(['Debit (Prepaid)', 'Credit', 'Debit'], dtype=object)

In [65]:
trans["is_credit"] = (
    trans["card_type"]
      .astype(str)
      .str.upper()
      .str.contains("CREDIT")
      .astype("int8")
)
trans["is_prepaid"] = (
    trans["card_type"]
      .astype(str)
      .str.upper()
      .str.contains("PREPAID")
      .astype("int8")
)
trans.drop("card_type", axis=1, inplace=True)

In [66]:
trans["num_credit_cards"] = trans["num_credit_cards"].astype("int8")

In [67]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int64
 13  gender                    object
 14  address                   object
 15  latitude                  float64
 16  longitude                 float64
 17  per_capita_income         object
 18  yearly_income             object
 19  total_debt                object
 20  credit_score              int64
 21  num_credit_cards          int8
 22  card_brand                object
 23  card_number               int64
 24  has_chip                  int8
 25  num_cards_issued          int64
 26  credit_limit              float32
 27  year_pin_last_changed     int64
 28  fraud                     int8
 29  is_online                 int8
 30  has_error                 int8
 31  err_bad_card_number       int8
 32  err_bad_expiration        int8
 33  err_bad_cvv               int8
 34  err_bad_pin               int8
 35  err_bad_zipcode           int8
 36  err_insufficient_balance  int8
 37  err_technical_glitch      int8
 38  acct_open_year            int16
 39  acct_open_month           int8
 40  expires_year              int16
 41  expires_month             int8
 42  months_to_expire          int16
 43  tx_year                   int16
 44  tx_month                  int8
 45  tx_hour                   int8
 46  is_weekend                int8
 47  is_credit                 int8
 48  is_prepaid                int8
dtypes: float32(2), float64(4), int16(4), int64(11), int8(19), object(9)
memory usage: 1.6+ GB

In [68]:
trans["total_debt"].unique()

array(['$110153', '$112139', '$36540', ..., '$98763', '$135478',
       '$109358'], dtype=object)

In [69]:
trans["total_debt"] = (trans["total_debt"].str.replace("$", "", regex=False).astype("float32"))

In [70]:
trans["yearly_income"].unique()

array(['$48277', '$36853', '$34449', ..., '$50523', '$53966', '$58959'],
      dtype=object)

In [71]:
trans["yearly_income"] = (trans["yearly_income"].str.replace("$", "", regex=False).astype("float32"))

In [72]:
trans["per_capita_income"] = (trans["per_capita_income"].str.replace("$", "", regex=False).astype("float32"))

In [73]:
trans["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [74]:
trans["male"] = (trans["gender"] == "Male").astype("int8")
trans.drop("gender", axis=1, inplace=True)

In [75]:
safe = trans.copy()

In [76]:
trans["birth_month"] = trans["birth_month"].astype("int8")

In [77]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int8
 13  address                   object
 14  latitude                  float64
 15  longitude                 float64
 16  per_capita_income         float32
 17  yearly_income             float32
 18  total_debt                float32
 19  credit_score              int64
 20  num_credit_cards          int8
 21  card_brand                object
 22  card_number               int64
 23  has_chip                  int8
 24  num_cards_issued          int64
 25  credit_limit              float32
 26  year_pin_last_changed     int64
 27  fraud                     int8
 28  is_online                 int8
 29  has_error                 int8
 30  err_bad_card_number       int8
 31  err_bad_expiration        int8
 32  err_bad_cvv               int8
 33  err_bad_pin               int8
 34  err_bad_zipcode           int8
 35  err_insufficient_balance  int8
 36  err_technical_glitch      int8
 37  acct_open_year            int16
 38  acct_open_month           int8
 39  expires_year              int16
 40  expires_month             int8
 41  months_to_expire          int16
 42  tx_year                   int16
 43  tx_month                  int8
 44  tx_hour                   int8
 45  is_weekend                int8
 46  is_credit                 int8
 47  is_prepaid                int8
 48  male                      int8
dtypes: float32(5), float64(4), int16(4), int64(10), int8(21), object(5)
memory usage: 1.4+ GB

In [78]:
trans.rename(columns={"client_id_x": "client_id"}, inplace=True)

In [79]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id                 int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int8
 13  address                   object
 14  latitude                  float64
 15  longitude                 float64
 16  per_capita_income         float32
 17  yearly_income             float32
 18  total_debt                float32
 19  credit_score              int64
 20  num_credit_cards          int8
 21  card_brand                object
 22  card_number               int64
 23  has_chip                  int8
 24  num_cards_issued          int64
 25  credit_limit              float32
 26  year_pin_last_changed     int64
 27  fraud                     int8
 28  is_online                 int8
 29  has_error                 int8
 30  err_bad_card_number       int8
 31  err_bad_expiration        int8
 32  err_bad_cvv               int8
 33  err_bad_pin               int8
 34  err_bad_zipcode           int8
 35  err_insufficient_balance  int8
 36  err_technical_glitch      int8
 37  acct_open_year            int16
 38  acct_open_month           int8
 39  expires_year              int16
 40  expires_month             int8
 41  months_to_expire          int16
 42  tx_year                   int16
 43  tx_month                  int8
 44  tx_hour                   int8
 45  is_weekend                int8
 46  is_credit                 int8
 47  is_prepaid                int8
 48  male                      int8
dtypes: float32(5), float64(4), int16(4), int64(10), int8(21), object(5)
memory usage: 1.4+ GB

In [80]:
trans["is_online"].value_counts()

is_online
0    6756710
1     890768
Name: count, dtype: int64

In [98]:
trans["mcc"] = pd.to_numeric(trans["mcc"], errors="coerce")
trans["mcc"] = trans["mcc"].astype("Int64")

In [116]:
MCC_GROUP = {
    # 1) Food & Daily
    "Food & Daily": [
        "5812","5814","5813","5411","5499","5912","5921",
        "5300","5310","5311"
    ],

    # 2) Transport & Travel  (+ freight 일부 흡수, + 4112/4411 포함)
    "Transport & Travel": [
        "4111","4121","4131","4112",
        "3722","3771","3775",
        "4511","4411",
        "4722","7011","4784",
        "4214"  # Motor Freight -> 여기로 흡수
    ],

    # 3) Digital & Online
    "Digital & Online": [
        "5815","5816","4814","4899","3780"
    ],

    # 4) Financial
    "Financial": [
        "4829","6300","7276","8931"
    ],

    # 5) Retail (여기에 5712/5719/5192/5193/5970/5932/5094 포함)
    "Retail": [
        "5045","5732","5733",
        "5941","5942","5947",
        "5661","5651","5655","5621",
        "5977","5970","5932",
        "5192","5193",
        "5712","5719","5722",
        "5094"
    ],

    # 6) Medical
    "Medical": [
        "8011","8021","8041","8043","8049","8062","8099"
    ],

    # 7) Entertainment (7995 포함)
    "Entertainment": [
        "7832","7922","7996","7801","7802","7995"
    ],

    # 8) Automotive & Home (5541 포함!)
    "Automotive & Home": [
        "5541",  # Service Stations (가장 큰 누락 원인)
        "7531","7538","7542","7549","5533",
        "1711","5251","5261","5211","3504",
        "7210","7230","7349",
        "3640"
    ],

    # 9) Utilities & Government
    "Utilities & Government": [
        "4900","9402"
    ],

    # 10) Professional Services
    "Professional Services": [
        "8111","7393"
    ],

    # 11) Industrial / Manufacturing (나머지 제조/가공 계열)
    "Industrial / Manufacturing": [
        "3000","3001","3005","3006","3007","3008","3009",
        "3058","3066","3075",
        "3132","3144","3174",
        "3256","3260",
        "3359","3387","3389","3390","3393","3395","3405",
        "3509","3596","3684",
        "3730"  # Ship Chandlers (너 all-zero TOP에 있었음)
    ],
}


# mcc를 string으로 통일 (안전)
trans["mcc"] = trans["mcc"].astype(str)

# 각 MCC_GROUP별로 컬럼 생성
for group_name, mcc_list in MCC_GROUP.items():
    col_name = f"mccg_{group_name.replace(' & ', '_').replace(' ', '_')}"
    trans[col_name] = trans["mcc"].isin(mcc_list).astype(np.int8)

In [117]:
mccg_cols = [
    "mccg_Food_Daily",
    "mccg_Transport_Travel",
    "mccg_Digital_Online",
    "mccg_Financial",
    "mccg_Retail",
    "mccg_Medical",
    "mccg_Entertainment",
    "mccg_Automotive_Home",
    "mccg_Utilities_Government",
    "mccg_Professional_Services",
    "mccg_Industrial_/_Manufacturing",
]

all_zero_mask = (trans[mccg_cols].sum(axis=1) == 0)

all_zero_mask.sum()

np.int64(0)

In [122]:
trans.drop(columns=["mcc", "mcc_group"], axis=1, inplace=True)

In [123]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 60 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip                              float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  card_brand                       object
 21  card_number                      int64
 22  has_chip                         int8
 23  num_cards_issued                 int64
 24  credit_limit                     float32
 25  year_pin_last_changed            int64
 26  fraud                            int8
 27  is_online                        int8
 28  has_error                        int8
 29  err_bad_card_number              int8
 30  err_bad_expiration               int8
 31  err_bad_cvv                      int8
 32  err_bad_pin                      int8
 33  err_bad_zipcode                  int8
 34  err_insufficient_balance         int8
 35  err_technical_glitch             int8
 36  acct_open_year                   int16
 37  acct_open_month                  int8
 38  expires_year                     int16
 39  expires_month                    int8
 40  months_to_expire                 int16
 41  tx_year                          int16
 42  tx_month                         int8
 43  tx_hour                          int8
 44  is_weekend                       int8
 45  is_credit                        int8
 46  is_prepaid                       int8
 47  male                             int8
 48  mccg_Food_Daily                  int8
 49  mccg_Transport_Travel            int8
 50  mccg_Digital_Online              int8
 51  mccg_Financial                   int8
 52  mccg_Retail                      int8
 53  mccg_Medical                     int8
 54  mccg_Entertainment               int8
 55  mccg_Automotive_Home             int8
 56  mccg_Utilities_Government        int8
 57  mccg_Professional_Services       int8
 58  mccg_Industrial_/_Manufacturing  int8
 59  mccg_Logistics_Freight           int8
dtypes: float32(5), float64(3), int16(4), int64(10), int8(33), object(5)
memory usage: 1.5+ GB

In [125]:
trans["card_number"].value_counts()

card_number
5412731781518758    20448
357731604070533     19338
5809446324429038    17647
352397360356465     15885
5476407228285230    14762
                    ...
4729953228374508        1
4025546651211985        1
4620908286307575        1
5772874140116142        1
4553257553445993        1
Name: count, Length: 3991, dtype: int64

In [126]:
trans.drop("card_number", axis=1, inplace=True)

In [124]:
trans["is_online"].value_counts()

is_online
0    6756710
1     890768
Name: count, dtype: int64

In [127]:
trans["card_brand"].value_counts()

card_brand
Mastercard    4112465
Visa          2849226
Amex           493073
Discover       192714
Name: count, dtype: int64

In [128]:
trans["card_brand"] = (
    trans["card_brand"]
    .astype(str)
    .str.strip()
    .str.title()   # Visa / Mastercard / Amex / Discover
)

BRANDS = ["Visa", "Mastercard", "Amex", "Discover"]

for b in BRANDS:
    trans[f"cb_{b}"] = (trans["card_brand"] == b).astype(np.int8)

In [130]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 63 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip                              float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  card_brand                       object
 21  has_chip                         int8
 22  num_cards_issued                 int64
 23  credit_limit                     float32
 24  year_pin_last_changed            int64
 25  fraud                            int8
 26  is_online                        int8
 27  has_error                        int8
 28  err_bad_card_number              int8
 29  err_bad_expiration               int8
 30  err_bad_cvv                      int8
 31  err_bad_pin                      int8
 32  err_bad_zipcode                  int8
 33  err_insufficient_balance         int8
 34  err_technical_glitch             int8
 35  acct_open_year                   int16
 36  acct_open_month                  int8
 37  expires_year                     int16
 38  expires_month                    int8
 39  months_to_expire                 int16
 40  tx_year                          int16
 41  tx_month                         int8
 42  tx_hour                          int8
 43  is_weekend                       int8
 44  is_credit                        int8
 45  is_prepaid                       int8
 46  male                             int8
 47  mccg_Food_Daily                  int8
 48  mccg_Transport_Travel            int8
 49  mccg_Digital_Online              int8
 50  mccg_Financial                   int8
 51  mccg_Retail                      int8
 52  mccg_Medical                     int8
 53  mccg_Entertainment               int8
 54  mccg_Automotive_Home             int8
 55  mccg_Utilities_Government        int8
 56  mccg_Professional_Services       int8
 57  mccg_Industrial_/_Manufacturing  int8
 58  mccg_Logistics_Freight           int8
 59  cb_Visa                          int8
 60  cb_Mastercard                    int8
 61  cb_Amex                          int8
 62  cb_Discover                      int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(37), object(5)
memory usage: 1.4+ GB

In [132]:
trans.drop("card_brand", axis=1, inplace=True)
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 62 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip                              float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  has_chip                         int8
 21  num_cards_issued                 int64
 22  credit_limit                     float32
 23  year_pin_last_changed            int64
 24  fraud                            int8
 25  is_online                        int8
 26  has_error                        int8
 27  err_bad_card_number              int8
 28  err_bad_expiration               int8
 29  err_bad_cvv                      int8
 30  err_bad_pin                      int8
 31  err_bad_zipcode                  int8
 32  err_insufficient_balance         int8
 33  err_technical_glitch             int8
 34  acct_open_year                   int16
 35  acct_open_month                  int8
 36  expires_year                     int16
 37  expires_month                    int8
 38  months_to_expire                 int16
 39  tx_year                          int16
 40  tx_month                         int8
 41  tx_hour                          int8
 42  is_weekend                       int8
 43  is_credit                        int8
 44  is_prepaid                       int8
 45  male                             int8
 46  mccg_Food_Daily                  int8
 47  mccg_Transport_Travel            int8
 48  mccg_Digital_Online              int8
 49  mccg_Financial                   int8
 50  mccg_Retail                      int8
 51  mccg_Medical                     int8
 52  mccg_Entertainment               int8
 53  mccg_Automotive_Home             int8
 54  mccg_Utilities_Government        int8
 55  mccg_Professional_Services       int8
 56  mccg_Industrial_/_Manufacturing  int8
 57  mccg_Logistics_Freight           int8
 58  cb_Visa                          int8
 59  cb_Mastercard                    int8
 60  cb_Amex                          int8
 61  cb_Discover                      int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(37), object(4)
memory usage: 1.4+ GB

In [133]:
trans["zip"].unique()

array([58523., 52722., 92084., ..., 76448., 37873., 61025.])

In [134]:
trans["zip5"] = (
    pd.to_numeric(trans["zip"], errors="coerce")
      .astype("Int64")          # NaN 허용 정수
      .astype(str)
      .replace("<NA>", np.nan)
      .str.zfill(5)             # 앞자리 0 보존
)

In [135]:
trans["zip5"].str.len().value_counts(dropna=False)
trans["zip5"].head()

0    58523
1    52722
2    92084
3    20776
4    10464
Name: zip5, dtype: object

In [137]:
uszips = pd.read_csv("uszips.csv", dtype={"zip": str})

uszips = uszips.rename(columns={
    "lat": "merchant_lat",
    "lng": "merchant_lon"
})

uszips["zip"] = uszips["zip"].str.zfill(5)

In [139]:
trans = trans.merge(
    uszips[["zip", "merchant_lat", "merchant_lon"]],
    left_on="zip5",
    right_on="zip",
    how="left"
).drop(columns=["zip"], errors="ignore")

In [140]:
match_rate = trans["merchant_lat"].notna().mean()
print("ZIP → 좌표 매칭률:", match_rate)

ZIP → 좌표 매칭률: 0.8643729344497624

In [141]:
# 0) merchant 좌표 붙인 뒤라고 가정: merchant_lat, merchant_lon 존재
has_coord = trans["merchant_lat"].notna() & trans["merchant_lon"].notna()

# zip5 결측(=원천 zip 결측/이상)
zip_missing = trans["zip5"].isna()

# zip은 있는데 좌표가 없는 경우(=uszips에 없는 zip)
zip_present_but_no_coord = (~zip_missing) & (~has_coord)

print("전체 매칭률:", has_coord.mean())
print("zip5 결측 비율:", zip_missing.mean())
print("zip5는 있는데 좌표 없음(uszips 미포함 zip) 비율:", zip_present_but_no_coord.mean())

# 온라인 제외한 매칭률도 확인(온라인이면 거리 의미 X)
if "is_online" in trans.columns:
    non_online = trans["is_online"] == 0
    print("\n[non-online only]")
    print("non-online 매칭률:", has_coord[non_online].mean())
    print("non-online에서 zip5 결측 비율:", zip_missing[non_online].mean())
    print("non-online에서 zip 존재 but no coord 비율:", zip_present_but_no_coord[non_online].mean())

# 실제로 uszips에 없는 zip TOP (진짜 원인 zip 확인)
print("\nTOP 20 zip (present but no coord):")
print(trans.loc[zip_present_but_no_coord, "zip5"].value_counts().head(20))

전체 매칭률: 0.8643729344497624
zip5 결측 비율: 0.12329672605792394
zip5는 있는데 좌표 없음(uszips 미포함 zip) 비율: 0.012330339492313675

[non-online only]
non-online 매칭률: 0.9783271740240442
non-online에서 zip5 결측 비율: 0.007716921401096095
non-online에서 zip 존재 but no coord 비율: 0.013955904574859658

TOP 20 zip (present but no coord):
zip5
46581    5335
31139    5290
32644    3267
94101    3139
88062    2278
37717    2226
60006    2054
93014    1852
02241    1521
36831    1307
95812    1263
74355    1210
28680    1079
39282    1056
37605    1021
22009     997
20875     933
38835     916
32353     913
06922     911
Name: count, dtype: int64

In [142]:
trans["has_distance"] = (
    trans["merchant_lat"].notna() &
    trans["merchant_lon"].notna() &
    (trans["is_online"] == 0)
).astype("int8")

In [143]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 67 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip_x                            float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  has_chip                         int8
 21  num_cards_issued                 int64
 22  credit_limit                     float32
 23  year_pin_last_changed            int64
 24  fraud                            int8
 25  is_online                        int8
 26  has_error                        int8
 27  err_bad_card_number              int8
 28  err_bad_expiration               int8
 29  err_bad_cvv                      int8
 30  err_bad_pin                      int8
 31  err_bad_zipcode                  int8
 32  err_insufficient_balance         int8
 33  err_technical_glitch             int8
 34  acct_open_year                   int16
 35  acct_open_month                  int8
 36  expires_year                     int16
 37  expires_month                    int8
 38  months_to_expire                 int16
 39  tx_year                          int16
 40  tx_month                         int8
 41  tx_hour                          int8
 42  is_weekend                       int8
 43  is_credit                        int8
 44  is_prepaid                       int8
 45  male                             int8
 46  mccg_Food_Daily                  int8
 47  mccg_Transport_Travel            int8
 48  mccg_Digital_Online              int8
 49  mccg_Financial                   int8
 50  mccg_Retail                      int8
 51  mccg_Medical                     int8
 52  mccg_Entertainment               int8
 53  mccg_Automotive_Home             int8
 54  mccg_Utilities_Government        int8
 55  mccg_Professional_Services       int8
 56  mccg_Industrial_/_Manufacturing  int8
 57  mccg_Logistics_Freight           int8
 58  cb_Visa                          int8
 59  cb_Mastercard                    int8
 60  cb_Amex                          int8
 61  cb_Discover                      int8
 62  zip5                             object
 63  zip_y                            object
 64  merchant_lat                     float64
 65  merchant_lon                     float64
 66  has_distance                     int8
dtypes: float32(5), float64(5), int16(4), int64(9), int8(38), object(6)
memory usage: 1.6+ GB

In [144]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0088  # km
    lat1 = np.radians(lat1.astype(float))
    lon1 = np.radians(lon1.astype(float))
    lat2 = np.radians(lat2.astype(float))
    lon2 = np.radians(lon2.astype(float))

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

# distance 계산 대상: has_distance == 1
mask = trans["has_distance"] == 1

trans["distance_km"] = np.nan
trans.loc[mask, "distance_km"] = haversine_km(
    trans.loc[mask, "latitude"],
    trans.loc[mask, "longitude"],
    trans.loc[mask, "merchant_lat"],
    trans.loc[mask, "merchant_lon"],
).astype("float32")

In [145]:
trans["distance_km"].describe()
trans.loc[trans["has_distance"]==0, "distance_km"].isna().mean()

np.float64(1.0)

In [ ]:
trans.loc[trans["has_distance"]==1, "distance_km"].isna().mean()

np.float64(0.0)

In [147]:
drop_cols = [
    "merchant_city", "merchant_state", "zip5", "zip_x", "zip_y", "zip",
    "address",
    "merchant_lat", "merchant_lon",
    "latitude", "longitude",
]

trans.drop(columns=drop_cols, inplace=True, errors="ignore")

In [148]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 58 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   current_age                      int64
 6   retirement_age                   int64
 7   birth_year                       int64
 8   birth_month                      int8
 9   per_capita_income                float32
 10  yearly_income                    float32
 11  total_debt                       float32
 12  credit_score                     int64
 13  num_credit_cards                 int8
 14  has_chip                         int8
 15  num_cards_issued                 int64
 16  credit_limit                     float32
 17  year_pin_last_changed            int64
 18  fraud                            int8
 19  is_online                        int8
 20  has_error                        int8
 21  err_bad_card_number              int8
 22  err_bad_expiration               int8
 23  err_bad_cvv                      int8
 24  err_bad_pin                      int8
 25  err_bad_zipcode                  int8
 26  err_insufficient_balance         int8
 27  err_technical_glitch             int8
 28  acct_open_year                   int16
 29  acct_open_month                  int8
 30  expires_year                     int16
 31  expires_month                    int8
 32  months_to_expire                 int16
 33  tx_year                          int16
 34  tx_month                         int8
 35  tx_hour                          int8
 36  is_weekend                       int8
 37  is_credit                        int8
 38  is_prepaid                       int8
 39  male                             int8
 40  mccg_Food_Daily                  int8
 41  mccg_Transport_Travel            int8
 42  mccg_Digital_Online              int8
 43  mccg_Financial                   int8
 44  mccg_Retail                      int8
 45  mccg_Medical                     int8
 46  mccg_Entertainment               int8
 47  mccg_Automotive_Home             int8
 48  mccg_Utilities_Government        int8
 49  mccg_Professional_Services       int8
 50  mccg_Industrial_/_Manufacturing  int8
 51  mccg_Logistics_Freight           int8
 52  cb_Visa                          int8
 53  cb_Mastercard                    int8
 54  cb_Amex                          int8
 55  cb_Discover                      int8
 56  has_distance                     int8
 57  distance_km                      float64
dtypes: float32(5), float64(1), int16(4), int64(9), int8(38), object(1)
memory usage: 1.1+ GB

In [149]:
trans["distance_km"]

0           93.137779
1          101.215202
2            9.462576
3            1.169253
4            6.638261
              ...
7647473      1.191052
7647474    107.713852
7647475      6.395624
7647476      6.107080
7647477      3.093933
Name: distance_km, Length: 7647478, dtype: float64