In [1]:
import pandas as pd
import numpy as np
trans = pd.read_csv("original/transactions_data.csv")
users = pd.read_csv("original/users_data.csv")
cards = pd.read_csv("original/cards_data.csv")

In [2]:
trans.columns

Index(['id', 'date', 'client_id', 'card_id', 'amount', 'use_chip',
       'merchant_id', 'merchant_city', 'merchant_state', 'zip', 'mcc',
       'errors'],
      dtype='object')

In [3]:
cards.columns

Index(['id', 'client_id', 'card_brand', 'card_type', 'card_number', 'expires',
       'cvv', 'has_chip', 'num_cards_issued', 'credit_limit', 'acct_open_date',
       'year_pin_last_changed', 'card_on_dark_web'],
      dtype='object')

In [4]:
users.columns

Index(['id', 'current_age', 'retirement_age', 'birth_year', 'birth_month',
       'gender', 'address', 'latitude', 'longitude', 'per_capita_income',
       'yearly_income', 'total_debt', 'credit_score', 'num_credit_cards'],
      dtype='object')

In [5]:
trans = trans[trans["client_id"].isin(users["id"])]
trans = trans[trans["card_id"].isin(cards["id"])]

In [6]:
trans.shape

(11413790, 12)

In [7]:
users_renamed = users.rename(columns={"id": "client_id"})
trans = trans.merge(
    users_renamed,
    on="client_id",
    how="left",
    validate="m:1"
)

In [8]:
trans.shape

(11413790, 25)

In [9]:
cards.shape

(6146, 13)

In [10]:
cards_renamed = cards.rename(columns={"id": "card_id"})
trans = trans.merge(
    cards_renamed,
    on="card_id",
    how="left",
    validate="m:1"
)
trans.shape

(11413790, 37)

In [11]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11413790 entries, 0 to 11413789
Data columns (total 37 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   date                   object
 2   client_id_x            int64
 3   card_id                int64
 4   amount                 object
 5   use_chip               object
 6   merchant_id            int64
 7   merchant_city          object
 8   merchant_state         object
 9   zip                    float64
 10  mcc                    float64
 11  errors                 object
 12  current_age            int64
 13  retirement_age         int64
 14  birth_year             int64
 15  birth_month            int64
 16  gender                 object
 17  address                object
 18  latitude               float64
 19  longitude              float64
 20  per_capita_income      object
 21  yearly_income          object
 22  total_debt             object
 23  credit_score           int64
 24  num_credit_cards       int64
 25  client_id_y            int64
 26  card_brand             object
 27  card_type              object
 28  card_number            int64
 29  expires                object
 30  cvv                    int64
 31  has_chip               object
 32  num_cards_issued       int64
 33  credit_limit           object
 34  acct_open_date         object
 35  year_pin_last_changed  int64
 36  card_on_dark_web       object
dtypes: float64(4), int64(15), object(18)
memory usage: 3.1+ GB

In [12]:
trans["use_chip"].value_counts()

use_chip
Swipe Transaction     6646662
Chip Transaction      3437680
Online Transaction    1329448
Name: count, dtype: int64

In [13]:
trans.isnull().sum()

id                              0
date                            0
client_id_x                     0
card_id                         0
amount                          0
use_chip                        0
merchant_id                     0
merchant_city                   0
merchant_state            1333544
zip                       1407469
mcc                             1
errors                   11232582
current_age                     0
retirement_age                  0
birth_year                      0
birth_month                     0
gender                          0
address                         0
latitude                        0
longitude                       0
per_capita_income               0
yearly_income                   0
total_debt                      0
credit_score                    0
num_credit_cards                0
client_id_y                     0
card_brand                      0
card_type                       0
card_number                     0
expires                         0
cvv                             0
has_chip                        0
num_cards_issued                0
credit_limit                    0
acct_open_date                  0
year_pin_last_changed           0
card_on_dark_web                0
dtype: int64

In [14]:
cards

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6141,5361,185,Amex,Credit,300609782832003,01/2024,663,YES,1,$6900,11/2000,2013,No
6142,2711,185,Visa,Credit,4718517475996018,01/2021,492,YES,2,$5700,04/2012,2012,No
6143,1305,1007,Mastercard,Credit,5929512204765914,08/2020,237,NO,2,$9200,02/2012,2012,No
6144,743,1110,Mastercard,Debit,5589768928167462,01/2020,630,YES,1,$28074,01/2020,2020,No
6145,3199,1110,Visa,Credit,4994011318343994,12/2020,120,YES,1,$14400,05/2017,2017,No

In [15]:
trans.head()

,id,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,...,Debit (Prepaid),5497590243197280,07/2022,306,YES,2,$55,05/2008,2008,No
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,...,Credit,5175842699412235,12/2024,438,YES,1,$9100,09/2005,2015,No
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,...,Debit,5874992802287595,05/2020,256,YES,1,$14802,01/2006,2008,No
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,...,Debit,5346827663529174,10/2024,54,NO,2,$37634,05/2004,2006,No
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,...,Debit,4354185735186651,01/2020,120,YES,1,$19113,07/2009,2014,No

In [16]:
trans[["client_id_x", "client_id_y"]]

          client_id_x  client_id_y
0                1556         1556
1                 561          561
2                1129         1129
3                 430          430
4                 848          848
...               ...          ...
11413785         1362         1362
11413786         1777         1777
11413787         1794         1794
11413788          252          252
11413789          425          425

[11413790 rows x 2 columns]

In [17]:
print((trans["client_id_x"] == trans["client_id_y"]).all())

True

In [18]:
trans.drop("client_id_y", axis=1, inplace=True)

In [19]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11413790 entries, 0 to 11413789
Data columns (total 36 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     int64
 1   date                   object
 2   client_id_x            int64
 3   card_id                int64
 4   amount                 object
 5   use_chip               object
 6   merchant_id            int64
 7   merchant_city          object
 8   merchant_state         object
 9   zip                    float64
 10  mcc                    float64
 11  errors                 object
 12  current_age            int64
 13  retirement_age         int64
 14  birth_year             int64
 15  birth_month            int64
 16  gender                 object
 17  address                object
 18  latitude               float64
 19  longitude              float64
 20  per_capita_income      object
 21  yearly_income          object
 22  total_debt             object
 23  credit_score           int64
 24  num_credit_cards       int64
 25  card_brand             object
 26  card_type              object
 27  card_number            int64
 28  expires                object
 29  cvv                    int64
 30  has_chip               object
 31  num_cards_issued       int64
 32  credit_limit           object
 33  acct_open_date         object
 34  year_pin_last_changed  int64
 35  card_on_dark_web       object
dtypes: float64(4), int64(14), object(18)
memory usage: 3.1+ GB

In [20]:
import ijson

ids = []
labels = []

with open("original/train_fraud_labels.json", "rb") as f:
    for k, v in ijson.kvitems(f, "target"):
        kid = int(str(k).strip())
        ids.append(kid)
        labels.append(1 if v == "Yes" else 0)

labels_df = pd.DataFrame({"id": ids, "fraud": labels}).astype({"fraud": "int8"})
labels_df

               id  fraud
0        10649266      0
1        23410063      0
2         9316588      0
3        12478022      0
4         9558530      0
...           ...    ...
8914958  14064699      0
8914959   7676538      0
8914960  15131030      0
8914961  17244732      0
8914962  15151926      0

[8914963 rows x 2 columns]

In [21]:
trans = trans.merge(labels_df, on="id", how="inner")
trans

,id,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,fraud
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,...,5497590243197280,07/2022,306,YES,2,$55,05/2008,2008,No,0
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,...,5175842699412235,12/2024,438,YES,1,$9100,09/2005,2015,No,0
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,...,5874992802287595,05/2020,256,YES,1,$14802,01/2006,2008,No,0
3,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,...,4354185735186651,01/2020,120,YES,1,$19113,07/2009,2014,No,0
4,7475333,2010-01-01 00:07:00,1807,165,$4.81,Swipe Transaction,20519,Bronx,NY,10464.0,...,5207231566469664,03/2014,198,YES,1,$89,01/2008,2015,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647519,21421689,2018-06-23 11:12:00,227,5867,$58.32,Chip Transaction,64730,Minneapolis,MN,55419.0,...,4329687142518026,10/2020,827,YES,1,$25200,12/2006,2016,No,0
7647520,21421690,2018-06-23 11:12:00,371,3134,$21.70,Chip Transaction,3847,Richmond,VA,23226.0,...,5931001528763541,12/2018,471,YES,2,$27600,05/2013,2013,No,0
7647521,21421691,2018-06-23 11:12:00,1225,2338,$37.00,Chip Transaction,18586,San Rafael,CA,94901.0,...,4529057760721503,04/2020,270,YES,2,$2400,03/2014,2014,No,0
7647522,21421693,2018-06-23 11:12:00,1362,2274,$23.21,Chip Transaction,75316,Star Tannery,VA,22654.0,...,5467215736629408,07/2023,98,YES,2,$44,03/2011,2016,No,0
7647523,21421698,2018-06-23 11:13:00,252,3675,$70.29,Chip Transaction,38882,Butler,OH,44822.0,...,5167343609558637,10/2024,394,YES,1,$10700,07/2002,2013,No,0

In [22]:
trans.shape

(7647524, 37)

In [23]:
trans.drop("id", axis=1, inplace=True)
trans.shape

(7647524, 36)

In [24]:
trans["is_online"] = (trans["use_chip"] == "Online Transaction").astype(int)
trans

,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,fraud,is_online
0,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499.0,...,07/2022,306,YES,2,$55,05/2008,2008,No,0,0
1,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311.0,...,12/2024,438,YES,1,$9100,09/2005,2015,No,0,0
2,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829.0,...,05/2020,256,YES,1,$14802,01/2006,2008,No,0,0
3,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813.0,...,01/2020,120,YES,1,$19113,07/2009,2014,No,0,0
4,2010-01-01 00:07:00,1807,165,$4.81,Swipe Transaction,20519,Bronx,NY,10464.0,5942.0,...,03/2014,198,YES,1,$89,01/2008,2015,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647519,2018-06-23 11:12:00,227,5867,$58.32,Chip Transaction,64730,Minneapolis,MN,55419.0,5211.0,...,10/2020,827,YES,1,$25200,12/2006,2016,No,0,0
7647520,2018-06-23 11:12:00,371,3134,$21.70,Chip Transaction,3847,Richmond,VA,23226.0,5411.0,...,12/2018,471,YES,2,$27600,05/2013,2013,No,0,0
7647521,2018-06-23 11:12:00,1225,2338,$37.00,Chip Transaction,18586,San Rafael,CA,94901.0,5310.0,...,04/2020,270,YES,2,$2400,03/2014,2014,No,0,0
7647522,2018-06-23 11:12:00,1362,2274,$23.21,Chip Transaction,75316,Star Tannery,VA,22654.0,5812.0,...,07/2023,98,YES,2,$44,03/2011,2016,No,0,0
7647523,2018-06-23 11:13:00,252,3675,$70.29,Chip Transaction,38882,Butler,OH,44822.0,5655.0,...,10/2024,394,YES,1,$10700,07/2002,2013,No,0,0

In [25]:
trans["is_online"].value_counts()

is_online
0    6756753
1     890771
Name: count, dtype: int64

In [26]:
trans["amount"] = (trans["amount"].str.replace("$", "", regex=False).astype("float32"))

In [27]:
trans

,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,fraud,is_online
0,2010-01-01 00:01:00,1556,2972,-77.000000,Swipe Transaction,59935,Beulah,ND,58523.0,5499.0,...,07/2022,306,YES,2,$55,05/2008,2008,No,0,0
1,2010-01-01 00:02:00,561,4575,14.570000,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311.0,...,12/2024,438,YES,1,$9100,09/2005,2015,No,0,0
2,2010-01-01 00:02:00,1129,102,80.000000,Swipe Transaction,27092,Vista,CA,92084.0,4829.0,...,05/2020,256,YES,1,$14802,01/2006,2008,No,0,0
3,2010-01-01 00:06:00,848,3915,46.410000,Swipe Transaction,13051,Harwood,MD,20776.0,5813.0,...,01/2020,120,YES,1,$19113,07/2009,2014,No,0,0
4,2010-01-01 00:07:00,1807,165,4.810000,Swipe Transaction,20519,Bronx,NY,10464.0,5942.0,...,03/2014,198,YES,1,$89,01/2008,2015,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647519,2018-06-23 11:12:00,227,5867,58.320000,Chip Transaction,64730,Minneapolis,MN,55419.0,5211.0,...,10/2020,827,YES,1,$25200,12/2006,2016,No,0,0
7647520,2018-06-23 11:12:00,371,3134,21.700001,Chip Transaction,3847,Richmond,VA,23226.0,5411.0,...,12/2018,471,YES,2,$27600,05/2013,2013,No,0,0
7647521,2018-06-23 11:12:00,1225,2338,37.000000,Chip Transaction,18586,San Rafael,CA,94901.0,5310.0,...,04/2020,270,YES,2,$2400,03/2014,2014,No,0,0
7647522,2018-06-23 11:12:00,1362,2274,23.209999,Chip Transaction,75316,Star Tannery,VA,22654.0,5812.0,...,07/2023,98,YES,2,$44,03/2011,2016,No,0,0
7647523,2018-06-23 11:13:00,252,3675,70.290001,Chip Transaction,38882,Butler,OH,44822.0,5655.0,...,10/2024,394,YES,1,$10700,07/2002,2013,No,0,0

In [28]:
trans.isnull().sum()

date                           0
client_id_x                    0
card_id                        0
amount                         0
use_chip                       0
merchant_id                    0
merchant_city                  0
merchant_state            893521
zip                       942920
mcc                            0
errors                   7525963
current_age                    0
retirement_age                 0
birth_year                     0
birth_month                    0
gender                         0
address                        0
latitude                       0
longitude                      0
per_capita_income              0
yearly_income                  0
total_debt                     0
credit_score                   0
num_credit_cards               0
card_brand                     0
card_type                      0
card_number                    0
expires                        0
cvv                            0
has_chip                       0
num_cards_issued               0
credit_limit                   0
acct_open_date                 0
year_pin_last_changed          0
card_on_dark_web               0
fraud                          0
is_online                      0
dtype: int64

In [29]:
errors_type = trans["errors"].unique()
errors_type

array([nan, 'Bad Expiration', 'Bad Card Number', 'Insufficient Balance',
       'Bad PIN', 'Technical Glitch', 'Bad CVV',
       'Insufficient Balance,Technical Glitch',
       'Bad PIN,Insufficient Balance', 'Bad Zipcode',
       'Bad Expiration,Technical Glitch',
       'Bad Card Number,Bad Expiration', 'Bad PIN,Technical Glitch',
       'Bad Card Number,Insufficient Balance',
       'Bad Expiration,Insufficient Balance', 'Bad Card Number,Bad CVV',
       'Bad CVV,Technical Glitch', 'Bad CVV,Insufficient Balance',
       'Bad Card Number,Technical Glitch',
       'Bad Zipcode,Insufficient Balance',
       'Bad Card Number,Bad Expiration,Insufficient Balance',
       'Bad Expiration,Bad CVV', 'Bad Zipcode,Technical Glitch'],
      dtype=object)

In [30]:
unique_errors = (
    pd.Series(errors_type)
    .dropna()
    .str.split(",")
    .explode()
    .str.strip()
    .unique()
)
print(unique_errors)

['Bad Expiration' 'Bad Card Number' 'Insufficient Balance' 'Bad PIN'
 'Technical Glitch' 'Bad CVV' 'Bad Zipcode']

Errors
├── Card Credential Errors (카드 정보 입력 오류)
│   ├── Bad Card Number
│   ├── Bad Expiration
│   └── Bad CVV
│
├── Authentication Errors (본인 인증 실패)
│   ├── Bad PIN
│   └── Bad Zipcode
│
├── Financial Constraint Errors (자금 부족)
│   └── Insufficient Balance
│
└── System Errors (시스템 문제)
    └── Technical Glitch

In [31]:
err = trans["errors"]

# 에러 존재 여부 
trans["has_error"] = err.notna().astype("int8")

trans["err_bad_card_number"] = err.str.contains(
    "Bad Card Number",
    na=False
).astype("int8")

trans["err_bad_expiration"] = err.str.contains(
    "Bad Expiration",
    na=False
).astype("int8")

trans["err_bad_cvv"] = err.str.contains(
    "Bad CVV",
    na=False
).astype("int8")

trans["err_bad_pin"] = err.str.contains(
    "Bad PIN",
    na=False
).astype("int8")

trans["err_bad_zipcode"] = err.str.contains(
    "Bad Zipcode",
    na=False
).astype("int8")

trans["err_insufficient_balance"] = err.str.contains(
    "Insufficient Balance",
    na=False
).astype("int8")

trans["err_technical_glitch"] = err.str.contains(
    "Technical Glitch",
    na=False
).astype("int8")

In [32]:
trans.head()

,date,client_id_x,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,...,fraud,is_online,has_error,err_bad_card_number,err_bad_expiration,err_bad_cvv,err_bad_pin,err_bad_zipcode,err_insufficient_balance,err_technical_glitch
0,2010-01-01 00:01:00,1556,2972,-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499.0,...,0,0,0,0,0,0,0,0,0,0
1,2010-01-01 00:02:00,561,4575,14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311.0,...,0,0,0,0,0,0,0,0,0,0
2,2010-01-01 00:02:00,1129,102,80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829.0,...,0,0,0,0,0,0,0,0,0,0
3,2010-01-01 00:06:00,848,3915,46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813.0,...,0,0,0,0,0,0,0,0,0,0
4,2010-01-01 00:07:00,1807,165,4.81,Swipe Transaction,20519,Bronx,NY,10464.0,5942.0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
trans.drop("errors", axis=1, inplace=True)
trans.isnull().sum()

date                             0
client_id_x                      0
card_id                          0
amount                           0
use_chip                         0
merchant_id                      0
merchant_city                    0
merchant_state              893521
zip                         942920
mcc                              0
current_age                      0
retirement_age                   0
birth_year                       0
birth_month                      0
gender                           0
address                          0
latitude                         0
longitude                        0
per_capita_income                0
yearly_income                    0
total_debt                       0
credit_score                     0
num_credit_cards                 0
card_brand                       0
card_type                        0
card_number                      0
expires                          0
cvv                              0
has_chip                         0
num_cards_issued                 0
credit_limit                     0
acct_open_date                   0
year_pin_last_changed            0
card_on_dark_web                 0
fraud                            0
is_online                        0
has_error                        0
err_bad_card_number              0
err_bad_expiration               0
err_bad_cvv                      0
err_bad_pin                      0
err_bad_zipcode                  0
err_insufficient_balance         0
err_technical_glitch             0
dtype: int64

In [34]:
trans["is_online"].value_counts()

is_online
0    6756753
1     890771
Name: count, dtype: int64

In [35]:
trans["cvv"].value_counts()

cvv
265    34929
269    26821
599    26325
270    25637
480    25433
       ...
801      263
897      231
361       88
901       67
97        17
Name: count, Length: 983, dtype: int64

In [36]:
trans.drop("cvv", axis=1, inplace=True)

In [37]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647524 entries, 0 to 7647523
Data columns (total 43 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      object
 1   client_id_x               int64
 2   card_id                   int64
 3   amount                    float32
 4   use_chip                  object
 5   merchant_id               int64
 6   merchant_city             object
 7   merchant_state            object
 8   zip                       float64
 9   mcc                       float64
 10  current_age               int64
 11  retirement_age            int64
 12  birth_year                int64
 13  birth_month               int64
 14  gender                    object
 15  address                   object
 16  latitude                  float64
 17  longitude                 float64
 18  per_capita_income         object
 19  yearly_income             object
 20  total_debt                object
 21  credit_score              int64
 22  num_credit_cards          int64
 23  card_brand                object
 24  card_type                 object
 25  card_number               int64
 26  expires                   object
 27  has_chip                  object
 28  num_cards_issued          int64
 29  credit_limit              object
 30  acct_open_date            object
 31  year_pin_last_changed     int64
 32  card_on_dark_web          object
 33  fraud                     int8
 34  is_online                 int64
 35  has_error                 int8
 36  err_bad_card_number       int8
 37  err_bad_expiration        int8
 38  err_bad_cvv               int8
 39  err_bad_pin               int8
 40  err_bad_zipcode           int8
 41  err_insufficient_balance  int8
 42  err_technical_glitch      int8
dtypes: float32(1), float64(4), int64(13), int8(9), object(16)
memory usage: 2.0+ GB

In [38]:
trans["card_on_dark_web"].unique()

array(['No'], dtype=object)

In [39]:
trans.drop("card_on_dark_web", axis=1, inplace=True)

In [40]:
trans["year_pin_last_changed"].head()

0    2008
1    2015
2    2008
3    2014
4    2015
Name: year_pin_last_changed, dtype: int64

In [41]:
trans["year_pin_last_changed"].astype("Int16")

0          2008
1          2015
2          2008
3          2014
4          2015
           ...
7647519    2016
7647520    2013
7647521    2014
7647522    2016
7647523    2013
Name: year_pin_last_changed, Length: 7647524, dtype: Int16

In [42]:
trans["acct_open_date"].head()

0    05/2008
1    09/2005
2    01/2006
3    07/2009
4    01/2008
Name: acct_open_date, dtype: object

In [43]:
trans["acct_open_date"] = pd.to_datetime(
    trans["acct_open_date"],
    format="%m/%Y",
    errors="coerce"
)

In [44]:
trans["acct_open_year"] = trans["acct_open_date"].dt.year.astype("int16")
trans["acct_open_month"] = trans["acct_open_date"].dt.month.astype("int8")

In [45]:
trans["expires"].head()

0    07/2022
1    12/2024
2    05/2020
3    01/2020
4    03/2014
Name: expires, dtype: object

In [46]:
trans["expires"] = pd.to_datetime(
    trans["expires"],
    format="%m/%Y",
    errors="coerce"
)
trans["expires_year"] = trans["expires"].dt.year.astype("int16")
trans["expires_month"] = trans["expires"].dt.month.astype("int8")

In [47]:
trans["date"] = pd.to_datetime(
    trans["date"],
    format="%Y-%m-%d %H:%M:%S",
    errors="coerce"
)

ref_date = trans["date"]

months_to_expire = (
    (trans["expires_year"] - ref_date.dt.year) * 12 +
    (trans["expires_month"] - ref_date.dt.month)
)

trans["months_to_expire"] = months_to_expire.astype("int16")

In [48]:
(trans["months_to_expire"] < 0).sum()

np.int64(46)

In [49]:
trans.loc[trans["months_to_expire"] < 0, "fraud"].value_counts()

fraud
0    45
1     1
Name: count, dtype: int64

In [50]:
trans = trans[trans["months_to_expire"] >= 0].copy()

In [51]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7647478 entries, 0 to 7647523
Data columns (total 47 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      datetime64[ns]
 1   client_id_x               int64
 2   card_id                   int64
 3   amount                    float32
 4   use_chip                  object
 5   merchant_id               int64
 6   merchant_city             object
 7   merchant_state            object
 8   zip                       float64
 9   mcc                       float64
 10  current_age               int64
 11  retirement_age            int64
 12  birth_year                int64
 13  birth_month               int64
 14  gender                    object
 15  address                   object
 16  latitude                  float64
 17  longitude                 float64
 18  per_capita_income         object
 19  yearly_income             object
 20  total_debt                object
 21  credit_score              int64
 22  num_credit_cards          int64
 23  card_brand                object
 24  card_type                 object
 25  card_number               int64
 26  expires                   datetime64[ns]
 27  has_chip                  object
 28  num_cards_issued          int64
 29  credit_limit              object
 30  acct_open_date            datetime64[ns]
 31  year_pin_last_changed     int64
 32  fraud                     int8
 33  is_online                 int64
 34  has_error                 int8
 35  err_bad_card_number       int8
 36  err_bad_expiration        int8
 37  err_bad_cvv               int8
 38  err_bad_pin               int8
 39  err_bad_zipcode           int8
 40  err_insufficient_balance  int8
 41  err_technical_glitch      int8
 42  acct_open_year            int16
 43  acct_open_month           int8
 44  expires_year              int16
 45  expires_month             int8
 46  months_to_expire          int16
dtypes: datetime64[ns](3), float32(1), float64(4), int16(3), int64(13), int8(11), object(12)
memory usage: 2.0+ GB

In [52]:
trans["is_online"] = trans["is_online"].astype("int8")

In [53]:
trans.drop(columns=["expires", "acct_open_date"], inplace=True)
trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7647478 entries, 0 to 7647523
Data columns (total 45 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      datetime64[ns]
 1   client_id_x               int64
 2   card_id                   int64
 3   amount                    float32
 4   use_chip                  object
 5   merchant_id               int64
 6   merchant_city             object
 7   merchant_state            object
 8   zip                       float64
 9   mcc                       float64
 10  current_age               int64
 11  retirement_age            int64
 12  birth_year                int64
 13  birth_month               int64
 14  gender                    object
 15  address                   object
 16  latitude                  float64
 17  longitude                 float64
 18  per_capita_income         object
 19  yearly_income             object
 20  total_debt                object
 21  credit_score              int64
 22  num_credit_cards          int64
 23  card_brand                object
 24  card_type                 object
 25  card_number               int64
 26  has_chip                  object
 27  num_cards_issued          int64
 28  credit_limit              object
 29  year_pin_last_changed     int64
 30  fraud                     int8
 31  is_online                 int8
 32  has_error                 int8
 33  err_bad_card_number       int8
 34  err_bad_expiration        int8
 35  err_bad_cvv               int8
 36  err_bad_pin               int8
 37  err_bad_zipcode           int8
 38  err_insufficient_balance  int8
 39  err_technical_glitch      int8
 40  acct_open_year            int16
 41  acct_open_month           int8
 42  expires_year              int16
 43  expires_month             int8
 44  months_to_expire          int16
dtypes: datetime64[ns](1), float32(1), float64(4), int16(3), int64(12), int8(12), object(12)
memory usage: 1.9+ GB

In [54]:
trans = trans.sort_values(
    ["date"]
).reset_index(drop=True)

In [55]:
trans["tx_year"] = trans["date"].dt.year.astype("int16")
trans["tx_month"] = trans["date"].dt.month.astype("int8")
trans["tx_hour"] = trans["date"].dt.hour.astype("int8")

In [56]:
trans["is_weekend"] = (trans["date"].dt.weekday >= 5).astype("int8")

In [57]:
trans.drop("date", axis=1, inplace=True)

In [58]:
trans["credit_limit"].unique()

array(['$55', '$9100', '$14802', ..., '$34888', '$50521', '$14247'],
      dtype=object)

In [59]:
trans["credit_limit"] = (trans["credit_limit"].str.replace("$", "", regex=False).astype("float32"))

In [60]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 48 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int64
 13  gender                    object
 14  address                   object
 15  latitude                  float64
 16  longitude                 float64
 17  per_capita_income         object
 18  yearly_income             object
 19  total_debt                object
 20  credit_score              int64
 21  num_credit_cards          int64
 22  card_brand                object
 23  card_type                 object
 24  card_number               int64
 25  has_chip                  object
 26  num_cards_issued          int64
 27  credit_limit              float32
 28  year_pin_last_changed     int64
 29  fraud                     int8
 30  is_online                 int8
 31  has_error                 int8
 32  err_bad_card_number       int8
 33  err_bad_expiration        int8
 34  err_bad_cvv               int8
 35  err_bad_pin               int8
 36  err_bad_zipcode           int8
 37  err_insufficient_balance  int8
 38  err_technical_glitch      int8
 39  acct_open_year            int16
 40  acct_open_month           int8
 41  expires_year              int16
 42  expires_month             int8
 43  months_to_expire          int16
 44  tx_year                   int16
 45  tx_month                  int8
 46  tx_hour                   int8
 47  is_weekend                int8
dtypes: float32(2), float64(4), int16(4), int64(12), int8(15), object(11)
memory usage: 1.8+ GB

In [61]:
trans["has_chip"].replace({"YES": 1, "NO": 0}, inplace=True)

/tmp/ipykernel_1040650/31722477.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  trans["has_chip"].replace({"YES": 1, "NO": 0}, inplace=True)
/tmp/ipykernel_1040650/31722477.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  trans["has_chip"].replace({"YES": 1, "NO": 0}, inplace=True)

In [62]:
trans["has_chip"] = trans["has_chip"].astype("int8")

In [63]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 48 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int64
 13  gender                    object
 14  address                   object
 15  latitude                  float64
 16  longitude                 float64
 17  per_capita_income         object
 18  yearly_income             object
 19  total_debt                object
 20  credit_score              int64
 21  num_credit_cards          int64
 22  card_brand                object
 23  card_type                 object
 24  card_number               int64
 25  has_chip                  int8
 26  num_cards_issued          int64
 27  credit_limit              float32
 28  year_pin_last_changed     int64
 29  fraud                     int8
 30  is_online                 int8
 31  has_error                 int8
 32  err_bad_card_number       int8
 33  err_bad_expiration        int8
 34  err_bad_cvv               int8
 35  err_bad_pin               int8
 36  err_bad_zipcode           int8
 37  err_insufficient_balance  int8
 38  err_technical_glitch      int8
 39  acct_open_year            int16
 40  acct_open_month           int8
 41  expires_year              int16
 42  expires_month             int8
 43  months_to_expire          int16
 44  tx_year                   int16
 45  tx_month                  int8
 46  tx_hour                   int8
 47  is_weekend                int8
dtypes: float32(2), float64(4), int16(4), int64(12), int8(16), object(10)
memory usage: 1.7+ GB

In [64]:
trans["card_type"].unique()

array(['Debit (Prepaid)', 'Credit', 'Debit'], dtype=object)

In [65]:
trans["is_credit"] = (
    trans["card_type"]
      .astype(str)
      .str.upper()
      .str.contains("CREDIT")
      .astype("int8")
)
trans["is_prepaid"] = (
    trans["card_type"]
      .astype(str)
      .str.upper()
      .str.contains("PREPAID")
      .astype("int8")
)
trans.drop("card_type", axis=1, inplace=True)

In [66]:
trans["num_credit_cards"] = trans["num_credit_cards"].astype("int8")

In [67]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int64
 13  gender                    object
 14  address                   object
 15  latitude                  float64
 16  longitude                 float64
 17  per_capita_income         object
 18  yearly_income             object
 19  total_debt                object
 20  credit_score              int64
 21  num_credit_cards          int8
 22  card_brand                object
 23  card_number               int64
 24  has_chip                  int8
 25  num_cards_issued          int64
 26  credit_limit              float32
 27  year_pin_last_changed     int64
 28  fraud                     int8
 29  is_online                 int8
 30  has_error                 int8
 31  err_bad_card_number       int8
 32  err_bad_expiration        int8
 33  err_bad_cvv               int8
 34  err_bad_pin               int8
 35  err_bad_zipcode           int8
 36  err_insufficient_balance  int8
 37  err_technical_glitch      int8
 38  acct_open_year            int16
 39  acct_open_month           int8
 40  expires_year              int16
 41  expires_month             int8
 42  months_to_expire          int16
 43  tx_year                   int16
 44  tx_month                  int8
 45  tx_hour                   int8
 46  is_weekend                int8
 47  is_credit                 int8
 48  is_prepaid                int8
dtypes: float32(2), float64(4), int16(4), int64(11), int8(19), object(9)
memory usage: 1.6+ GB

In [68]:
trans["total_debt"].unique()

array(['$110153', '$112139', '$36540', ..., '$98763', '$135478',
       '$109358'], dtype=object)

In [69]:
trans["total_debt"] = (trans["total_debt"].str.replace("$", "", regex=False).astype("float32"))

In [70]:
trans["yearly_income"].unique()

array(['$48277', '$36853', '$34449', ..., '$50523', '$53966', '$58959'],
      dtype=object)

In [71]:
trans["yearly_income"] = (trans["yearly_income"].str.replace("$", "", regex=False).astype("float32"))

In [72]:
trans["per_capita_income"] = (trans["per_capita_income"].str.replace("$", "", regex=False).astype("float32"))

In [73]:
trans["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [74]:
trans["male"] = (trans["gender"] == "Male").astype("int8")
trans.drop("gender", axis=1, inplace=True)

In [75]:
safe = trans.copy()

In [76]:
trans["birth_month"] = trans["birth_month"].astype("int8")

In [77]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id_x               int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int8
 13  address                   object
 14  latitude                  float64
 15  longitude                 float64
 16  per_capita_income         float32
 17  yearly_income             float32
 18  total_debt                float32
 19  credit_score              int64
 20  num_credit_cards          int8
 21  card_brand                object
 22  card_number               int64
 23  has_chip                  int8
 24  num_cards_issued          int64
 25  credit_limit              float32
 26  year_pin_last_changed     int64
 27  fraud                     int8
 28  is_online                 int8
 29  has_error                 int8
 30  err_bad_card_number       int8
 31  err_bad_expiration        int8
 32  err_bad_cvv               int8
 33  err_bad_pin               int8
 34  err_bad_zipcode           int8
 35  err_insufficient_balance  int8
 36  err_technical_glitch      int8
 37  acct_open_year            int16
 38  acct_open_month           int8
 39  expires_year              int16
 40  expires_month             int8
 41  months_to_expire          int16
 42  tx_year                   int16
 43  tx_month                  int8
 44  tx_hour                   int8
 45  is_weekend                int8
 46  is_credit                 int8
 47  is_prepaid                int8
 48  male                      int8
dtypes: float32(5), float64(4), int16(4), int64(10), int8(21), object(5)
memory usage: 1.4+ GB

In [78]:
trans.rename(columns={"client_id_x": "client_id"}, inplace=True)

In [79]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 49 columns):
 #   Column                    Dtype
---  ------                    -----
 0   client_id                 int64
 1   card_id                   int64
 2   amount                    float32
 3   use_chip                  object
 4   merchant_id               int64
 5   merchant_city             object
 6   merchant_state            object
 7   zip                       float64
 8   mcc                       float64
 9   current_age               int64
 10  retirement_age            int64
 11  birth_year                int64
 12  birth_month               int8
 13  address                   object
 14  latitude                  float64
 15  longitude                 float64
 16  per_capita_income         float32
 17  yearly_income             float32
 18  total_debt                float32
 19  credit_score              int64
 20  num_credit_cards          int8
 21  card_brand                object
 22  card_number               int64
 23  has_chip                  int8
 24  num_cards_issued          int64
 25  credit_limit              float32
 26  year_pin_last_changed     int64
 27  fraud                     int8
 28  is_online                 int8
 29  has_error                 int8
 30  err_bad_card_number       int8
 31  err_bad_expiration        int8
 32  err_bad_cvv               int8
 33  err_bad_pin               int8
 34  err_bad_zipcode           int8
 35  err_insufficient_balance  int8
 36  err_technical_glitch      int8
 37  acct_open_year            int16
 38  acct_open_month           int8
 39  expires_year              int16
 40  expires_month             int8
 41  months_to_expire          int16
 42  tx_year                   int16
 43  tx_month                  int8
 44  tx_hour                   int8
 45  is_weekend                int8
 46  is_credit                 int8
 47  is_prepaid                int8
 48  male                      int8
dtypes: float32(5), float64(4), int16(4), int64(10), int8(21), object(5)
memory usage: 1.4+ GB

In [80]:
trans["is_online"].value_counts()

is_online
0    6756710
1     890768
Name: count, dtype: int64

In [81]:
trans["mcc"] = pd.to_numeric(trans["mcc"], errors="coerce")
trans["mcc"] = trans["mcc"].astype("Int64")

In [ ]:
MCC_GROUP = {
    # 1) Food & Daily
    "Food & Daily": [
        "5812","5814","5813","5411","5499","5912","5921",
        "5300","5310","5311"
    ],

    # 2) Transport & Travel  (+ freight 일부 흡수, + 4112/4411 포함)
    "Transport & Travel": [
        "4111","4121","4131","4112",
        "3722","3771","3775",
        "4511","4411",
        "4722","7011","4784",
        "4214"  # Motor Freight -> 여기로 흡수
    ],

    # 3) Digital & Online
    "Digital & Online": [
        "5815","5816","4814","4899","3780"
    ],

    # 4) Financial
    "Financial": [
        "4829","6300","7276","8931"
    ],

    # 5) Retail
    "Retail": [
        "5045","5732","5733",
        "5941","5942","5947",
        "5661","5651","5655","5621",
        "5977","5970","5932",
        "5192","5193",
        "5712","5719","5722",
        "5094"
    ],

    # 6) Medical
    "Medical": [
        "8011","8021","8041","8043","8049","8062","8099"
    ],

    # 7) Entertainment 
    "Entertainment": [
        "7832","7922","7996","7801","7802","7995"
    ],

    # 8) Automotive & Home
    "Automotive & Home": [
        "5541", 
        "7531","7538","7542","7549","5533",
        "1711","5251","5261","5211","3504",
        "7210","7230","7349",
        "3640"
    ],

    # 9) Utilities & Government
    "Utilities & Government": [
        "4900","9402"
    ],

    # 10) Professional Services
    "Professional Services": [
        "8111","7393"
    ],

    # 11) Industrial / Manufacturing (나머지 제조/가공 계열)
    "Industrial / Manufacturing": [
        "3000","3001","3005","3006","3007","3008","3009",
        "3058","3066","3075",
        "3132","3144","3174",
        "3256","3260",
        "3359","3387","3389","3390","3393","3395","3405",
        "3509","3596","3684",
        "3730" 
    ],
}



trans["mcc"] = trans["mcc"].astype(str)

for group_name, mcc_list in MCC_GROUP.items():
    col_name = f"mccg_{group_name.replace(' & ', '_').replace(' ', '_')}"
    trans[col_name] = trans["mcc"].isin(mcc_list).astype(np.int8)

In [83]:
mccg_cols = [
    "mccg_Food_Daily",
    "mccg_Transport_Travel",
    "mccg_Digital_Online",
    "mccg_Financial",
    "mccg_Retail",
    "mccg_Medical",
    "mccg_Entertainment",
    "mccg_Automotive_Home",
    "mccg_Utilities_Government",
    "mccg_Professional_Services",
    "mccg_Industrial_/_Manufacturing",
]

all_zero_mask = (trans[mccg_cols].sum(axis=1) == 0)

all_zero_mask.sum()

np.int64(0)

In [85]:
trans.drop(columns=["mcc"], axis=1, inplace=True)

In [86]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 59 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip                              float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  card_brand                       object
 21  card_number                      int64
 22  has_chip                         int8
 23  num_cards_issued                 int64
 24  credit_limit                     float32
 25  year_pin_last_changed            int64
 26  fraud                            int8
 27  is_online                        int8
 28  has_error                        int8
 29  err_bad_card_number              int8
 30  err_bad_expiration               int8
 31  err_bad_cvv                      int8
 32  err_bad_pin                      int8
 33  err_bad_zipcode                  int8
 34  err_insufficient_balance         int8
 35  err_technical_glitch             int8
 36  acct_open_year                   int16
 37  acct_open_month                  int8
 38  expires_year                     int16
 39  expires_month                    int8
 40  months_to_expire                 int16
 41  tx_year                          int16
 42  tx_month                         int8
 43  tx_hour                          int8
 44  is_weekend                       int8
 45  is_credit                        int8
 46  is_prepaid                       int8
 47  male                             int8
 48  mccg_Food_Daily                  int8
 49  mccg_Transport_Travel            int8
 50  mccg_Digital_Online              int8
 51  mccg_Financial                   int8
 52  mccg_Retail                      int8
 53  mccg_Medical                     int8
 54  mccg_Entertainment               int8
 55  mccg_Automotive_Home             int8
 56  mccg_Utilities_Government        int8
 57  mccg_Professional_Services       int8
 58  mccg_Industrial_/_Manufacturing  int8
dtypes: float32(5), float64(3), int16(4), int64(10), int8(32), object(5)
memory usage: 1.5+ GB

In [87]:
trans["card_number"].value_counts()

card_number
5412731781518758    20448
357731604070533     19338
5809446324429038    17647
352397360356465     15885
5476407228285230    14762
                    ...
4729953228374508        1
4025546651211985        1
4620908286307575        1
5772874140116142        1
4553257553445993        1
Name: count, Length: 3991, dtype: int64

In [88]:
trans.drop("card_number", axis=1, inplace=True)

In [89]:
trans["is_online"].value_counts()

is_online
0    6756710
1     890768
Name: count, dtype: int64

In [90]:
trans["card_brand"].value_counts()

card_brand
Mastercard    4112465
Visa          2849226
Amex           493073
Discover       192714
Name: count, dtype: int64

In [91]:
trans["card_brand"] = (
    trans["card_brand"]
    .astype(str)
    .str.strip()
    .str.title()   # Visa / Mastercard / Amex / Discover
)

BRANDS = ["Visa", "Mastercard", "Amex", "Discover"]

for b in BRANDS:
    trans[f"cb_{b}"] = (trans["card_brand"] == b).astype(np.int8)

In [92]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 62 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip                              float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  card_brand                       object
 21  has_chip                         int8
 22  num_cards_issued                 int64
 23  credit_limit                     float32
 24  year_pin_last_changed            int64
 25  fraud                            int8
 26  is_online                        int8
 27  has_error                        int8
 28  err_bad_card_number              int8
 29  err_bad_expiration               int8
 30  err_bad_cvv                      int8
 31  err_bad_pin                      int8
 32  err_bad_zipcode                  int8
 33  err_insufficient_balance         int8
 34  err_technical_glitch             int8
 35  acct_open_year                   int16
 36  acct_open_month                  int8
 37  expires_year                     int16
 38  expires_month                    int8
 39  months_to_expire                 int16
 40  tx_year                          int16
 41  tx_month                         int8
 42  tx_hour                          int8
 43  is_weekend                       int8
 44  is_credit                        int8
 45  is_prepaid                       int8
 46  male                             int8
 47  mccg_Food_Daily                  int8
 48  mccg_Transport_Travel            int8
 49  mccg_Digital_Online              int8
 50  mccg_Financial                   int8
 51  mccg_Retail                      int8
 52  mccg_Medical                     int8
 53  mccg_Entertainment               int8
 54  mccg_Automotive_Home             int8
 55  mccg_Utilities_Government        int8
 56  mccg_Professional_Services       int8
 57  mccg_Industrial_/_Manufacturing  int8
 58  cb_Visa                          int8
 59  cb_Mastercard                    int8
 60  cb_Amex                          int8
 61  cb_Discover                      int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(36), object(5)
memory usage: 1.4+ GB

In [93]:
trans.drop("card_brand", axis=1, inplace=True)
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 61 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip                              float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  has_chip                         int8
 21  num_cards_issued                 int64
 22  credit_limit                     float32
 23  year_pin_last_changed            int64
 24  fraud                            int8
 25  is_online                        int8
 26  has_error                        int8
 27  err_bad_card_number              int8
 28  err_bad_expiration               int8
 29  err_bad_cvv                      int8
 30  err_bad_pin                      int8
 31  err_bad_zipcode                  int8
 32  err_insufficient_balance         int8
 33  err_technical_glitch             int8
 34  acct_open_year                   int16
 35  acct_open_month                  int8
 36  expires_year                     int16
 37  expires_month                    int8
 38  months_to_expire                 int16
 39  tx_year                          int16
 40  tx_month                         int8
 41  tx_hour                          int8
 42  is_weekend                       int8
 43  is_credit                        int8
 44  is_prepaid                       int8
 45  male                             int8
 46  mccg_Food_Daily                  int8
 47  mccg_Transport_Travel            int8
 48  mccg_Digital_Online              int8
 49  mccg_Financial                   int8
 50  mccg_Retail                      int8
 51  mccg_Medical                     int8
 52  mccg_Entertainment               int8
 53  mccg_Automotive_Home             int8
 54  mccg_Utilities_Government        int8
 55  mccg_Professional_Services       int8
 56  mccg_Industrial_/_Manufacturing  int8
 57  cb_Visa                          int8
 58  cb_Mastercard                    int8
 59  cb_Amex                          int8
 60  cb_Discover                      int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(36), object(4)
memory usage: 1.4+ GB

In [94]:
trans["zip"].unique()

array([58523., 52722., 92084., ..., 76448., 37873., 61025.])

In [95]:
trans["zip5"] = (
    pd.to_numeric(trans["zip"], errors="coerce")
      .astype("Int64")          # NaN 허용 정수
      .astype(str)
      .replace("<NA>", np.nan)
      .str.zfill(5)             # 앞자리 0 보존
)

In [96]:
trans["zip5"].str.len().value_counts(dropna=False)
trans["zip5"].head()

0    58523
1    52722
2    92084
3    20776
4    10464
Name: zip5, dtype: object

In [97]:
uszips = pd.read_csv("uszips.csv", dtype={"zip": str})

uszips = uszips.rename(columns={
    "lat": "merchant_lat",
    "lng": "merchant_lon"
})

uszips["zip"] = uszips["zip"].str.zfill(5)

In [98]:
trans = trans.merge(
    uszips[["zip", "merchant_lat", "merchant_lon"]],
    left_on="zip5",
    right_on="zip",
    how="left"
).drop(columns=["zip"], errors="ignore")

In [99]:
match_rate = trans["merchant_lat"].notna().mean()
print("ZIP → 좌표 매칭률:", match_rate)

ZIP → 좌표 매칭률: 0.8643729344497624

In [100]:
# 0) merchant 좌표 붙인 뒤라고 가정: merchant_lat, merchant_lon 존재
has_coord = trans["merchant_lat"].notna() & trans["merchant_lon"].notna()

# zip5 결측(=원천 zip 결측/이상)
zip_missing = trans["zip5"].isna()

# zip은 있는데 좌표가 없는 경우(=uszips에 없는 zip)
zip_present_but_no_coord = (~zip_missing) & (~has_coord)

print("전체 매칭률:", has_coord.mean())
print("zip5 결측 비율:", zip_missing.mean())
print("zip5는 있는데 좌표 없음(uszips 미포함 zip) 비율:", zip_present_but_no_coord.mean())

# 온라인 제외한 매칭률도 확인(온라인이면 거리 의미 X)
if "is_online" in trans.columns:
    non_online = trans["is_online"] == 0
    print("\n[non-online only]")
    print("non-online 매칭률:", has_coord[non_online].mean())
    print("non-online에서 zip5 결측 비율:", zip_missing[non_online].mean())
    print("non-online에서 zip 존재 but no coord 비율:", zip_present_but_no_coord[non_online].mean())

# 실제로 uszips에 없는 zip TOP (진짜 원인 zip 확인)
print("\nTOP 20 zip (present but no coord):")
print(trans.loc[zip_present_but_no_coord, "zip5"].value_counts().head(20))

전체 매칭률: 0.8643729344497624
zip5 결측 비율: 0.12329672605792394
zip5는 있는데 좌표 없음(uszips 미포함 zip) 비율: 0.012330339492313675

[non-online only]
non-online 매칭률: 0.9783271740240442
non-online에서 zip5 결측 비율: 0.007716921401096095
non-online에서 zip 존재 but no coord 비율: 0.013955904574859658

TOP 20 zip (present but no coord):
zip5
46581    5335
31139    5290
32644    3267
94101    3139
88062    2278
37717    2226
60006    2054
93014    1852
02241    1521
36831    1307
95812    1263
74355    1210
28680    1079
39282    1056
37605    1021
22009     997
20875     933
38835     916
32353     913
06922     911
Name: count, dtype: int64

In [101]:
trans["has_distance"] = (
    trans["merchant_lat"].notna() &
    trans["merchant_lon"].notna() &
    (trans["is_online"] == 0)
).astype("int8")

In [102]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 66 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   zip_x                            float64
 8   current_age                      int64
 9   retirement_age                   int64
 10  birth_year                       int64
 11  birth_month                      int8
 12  address                          object
 13  latitude                         float64
 14  longitude                        float64
 15  per_capita_income                float32
 16  yearly_income                    float32
 17  total_debt                       float32
 18  credit_score                     int64
 19  num_credit_cards                 int8
 20  has_chip                         int8
 21  num_cards_issued                 int64
 22  credit_limit                     float32
 23  year_pin_last_changed            int64
 24  fraud                            int8
 25  is_online                        int8
 26  has_error                        int8
 27  err_bad_card_number              int8
 28  err_bad_expiration               int8
 29  err_bad_cvv                      int8
 30  err_bad_pin                      int8
 31  err_bad_zipcode                  int8
 32  err_insufficient_balance         int8
 33  err_technical_glitch             int8
 34  acct_open_year                   int16
 35  acct_open_month                  int8
 36  expires_year                     int16
 37  expires_month                    int8
 38  months_to_expire                 int16
 39  tx_year                          int16
 40  tx_month                         int8
 41  tx_hour                          int8
 42  is_weekend                       int8
 43  is_credit                        int8
 44  is_prepaid                       int8
 45  male                             int8
 46  mccg_Food_Daily                  int8
 47  mccg_Transport_Travel            int8
 48  mccg_Digital_Online              int8
 49  mccg_Financial                   int8
 50  mccg_Retail                      int8
 51  mccg_Medical                     int8
 52  mccg_Entertainment               int8
 53  mccg_Automotive_Home             int8
 54  mccg_Utilities_Government        int8
 55  mccg_Professional_Services       int8
 56  mccg_Industrial_/_Manufacturing  int8
 57  cb_Visa                          int8
 58  cb_Mastercard                    int8
 59  cb_Amex                          int8
 60  cb_Discover                      int8
 61  zip5                             object
 62  zip_y                            object
 63  merchant_lat                     float64
 64  merchant_lon                     float64
 65  has_distance                     int8
dtypes: float32(5), float64(5), int16(4), int64(9), int8(37), object(6)
memory usage: 1.6+ GB

In [103]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0088  # km
    lat1 = np.radians(lat1.astype(float))
    lon1 = np.radians(lon1.astype(float))
    lat2 = np.radians(lat2.astype(float))
    lon2 = np.radians(lon2.astype(float))

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

# distance 계산 대상: has_distance == 1
mask = trans["has_distance"] == 1

trans["distance_km"] = np.nan
trans.loc[mask, "distance_km"] = haversine_km(
    trans.loc[mask, "latitude"],
    trans.loc[mask, "longitude"],
    trans.loc[mask, "merchant_lat"],
    trans.loc[mask, "merchant_lon"],
).astype("float32")

In [104]:
trans["distance_km"].describe()
trans.loc[trans["has_distance"]==0, "distance_km"].isna().mean()

np.float64(1.0)

In [105]:
trans.loc[trans["has_distance"]==1, "distance_km"].isna().mean()

np.float64(0.0)

In [106]:
drop_cols = [
    "zip5", "zip_x", "zip_y", "zip",
    "address",
    "merchant_lat", "merchant_lon",
]

trans.drop(columns=drop_cols, inplace=True, errors="ignore")

In [107]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 61 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   current_age                      int64
 8   retirement_age                   int64
 9   birth_year                       int64
 10  birth_month                      int8
 11  latitude                         float64
 12  longitude                        float64
 13  per_capita_income                float32
 14  yearly_income                    float32
 15  total_debt                       float32
 16  credit_score                     int64
 17  num_credit_cards                 int8
 18  has_chip                         int8
 19  num_cards_issued                 int64
 20  credit_limit                     float32
 21  year_pin_last_changed            int64
 22  fraud                            int8
 23  is_online                        int8
 24  has_error                        int8
 25  err_bad_card_number              int8
 26  err_bad_expiration               int8
 27  err_bad_cvv                      int8
 28  err_bad_pin                      int8
 29  err_bad_zipcode                  int8
 30  err_insufficient_balance         int8
 31  err_technical_glitch             int8
 32  acct_open_year                   int16
 33  acct_open_month                  int8
 34  expires_year                     int16
 35  expires_month                    int8
 36  months_to_expire                 int16
 37  tx_year                          int16
 38  tx_month                         int8
 39  tx_hour                          int8
 40  is_weekend                       int8
 41  is_credit                        int8
 42  is_prepaid                       int8
 43  male                             int8
 44  mccg_Food_Daily                  int8
 45  mccg_Transport_Travel            int8
 46  mccg_Digital_Online              int8
 47  mccg_Financial                   int8
 48  mccg_Retail                      int8
 49  mccg_Medical                     int8
 50  mccg_Entertainment               int8
 51  mccg_Automotive_Home             int8
 52  mccg_Utilities_Government        int8
 53  mccg_Professional_Services       int8
 54  mccg_Industrial_/_Manufacturing  int8
 55  cb_Visa                          int8
 56  cb_Mastercard                    int8
 57  cb_Amex                          int8
 58  cb_Discover                      int8
 59  has_distance                     int8
 60  distance_km                      float64
dtypes: float32(5), float64(3), int16(4), int64(9), int8(37), object(3)
memory usage: 1.3+ GB

In [108]:
trans["distance_km"]

0           93.137779
1          101.215202
2            9.462576
3            1.169253
4            6.638261
              ...
7647473      1.191052
7647474    107.713852
7647475      6.395624
7647476      6.107080
7647477      3.093933
Name: distance_km, Length: 7647478, dtype: float64

In [109]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 61 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   current_age                      int64
 8   retirement_age                   int64
 9   birth_year                       int64
 10  birth_month                      int8
 11  latitude                         float64
 12  longitude                        float64
 13  per_capita_income                float32
 14  yearly_income                    float32
 15  total_debt                       float32
 16  credit_score                     int64
 17  num_credit_cards                 int8
 18  has_chip                         int8
 19  num_cards_issued                 int64
 20  credit_limit                     float32
 21  year_pin_last_changed            int64
 22  fraud                            int8
 23  is_online                        int8
 24  has_error                        int8
 25  err_bad_card_number              int8
 26  err_bad_expiration               int8
 27  err_bad_cvv                      int8
 28  err_bad_pin                      int8
 29  err_bad_zipcode                  int8
 30  err_insufficient_balance         int8
 31  err_technical_glitch             int8
 32  acct_open_year                   int16
 33  acct_open_month                  int8
 34  expires_year                     int16
 35  expires_month                    int8
 36  months_to_expire                 int16
 37  tx_year                          int16
 38  tx_month                         int8
 39  tx_hour                          int8
 40  is_weekend                       int8
 41  is_credit                        int8
 42  is_prepaid                       int8
 43  male                             int8
 44  mccg_Food_Daily                  int8
 45  mccg_Transport_Travel            int8
 46  mccg_Digital_Online              int8
 47  mccg_Financial                   int8
 48  mccg_Retail                      int8
 49  mccg_Medical                     int8
 50  mccg_Entertainment               int8
 51  mccg_Automotive_Home             int8
 52  mccg_Utilities_Government        int8
 53  mccg_Professional_Services       int8
 54  mccg_Industrial_/_Manufacturing  int8
 55  cb_Visa                          int8
 56  cb_Mastercard                    int8
 57  cb_Amex                          int8
 58  cb_Discover                      int8
 59  has_distance                     int8
 60  distance_km                      float64
dtypes: float32(5), float64(3), int16(4), int64(9), int8(37), object(3)
memory usage: 1.3+ GB

In [110]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def norm_zip5(s):
    z = (
        pd.to_numeric(s, errors="coerce")
          .astype("Int64")
          .astype(str)
          .replace("<NA>", np.nan)
          .str.zfill(5)
    )
    return z

def fill_offline_distance_by_merchant_zipmode(
    trans: pd.DataFrame,
    transactions_data: pd.DataFrame,
    uszips_path="uszips.csv",
    verbose=True
) -> pd.DataFrame:
    out = trans.copy()

    # ---- sanity checks
    need = ["is_online","distance_km","merchant_id","latitude","longitude"]
    miss = [c for c in need if c not in out.columns]
    if miss:
        raise KeyError(f"[trans] missing columns: {miss}")

    # offline & missing distance only
    m_off = (out["is_online"] == 0)
    m_miss = m_off & out["distance_km"].isna()

    if verbose:
        print("offline rows:", int(m_off.sum()))
        print("offline distance_km missing:", int(m_miss.sum()))

    if m_miss.sum() == 0:
        out["has_distance"] = out["distance_km"].notna().astype("int8")
        return out

    # 1) build merchant_id -> zip(mode) from transactions_data
    tx = transactions_data[["merchant_id", "zip"]].copy()
    tx["zip5"] = norm_zip5(tx["zip"])
    tx = tx[tx["zip5"].notna()]

    mid_zip = (
        tx.groupby(["merchant_id","zip5"]).size().reset_index(name="cnt")
          .sort_values(["merchant_id","cnt"], ascending=[True, False])
          .drop_duplicates("merchant_id")
          .rename(columns={"zip5":"zip_mid"})
          [["merchant_id","zip_mid"]]
    )

    # 2) uszips (zip -> lat/lon)
    uszips = pd.read_csv(uszips_path, dtype={"zip": str})
    uszips["zip"] = uszips["zip"].str.zfill(5)
    usz = uszips.rename(columns={"lat":"merchant_lat","lng":"merchant_lon"})[["zip","merchant_lat","merchant_lon"]]

    # 3) apply only to missing subset (fast, safe)
    miss_df = out.loc[m_miss, ["merchant_id","latitude","longitude"]].copy()
    miss_df["__idx__"] = miss_df.index

    miss_df = miss_df.merge(mid_zip, on="merchant_id", how="left")
    miss_df = miss_df.merge(usz, left_on="zip_mid", right_on="zip", how="left")

    # distance calculable mask
    m_calc = (
        miss_df["latitude"].notna() &
        miss_df["longitude"].notna() &
        miss_df["merchant_lat"].notna() &
        miss_df["merchant_lon"].notna()
    )

    miss_df["distance_new"] = np.nan
    miss_df.loc[m_calc, "distance_new"] = haversine_km(
        miss_df.loc[m_calc, "latitude"].astype("float64"),
        miss_df.loc[m_calc, "longitude"].astype("float64"),
        miss_df.loc[m_calc, "merchant_lat"].astype("float64"),
        miss_df.loc[m_calc, "merchant_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("zip_mid coverage among missing:", miss_df["zip_mid"].notna().mean())
        print("merchant coord coverage among missing:",
              (miss_df["merchant_lat"].notna() & miss_df["merchant_lon"].notna()).mean())
        print("filled share among missing:", miss_df["distance_new"].notna().mean())

    # 4) write back only where distance_new exists
    fill_map = miss_df.set_index("__idx__")["distance_new"]
    idx_fill = fill_map[fill_map.notna()].index

    out.loc[idx_fill, "distance_km"] = fill_map.loc[idx_fill].astype("float32")
    out["has_distance"] = out["distance_km"].notna().astype("int8")

    return out

# ---- 실행
transactions_data = pd.read_csv("original/transactions_data.csv")
trans = fill_offline_distance_by_merchant_zipmode(
    trans=trans,
    transactions_data=transactions_data,
    uszips_path="uszips.csv",
    verbose=True
)

# ---- 결과 점검
off = trans[trans["is_online"]==0]
print("\n[after fill]")
print("offline distance_km missing:", off["distance_km"].isna().sum())
print("offline has_distance rate:", off["has_distance"].mean())

offline rows: 6756710
offline distance_km missing: 146437
zip_mid coverage among missing: 0.9119484829653708
merchant coord coverage among missing: 0.6877906540013794
filled share among missing: 0.6877906540013794

[after fill]
offline distance_km missing: 45719
offline has_distance rate: 0.993233541176105

In [ ]:
def norm_zip5(s):
    return (
        pd.to_numeric(s, errors="coerce")
          .astype("Int64")
          .astype(str)
          .replace("<NA>", np.nan)
          .str.zfill(5)
    )

# 0) 남은 애들
m_left = (trans["is_online"]==0) & (trans["distance_km"].isna())
left = trans.loc[m_left, ["merchant_id","merchant_city","merchant_state"]].copy()
left["__idx__"] = left.index
print("left:", len(left))

# 1) transactions_data에서 merchant_id -> zip_mid 다시 만들기 
transactions_data = pd.read_csv("original/transactions_data.csv")
tx = transactions_data[["merchant_id","merchant_city","merchant_state","zip"]].copy()
tx["merchant_city"]  = tx["merchant_city"].astype(str).str.strip()
tx["merchant_state"] = tx["merchant_state"].astype(str).str.strip()
tx["zip5"] = norm_zip5(tx["zip"])
tx_zip = tx[tx["zip5"].notna()].copy()

mid_zip = (
    tx_zip.groupby(["merchant_id","zip5"]).size().reset_index(name="cnt")
          .sort_values(["merchant_id","cnt"], ascending=[True, False])
          .drop_duplicates("merchant_id")
          .rename(columns={"zip5":"zip_mid"})
          [["merchant_id","zip_mid"]]
)

# 2) uszips set
uszips = pd.read_csv("uszips.csv", dtype={"zip": str})
uszips["zip"] = uszips["zip"].str.zfill(5)
zip_set = set(uszips["zip"].values)

# 3) left에 zip_mid 붙이기
left = left.merge(mid_zip, on="merchant_id", how="left")

# 케이스 A: zip_mid 자체가 없음
case_no_zipmid = left["zip_mid"].isna()
print("A) no zip_mid:", case_no_zipmid.sum(), "share:", case_no_zipmid.mean())

# 케이스 B: zip_mid는 있는데 uszips에 없음
case_zip_not_in_uszips = (~case_no_zipmid) & (~left["zip_mid"].isin(zip_set))
print("B) zip_mid not in uszips:", case_zip_not_in_uszips.sum(),
      "share:", case_zip_not_in_uszips.mean())

# 케이스 C: zip_mid는 있고 uszips에도 있는데도 안 채워짐
case_should_work = (~case_no_zipmid) & (left["zip_mid"].isin(zip_set))
print("C) zip_mid in uszips (should be fillable):", case_should_work.sum(),
      "share:", case_should_work.mean())

print("\nTop 20 zip_mid among case B (not in uszips):")
print(left.loc[case_zip_not_in_uszips, "zip_mid"].value_counts().head(20))

print("\nTop 20 merchant_id among case A (no zip_mid):")
print(left.loc[case_no_zipmid, "merchant_id"].value_counts().head(20))

left: 45719
A) no zip_mid: 12894 share: 0.28202716594851157
B) zip_mid not in uszips: 32825 share: 0.7179728340514885
C) zip_mid in uszips (should be fillable): 0 share: 0.0

Top 20 zip_mid among case B (not in uszips):
zip_mid
46581    6021
22009    3752
94101    3139
93014    1779
88062    1565
02241    1521
74355    1210
18971    1164
63302     690
36831     595
33318     579
39282     564
29598     330
32353     326
95967     307
94955     268
91772     204
86339     179
80201     165
85652     142
Name: count, dtype: int64

Top 20 merchant_id among case A (no zip_mid):
merchant_id
94458    905
90999    723
52073    695
70268    669
13348    661
7886     404
246      321
93465    305
69958    272
79733    260
50055    250
60769    247
99207    237
77636    183
88260    146
62203    130
84856    125
33191    115
56206    105
97960    101
Name: count, dtype: int64

In [112]:
def norm_zip5(s):
    return (
        pd.to_numeric(s, errors="coerce")
          .astype("Int64")
          .astype(str)
          .replace("<NA>", np.nan)
          .str.zfill(5)
    )

def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def fill_offline_distance_2pass(
    trans: pd.DataFrame,
    transactions_data: pd.DataFrame,
    uszips_path: str = "uszips.csv",
    verbose: bool = True,
) -> pd.DataFrame:
    out = trans.copy()

    # --- uszips 준비 ---
    uszips = pd.read_csv(uszips_path, dtype={"zip": str})
    uszips["zip"] = uszips["zip"].str.zfill(5)
    zip_set = set(uszips["zip"].values)

    usz = uszips.rename(columns={"lat": "merchant_lat", "lng": "merchant_lon"})[
        ["zip", "merchant_lat", "merchant_lon"]
    ]

    # --- tx 준비 ---
    tx = transactions_data[["merchant_id","merchant_city","merchant_state","zip"]].copy()
    tx["merchant_city"]  = tx["merchant_city"].astype(str).str.strip()
    tx["merchant_state"] = tx["merchant_state"].astype(str).str.strip()
    tx["zip5"] = norm_zip5(tx["zip"])

    # uszips에 존재하는 zip만 남겨서 "usable" tx_zip 구성
    tx_zip = tx[tx["zip5"].notna()].copy()
    tx_zip["zip_in_uszips"] = tx_zip["zip5"].isin(zip_set)
    tx_zip_usable = tx_zip[tx_zip["zip_in_uszips"]].copy()

    if verbose:
        print("tx_zip usable rate:", tx_zip_usable.shape[0] / max(1, tx_zip.shape[0]))

    # --- lookup 2차: merchant_id -> zip(mode) among usable zips ---
    mid_zip_usable = (
        tx_zip_usable.groupby(["merchant_id","zip5"]).size().reset_index(name="cnt")
        .sort_values(["merchant_id","cnt"], ascending=[True, False])
        .drop_duplicates("merchant_id")
        .rename(columns={"zip5":"zip_mid2"})
        [["merchant_id","zip_mid2"]]
    )

    # --- lookup 3차: city+state -> zip(mode) among usable zips ---
    cs_zip_usable = (
        tx_zip_usable.groupby(["merchant_city","merchant_state","zip5"]).size().reset_index(name="cnt")
        .sort_values(["merchant_city","merchant_state","cnt"], ascending=[True, True, False])
        .drop_duplicates(["merchant_city","merchant_state"])
        .rename(columns={"zip5":"zip_cs2"})
        [["merchant_city","merchant_state","zip_cs2"]]
    )

    # --- lookup 4차: state -> zip(mode) among usable zips ---
    st_zip_usable = (
        tx_zip_usable.groupby(["merchant_state","zip5"]).size().reset_index(name="cnt")
        .sort_values(["merchant_state","cnt"], ascending=[True, False])
        .drop_duplicates("merchant_state")
        .rename(columns={"zip5":"zip_st2"})
        [["merchant_state","zip_st2"]]
    )

    # --- 대상: offline & distance_km 결측 ---
    m_left = (out["is_online"]==0) & (out["distance_km"].isna())
    left = out.loc[m_left, ["merchant_id","merchant_city","merchant_state","latitude","longitude"]].copy()
    left["__idx__"] = left.index

    if verbose:
        print("left start:", len(left))

    # 2차/3차/4차 zip 후보 붙이기
    left = left.merge(mid_zip_usable, on="merchant_id", how="left")
    left = left.merge(cs_zip_usable, on=["merchant_city","merchant_state"], how="left")
    left = left.merge(st_zip_usable, on=["merchant_state"], how="left")

    # 최종 zip 채움 우선순위: merchant_id -> (city,state) -> state
    left["zip_fill2"] = (
        left["zip_mid2"]
        .combine_first(left["zip_cs2"])
        .combine_first(left["zip_st2"])
    )

    if verbose:
        print("zip_fill2 coverage:", left["zip_fill2"].notna().mean())

    # merchant 좌표 붙이기
    left = left.merge(usz, left_on="zip_fill2", right_on="zip", how="left")

    if verbose:
        coord_cov = (left["merchant_lat"].notna() & left["merchant_lon"].notna()).mean()
        print("merchant coord coverage after fill2:", coord_cov)

    # 거리 계산
    can = (
        left["latitude"].notna() &
        left["longitude"].notna() &
        left["merchant_lat"].notna() &
        left["merchant_lon"].notna()
    )

    left["distance_km_new"] = np.nan
    left.loc[can, "distance_km_new"] = haversine_km(
        left.loc[can, "latitude"].astype("float64"),
        left.loc[can, "longitude"].astype("float64"),
        left.loc[can, "merchant_lat"].astype("float64"),
        left.loc[can, "merchant_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("filled share among left:", left["distance_km_new"].notna().mean())
        print("still missing among left:", left["distance_km_new"].isna().sum())

    # 원본(out)에 채워넣기 (index 기준)
    fill_map = left.set_index("__idx__")["distance_km_new"]
    out.loc[fill_map.index, "distance_km"] = out.loc[fill_map.index, "distance_km"].fillna(fill_map)

    # has_distance 갱신
    out["has_distance"] = out["distance_km"].notna().astype("int8")

    if verbose:
        m_off = (out["is_online"]==0)
        print("\n[after fill2 overall offline]")
        print("offline distance_km missing:", out.loc[m_off, "distance_km"].isna().sum())
        print("offline has_distance rate:", out.loc[m_off, "has_distance"].mean())

    return out

# 실행
transactions_data = pd.read_csv("original/transactions_data.csv")
trans = fill_offline_distance_2pass(
    trans=trans,
    transactions_data=transactions_data,
    uszips_path="uszips.csv",
    verbose=True
)

tx_zip usable rate: 0.9859476824699108
left start: 45719
zip_fill2 coverage: 0.7146481769067565
merchant coord coverage after fill2: 0.7146481769067565
filled share among left: 0.7146481769067565
still missing among left: 13046

[after fill2 overall offline]
offline distance_km missing: 13046
offline has_distance rate: 0.9980691786387161

In [ ]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def fill_offline_distance_by_state_center(trans, uszips_path="uszips.csv", verbose=True):
    out = trans.copy()

    m_left = (out["is_online"]==0) & (out["distance_km"].isna())
    left = out.loc[m_left, ["merchant_state","latitude","longitude"]].copy()
    left["__idx__"] = left.index

    if verbose:
        print("left before state-center fill:", len(left))

    uszips = pd.read_csv(uszips_path, dtype={"zip": str})

    if "state_id" in uszips.columns:
        us_state_col = "state_id"
    elif "state" in uszips.columns:
        us_state_col = "state"
    elif "state_name" in uszips.columns:
        us_state_col = "state_name"
    else:
        raise KeyError(f"uszips에 state 컬럼이 없어요. columns={uszips.columns.tolist()[:30]}")

    # 주 중심 좌표 (median 추천)
    st_center = (
        uszips.dropna(subset=["lat","lng"])
             .groupby(us_state_col, as_index=False)[["lat","lng"]]
             .median()
             .rename(columns={"lat":"st_lat", "lng":"st_lon", us_state_col:"merchant_state"})
    )

    left["merchant_state"] = left["merchant_state"].astype(str).str.strip()
    st_center["merchant_state"] = st_center["merchant_state"].astype(str).str.strip()

    left = left.merge(st_center, on="merchant_state", how="left")

    can = (
        left["latitude"].notna() &
        left["longitude"].notna() &
        left["st_lat"].notna() &
        left["st_lon"].notna()
    )

    left["distance_km_state"] = np.nan
    left.loc[can, "distance_km_state"] = haversine_km(
        left.loc[can, "latitude"].astype("float64"),
        left.loc[can, "longitude"].astype("float64"),
        left.loc[can, "st_lat"].astype("float64"),
        left.loc[can, "st_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("state-center fill share:", left["distance_km_state"].notna().mean())
        print("still missing after state-center:", left["distance_km_state"].isna().sum())

    fill_map = left.set_index("__idx__")["distance_km_state"]
    out.loc[fill_map.index, "distance_km"] = out.loc[fill_map.index, "distance_km"].fillna(fill_map)

    out["has_distance"] = out["distance_km"].notna().astype("int8")

    if verbose:
        m_off = (out["is_online"]==0)
        print("\n[after state-center overall offline]")
        print("offline distance_km missing:", out.loc[m_off, "distance_km"].isna().sum())
        print("offline has_distance rate:", out.loc[m_off, "has_distance"].mean())

    return out

trans = fill_offline_distance_by_state_center(trans, "uszips.csv", verbose=True)

left before state-center fill: 13046
state-center fill share: 0.0
still missing after state-center: 13046

[after state-center overall offline]
offline distance_km missing: 13046
offline has_distance rate: 0.9980691786387161

In [114]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def fill_offline_distance_topk_zip(
    trans: pd.DataFrame,
    transactions_data: pd.DataFrame,
    uszips_path="uszips.csv",
    k=10,
    verbose=True
) -> pd.DataFrame:
    out = trans.copy()

    # offline + distance missing만
    m_missing = (out["is_online"] == 0) & (out["distance_km"].isna())
    miss = out.loc[m_missing, ["merchant_id","merchant_city","merchant_state","latitude","longitude"]].copy()
    miss["__idx__"] = miss.index

    if verbose:
        print("target missing rows:", len(miss))

    # uszips: zip -> (lat, lon)
    us = pd.read_csv(uszips_path, dtype={"zip": str})
    us["zip"] = us["zip"].str.zfill(5)
    us = us.rename(columns={"lat":"merchant_lat","lng":"merchant_lon"})[["zip","merchant_lat","merchant_lon"]]
    us_zip_set = set(us["zip"].values)

    # transactions_data에서 zip5 만들기
    tx = transactions_data[["merchant_id","merchant_city","merchant_state","zip"]].copy()
    tx["merchant_city"]  = tx["merchant_city"].astype(str).str.strip()
    tx["merchant_state"] = tx["merchant_state"].astype(str).str.strip()

    tx["zip5"] = (
        pd.to_numeric(tx["zip"], errors="coerce")
          .astype("Int64")
          .astype(str)
          .replace("<NA>", np.nan)
          .str.zfill(5)
    )
    tx = tx[tx["zip5"].notna()].copy()

    # "uszips에 있는 zip"만 남긴 버전도 만들어두기 (핵심!)
    tx_in = tx[tx["zip5"].isin(us_zip_set)].copy()

    if verbose:
        print("tx zip usable rate (in uszips):", len(tx_in) / len(tx))

    # 1) merchant_id 별로 zip 상위 k개 후보 만들기 (uszips에 있는 zip만)
    mid_topk = (
        tx_in.groupby(["merchant_id","zip5"]).size().reset_index(name="cnt")
            .sort_values(["merchant_id","cnt"], ascending=[True, False])
    )
    mid_topk["rank"] = mid_topk.groupby("merchant_id").cumcount() + 1
    mid_topk = mid_topk[mid_topk["rank"] <= k].copy()

    # 2) city+state 별 zip 상위 k개 후보 만들기 (uszips에 있는 zip만)
    cs_topk = (
        tx_in.groupby(["merchant_city","merchant_state","zip5"]).size().reset_index(name="cnt")
            .sort_values(["merchant_city","merchant_state","cnt"], ascending=[True, True, False])
    )
    cs_topk["rank"] = cs_topk.groupby(["merchant_city","merchant_state"]).cumcount() + 1
    cs_topk = cs_topk[cs_topk["rank"] <= k].copy()

    # --- miss에 zip 후보를 붙이고, "첫 번째로 성공하는 zip" 고르기 ---
    # merchant_id 후보 먼저 시도
    tmp = miss.merge(mid_topk[["merchant_id","zip5","rank"]], on="merchant_id", how="left")
    tmp = tmp.sort_values(["__idx__","rank"])

    # idx별로 가장 먼저 붙은 zip(=가장 빈도 높은 uszips-존재 zip)
    zip_mid_best = tmp.dropna(subset=["zip5"]).drop_duplicates("__idx__")[["__idx__","zip5"]].rename(columns={"zip5":"zip_best_mid"})

    miss2 = miss.merge(zip_mid_best, on="__idx__", how="left")

    # merchant_id로 못 채운 애는 city+state 후보 시도
    miss_need_cs = miss2[miss2["zip_best_mid"].isna()].copy()

    if len(miss_need_cs) > 0:
        tmp2 = miss_need_cs.merge(cs_topk[["merchant_city","merchant_state","zip5","rank"]],
                                  on=["merchant_city","merchant_state"], how="left")
        tmp2 = tmp2.sort_values(["__idx__","rank"])
        zip_cs_best = tmp2.dropna(subset=["zip5"]).drop_duplicates("__idx__")[["__idx__","zip5"]].rename(columns={"zip5":"zip_best_cs"})
        miss2 = miss2.merge(zip_cs_best, on="__idx__", how="left")
    else:
        miss2["zip_best_cs"] = np.nan

    # 최종 zip 선택 (merchant_id 우선)
    miss2["zip_fill"] = miss2["zip_best_mid"].combine_first(miss2["zip_best_cs"])

    if verbose:
        print("zip_fill coverage:", miss2["zip_fill"].notna().mean())

    # zip -> merchant_lat/lon
    miss2 = miss2.merge(us, left_on="zip_fill", right_on="zip", how="left")

    if verbose:
        print("merchant coord coverage:", (miss2["merchant_lat"].notna() & miss2["merchant_lon"].notna()).mean())

    # distance 계산
    can = (
        miss2["latitude"].notna() &
        miss2["longitude"].notna() &
        miss2["merchant_lat"].notna() &
        miss2["merchant_lon"].notna()
    )

    miss2["distance_km_new"] = np.nan
    miss2.loc[can, "distance_km_new"] = haversine_km(
        miss2.loc[can, "latitude"].astype("float64"),
        miss2.loc[can, "longitude"].astype("float64"),
        miss2.loc[can, "merchant_lat"].astype("float64"),
        miss2.loc[can, "merchant_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("filled share among target missing:", miss2["distance_km_new"].notna().mean())
        print("still missing among target:", miss2["distance_km_new"].isna().sum())

    # out에 반영
    fill_map = miss2.set_index("__idx__")["distance_km_new"]
    out.loc[fill_map.index, "distance_km"] = out.loc[fill_map.index, "distance_km"].fillna(fill_map)
    out["has_distance"] = out["distance_km"].notna().astype("int8")

    if verbose:
        m_off = (out["is_online"]==0)
        print("\n[after top-k fill overall offline]")
        print("offline distance_km missing:", out.loc[m_off, "distance_km"].isna().sum())
        print("offline has_distance rate:", out.loc[m_off, "has_distance"].mean())

    return out

In [115]:
transactions_data = pd.read_csv("original/transactions_data.csv")
trans = fill_offline_distance_topk_zip(trans, transactions_data, "uszips.csv", k=10, verbose=True)

target missing rows: 13046
tx zip usable rate (in uszips): 0.9859476824699108
zip_fill coverage: 0.0
merchant coord coverage: 0.0
filled share among target missing: 0.0
still missing among target: 13046

[after top-k fill overall offline]
offline distance_km missing: 13046
offline has_distance rate: 0.9980691786387161

In [ ]:
import numpy as np
import pandas as pd

def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def fill_offline_distance_by_citystate_centroid(
    trans: pd.DataFrame,
    transactions_data: pd.DataFrame,
    uszips_path="uszips.csv",
    verbose=True
) -> pd.DataFrame:
    out = trans.copy()

    # offline에서 distance_km 결측만 타겟
    m_missing = (out["is_online"] == 0) & (out["distance_km"].isna())
    miss = out.loc[m_missing, ["merchant_id","latitude","longitude"]].copy()
    miss["__idx__"] = miss.index

    if verbose:
        print("target missing rows:", len(miss))

    # 1) transactions_data에서 merchant_id -> 대표 city/state (mode)
    tx = transactions_data[["merchant_id","merchant_city","merchant_state"]].copy()
    tx["merchant_city"]  = tx["merchant_city"].astype(str).str.strip()
    tx["merchant_state"] = tx["merchant_state"].astype(str).str.strip().str.upper()

    tx = tx[(tx["merchant_city"].notna()) & (tx["merchant_city"].str.lower() != "nan")]
    tx = tx[(tx["merchant_state"].notna()) & (tx["merchant_state"].str.lower() != "nan")]

    mid_cs = (
        tx.groupby(["merchant_id","merchant_city","merchant_state"]).size().reset_index(name="cnt")
          .sort_values(["merchant_id","cnt"], ascending=[True, False])
          .drop_duplicates("merchant_id")
          .rename(columns={"merchant_city":"cs_city", "merchant_state":"cs_state"})
          [["merchant_id","cs_city","cs_state"]]
    )

    miss = miss.merge(mid_cs, on="merchant_id", how="left")

    if verbose:
        print("have (city,state) from tx:", miss["cs_city"].notna().mean())

    # 2) uszips에서 city+state_id로 centroid 만들기
    us = pd.read_csv(uszips_path, dtype={"zip": str})

    need_cols = {"city","state_id","lat","lng"}
    if not need_cols.issubset(us.columns):
        raise KeyError(f"uszips.csv must contain columns {need_cols}, but got {set(us.columns)}")

    us["city"] = us["city"].astype(str).str.strip()
    us["state_id"] = us["state_id"].astype(str).str.strip().str.upper()

    # city/state_id 중심 좌표
    cs_centroid = (
        us.groupby(["city","state_id"], as_index=False)
          .agg(merchant_lat=("lat","mean"), merchant_lon=("lng","mean"))
    )

    # 3) miss의 city/state와 centroid merge
    miss["cs_city_norm"] = miss["cs_city"].astype(str).str.strip()
    miss["cs_state_norm"] = miss["cs_state"].astype(str).str.strip().str.upper()

    miss = miss.merge(
        cs_centroid,
        left_on=["cs_city_norm","cs_state_norm"],
        right_on=["city","state_id"],
        how="left"
    )

    if verbose:
        print("centroid coord coverage:",
              (miss["merchant_lat"].notna() & miss["merchant_lon"].notna()).mean())

    # 4) distance 계산
    can = (
        miss["latitude"].notna() &
        miss["longitude"].notna() &
        miss["merchant_lat"].notna() &
        miss["merchant_lon"].notna()
    )

    miss["distance_km_new"] = np.nan
    miss.loc[can, "distance_km_new"] = haversine_km(
        miss.loc[can, "latitude"].astype("float64"),
        miss.loc[can, "longitude"].astype("float64"),
        miss.loc[can, "merchant_lat"].astype("float64"),
        miss.loc[can, "merchant_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("filled share among target missing:", miss["distance_km_new"].notna().mean())
        print("still missing among target:", miss["distance_km_new"].isna().sum())

    # 5) trans(out)에 반영
    fill_map = miss.set_index("__idx__")["distance_km_new"]
    out.loc[fill_map.index, "distance_km"] = out.loc[fill_map.index, "distance_km"].fillna(fill_map)

    # has_distance 갱신 (offline 기준: distance 있으면 1)
    out.loc[out["is_online"]==0, "has_distance"] = out.loc[out["is_online"]==0, "distance_km"].notna().astype("int8")

    if verbose:
        m_off = (out["is_online"]==0)
        print("\n[after city/state centroid fill overall offline]")
        print("offline distance_km missing:", out.loc[m_off, "distance_km"].isna().sum())
        print("offline has_distance rate:", out.loc[m_off, "has_distance"].mean())

    return out

transactions_data = pd.read_csv("original/transactions_data.csv")
trans = fill_offline_distance_by_citystate_centroid(trans, transactions_data, "uszips.csv", verbose=True)

target missing rows: 13046
have (city,state) from tx: 0.7893607235934386
centroid coord coverage: 0.0
filled share among target missing: 0.0
still missing among target: 13046

[after city/state centroid fill overall offline]
offline distance_km missing: 13046
offline has_distance rate: 0.9980691786387161

In [118]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def fill_offline_distance_by_citystate_centroid(
    trans: pd.DataFrame,
    transactions_data: pd.DataFrame,
    uszips_path="uszips.csv",
    verbose=True
) -> pd.DataFrame:
    out = trans.copy()

    # offline에서 distance_km 결측만 타겟
    m_missing = (out["is_online"] == 0) & (out["distance_km"].isna())
    miss = out.loc[m_missing, ["merchant_id","latitude","longitude"]].copy()
    miss["__idx__"] = miss.index

    if verbose:
        print("target missing rows:", len(miss))

    # 1) transactions_data에서 merchant_id -> 대표 city/state (mode)
    tx = transactions_data[["merchant_id","merchant_city","merchant_state"]].copy()
    tx["merchant_city"]  = tx["merchant_city"].astype(str).str.strip()
    tx["merchant_state"] = tx["merchant_state"].astype(str).str.strip().str.upper()

    # 'nan' 문자열 같은 거 제거
    tx = tx[(tx["merchant_city"].notna()) & (tx["merchant_city"].str.lower() != "nan")]
    tx = tx[(tx["merchant_state"].notna()) & (tx["merchant_state"].str.lower() != "nan")]

    mid_cs = (
        tx.groupby(["merchant_id","merchant_city","merchant_state"]).size().reset_index(name="cnt")
          .sort_values(["merchant_id","cnt"], ascending=[True, False])
          .drop_duplicates("merchant_id")
          .rename(columns={"merchant_city":"cs_city", "merchant_state":"cs_state"})
          [["merchant_id","cs_city","cs_state"]]
    )

    miss = miss.merge(mid_cs, on="merchant_id", how="left")

    if verbose:
        print("have (city,state) from tx:", miss["cs_city"].notna().mean())

    # 2) uszips에서 city+state_id로 centroid 만들기
    us = pd.read_csv(uszips_path, dtype={"zip": str})
    # 보통 uszips: city, state_id, lat, lng 있음. 없으면 여기서 바로 에러나니까 알려줘.
    need_cols = {"city","state_id","lat","lng"}
    if not need_cols.issubset(us.columns):
        raise KeyError(f"uszips.csv must contain columns {need_cols}, but got {set(us.columns)}")

    us["city"] = us["city"].astype(str).str.strip()
    us["state_id"] = us["state_id"].astype(str).str.strip().str.upper()

    # city/state_id 중심 좌표
    cs_centroid = (
        us.groupby(["city","state_id"], as_index=False)
          .agg(merchant_lat=("lat","mean"), merchant_lon=("lng","mean"))
    )

    # 3) miss의 city/state와 centroid merge
    miss["cs_city_norm"] = miss["cs_city"].astype(str).str.strip()
    miss["cs_state_norm"] = miss["cs_state"].astype(str).str.strip().str.upper()

    miss = miss.merge(
        cs_centroid,
        left_on=["cs_city_norm","cs_state_norm"],
        right_on=["city","state_id"],
        how="left"
    )

    if verbose:
        print("centroid coord coverage:",
              (miss["merchant_lat"].notna() & miss["merchant_lon"].notna()).mean())

    # 4) distance 계산
    can = (
        miss["latitude"].notna() &
        miss["longitude"].notna() &
        miss["merchant_lat"].notna() &
        miss["merchant_lon"].notna()
    )

    miss["distance_km_new"] = np.nan
    miss.loc[can, "distance_km_new"] = haversine_km(
        miss.loc[can, "latitude"].astype("float64"),
        miss.loc[can, "longitude"].astype("float64"),
        miss.loc[can, "merchant_lat"].astype("float64"),
        miss.loc[can, "merchant_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("filled share among target missing:", miss["distance_km_new"].notna().mean())
        print("still missing among target:", miss["distance_km_new"].isna().sum())

    # 5) trans(out)에 반영
    fill_map = miss.set_index("__idx__")["distance_km_new"]
    out.loc[fill_map.index, "distance_km"] = out.loc[fill_map.index, "distance_km"].fillna(fill_map)

    # has_distance 갱신 (offline 기준: distance 있으면 1)
    out.loc[out["is_online"]==0, "has_distance"] = out.loc[out["is_online"]==0, "distance_km"].notna().astype("int8")

    if verbose:
        m_off = (out["is_online"]==0)
        print("\n[after city/state centroid fill overall offline]")
        print("offline distance_km missing:", out.loc[m_off, "distance_km"].isna().sum())
        print("offline has_distance rate:", out.loc[m_off, "has_distance"].mean())

    return out

transactions_data = pd.read_csv("original/transactions_data.csv")
trans = fill_offline_distance_by_citystate_centroid(trans, transactions_data, "uszips.csv", verbose=True)

target missing rows: 13046
have (city,state) from tx: 0.7893607235934386
centroid coord coverage: 0.0
filled share among target missing: 0.0
still missing among target: 13046

[after city/state centroid fill overall offline]
offline distance_km missing: 13046
offline has_distance rate: 0.9980691786387161

In [119]:
usz = pd.read_csv("uszips.csv", dtype=str)
usz.columns

Index(['zip', 'lat', 'lng', 'city', 'state_id', 'state_name', 'zcta',
       'parent_zcta', 'population', 'density', 'county_fips', 'county_name',
       'county_weights', 'county_names_all', 'county_fips_all', 'imprecise',
       'military', 'timezone'],
      dtype='object')

In [120]:
usz.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,TRUE,NaN,16721,100.2,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,FALSE,FALSE,America/Puerto_Rico
1,00602,18.36075,-67.17541,Aguada,PR,Puerto Rico,TRUE,NaN,37510,477.6,72003,Aguada,"{""72003"": 100}",Aguada,72003,FALSE,FALSE,America/Puerto_Rico
2,00603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,TRUE,NaN,48317,543.1,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,FALSE,FALSE,America/Puerto_Rico
3,00606,18.16585,-66.93716,Maricao,PR,Puerto Rico,TRUE,NaN,5435,47.3,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.67, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,FALSE,FALSE,America/Puerto_Rico
4,00610,18.2911,-67.12243,Anasco,PR,Puerto Rico,TRUE,NaN,25413,264.4,72011,Añasco,"{""72011"": 96.8, ""72099"": 2.83, ""72083"": 0.37}",Añasco|Moca|Las Marías,72011|72099|72083,FALSE,FALSE,America/Puerto_Rico

In [121]:
def norm_city(s: pd.Series) -> pd.Series:
    # uszips city와 최대한 맞추기 위한 정규화
    out = s.astype(str).str.strip()
    out = out.str.replace(r"\s+", " ", regex=True)
    out = out.str.replace(r"[^\w\s]", "", regex=True)  # punctuation 제거
    out = out.str.lower()
    # st / st. -> saint (도시명 불일치 흔함)
    out = out.str.replace(r"^st\s", "saint ", regex=True)
    out = out.str.replace(r"^st\.\s", "saint ", regex=True)
    return out

def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1 = np.radians(lat1); lon1 = np.radians(lon1)
    lat2 = np.radians(lat2); lon2 = np.radians(lon2)
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1)*np.cos(lat2)*np.sin(dlon/2)**2
    return 2 * R * np.arcsin(np.sqrt(a))

def fill_offline_distance_citystate(
    trans: pd.DataFrame,
    transactions_data: pd.DataFrame,
    uszips_path="uszips.csv",
    verbose=True
) -> pd.DataFrame:
    out = trans.copy()

    # offline에서 distance 결측만 타겟
    m_target = (out["is_online"]==0) & (out["distance_km"].isna())
    miss = out.loc[m_target, ["merchant_id","latitude","longitude"]].copy()
    miss["__idx__"] = miss.index

    if verbose:
        print("target missing rows:", len(miss))

    # 1) transactions_data에서 merchant_id -> (city,state_id) 대표값(최빈)
    tx = transactions_data[["merchant_id","merchant_city","merchant_state"]].copy()
    tx["merchant_city"]  = tx["merchant_city"].astype(str).str.strip()
    tx["merchant_state"] = tx["merchant_state"].astype(str).str.strip().str.upper()

    # 'nan' 문자열 같은 쓰레기 제거
    tx = tx[tx["merchant_city"].notna() & (tx["merchant_city"].str.lower() != "nan")]
    tx = tx[tx["merchant_state"].notna() & (tx["merchant_state"].str.lower() != "nan")]

    mid_cs = (
        tx.groupby(["merchant_id","merchant_city","merchant_state"]).size().reset_index(name="cnt")
          .sort_values(["merchant_id","cnt"], ascending=[True, False])
          .drop_duplicates("merchant_id")
          .rename(columns={"merchant_city":"cs_city", "merchant_state":"cs_state"})
          [["merchant_id","cs_city","cs_state"]]
    )

    miss = miss.merge(mid_cs, on="merchant_id", how="left")

    if verbose:
        print("have city/state from tx:", miss["cs_city"].notna().mean())

    # 2) uszips에서 (city, state_id) -> centroid(lat,lng)
    us = pd.read_csv(uszips_path, dtype=str)
    us["lat"] = pd.to_numeric(us["lat"], errors="coerce")
    us["lng"] = pd.to_numeric(us["lng"], errors="coerce")
    us = us.dropna(subset=["lat","lng","city","state_id"])

    us["city_norm"] = norm_city(us["city"])
    us["state_id"]  = us["state_id"].astype(str).str.strip().str.upper()

    cs_centroid = (
        us.groupby(["city_norm","state_id"], as_index=False)
          .agg(merchant_lat=("lat","mean"), merchant_lon=("lng","mean"))
    )

    # 3) miss도 city 정규화 후 centroid 붙이기
    miss["city_norm"] = norm_city(miss["cs_city"])
    miss["cs_state"]  = miss["cs_state"].astype(str).str.strip().str.upper()

    miss = miss.merge(
        cs_centroid,
        left_on=["city_norm","cs_state"],
        right_on=["city_norm","state_id"],
        how="left"
    )

    if verbose:
        print("centroid coord coverage:",
              (miss["merchant_lat"].notna() & miss["merchant_lon"].notna()).mean())

    # 4) distance 계산
    can = (
        miss["latitude"].notna() &
        miss["longitude"].notna() &
        miss["merchant_lat"].notna() &
        miss["merchant_lon"].notna()
    )

    miss["distance_km_new"] = np.nan
    miss.loc[can, "distance_km_new"] = haversine_km(
        miss.loc[can, "latitude"].astype("float64"),
        miss.loc[can, "longitude"].astype("float64"),
        miss.loc[can, "merchant_lat"].astype("float64"),
        miss.loc[can, "merchant_lon"].astype("float64"),
    ).astype("float32")

    if verbose:
        print("filled share among target missing:", miss["distance_km_new"].notna().mean())
        print("still missing among target:", miss["distance_km_new"].isna().sum())

    # 5) 원본(out)에 채우기 (index 기반)
    fill_map = miss.set_index("__idx__")["distance_km_new"]
    out.loc[fill_map.index, "distance_km"] = out.loc[fill_map.index, "distance_km"].fillna(fill_map)

    # 6) has_distance 갱신(offline만)
    m_off = (out["is_online"]==0)
    out.loc[m_off, "has_distance"] = out.loc[m_off, "distance_km"].notna().astype("int8")

    if verbose:
        print("\n[after fill overall offline]")
        print("offline distance_km missing:", out.loc[m_off, "distance_km"].isna().sum())
        print("offline has_distance rate:", out.loc[m_off, "has_distance"].mean())

    return out

In [122]:
transactions_data = pd.read_csv("original/transactions_data.csv")
trans = fill_offline_distance_citystate(trans, transactions_data, "uszips.csv", verbose=True)

target missing rows: 13046
have city/state from tx: 0.7893607235934386
centroid coord coverage: 0.0
filled share among target missing: 0.0
still missing among target: 13046

[after fill overall offline]
offline distance_km missing: 13046
offline has_distance rate: 0.9980691786387161

In [ ]:
def fill_offline_distance_by_medians(trans: pd.DataFrame, verbose=True) -> pd.DataFrame:
    out = trans.copy()

    # offline만 대상으로
    off_mask = (out["is_online"] == 0)

    # 아직 distance가 없는 offline
    miss_mask = off_mask & out["distance_km"].isna()
    n0 = miss_mask.sum()
    if verbose:
        print("offline missing distance start:", n0)

    # (A) merchant_id별 median distance (이미 계산된 것들로부터)
    mid_med = (
        out.loc[off_mask & out["distance_km"].notna(), ["merchant_id","distance_km"]]
          .groupby("merchant_id")["distance_km"]
          .median()
          .astype("float32")
    )

    # (B) (merchant_city, merchant_state)별 median distance
    cs_med = (
        out.loc[off_mask & out["distance_km"].notna(), ["merchant_city","merchant_state","distance_km"]]
          .assign(
              merchant_city=lambda d: d["merchant_city"].astype(str).str.strip(),
              merchant_state=lambda d: d["merchant_state"].astype(str).str.strip().str.upper(),
          )
          .groupby(["merchant_city","merchant_state"])["distance_km"]
          .median()
          .astype("float32")
    )

    # (C) 전체 offline median
    global_med = float(out.loc[off_mask & out["distance_km"].notna(), "distance_km"].median())
    if verbose:
        print("offline global median distance_km:", global_med)

    # impute flag (진짜 geo 기반이 아니라 대체로 채운 경우)
    out["distance_imputed"] = np.int8(0)

    # 1) merchant_id median으로 채우기
    miss_idx = out.index[miss_mask]
    fill1 = out.loc[miss_idx, "merchant_id"].map(mid_med)

    m1 = fill1.notna()
    out.loc[miss_idx[m1], "distance_km"] = fill1[m1].values
    out.loc[miss_idx[m1], "distance_imputed"] = np.int8(1)

    if verbose:
        print("filled by merchant_id median:", int(m1.sum()))

    # 2) 남은 것: city/state median
    miss_mask2 = off_mask & out["distance_km"].isna()
    miss_idx2 = out.index[miss_mask2]

    city_norm = out.loc[miss_idx2, "merchant_city"].astype(str).str.strip()
    state_norm = out.loc[miss_idx2, "merchant_state"].astype(str).str.strip().str.upper()

    fill2 = pd.MultiIndex.from_arrays([city_norm, state_norm]).map(cs_med)

    m2 = ~pd.isna(fill2)
    out.loc[miss_idx2[m2], "distance_km"] = np.asarray(fill2[m2], dtype="float32")
    out.loc[miss_idx2[m2], "distance_imputed"] = np.int8(1)

    if verbose:
        print("filled by city/state median:", int(m2.sum()))

    # 3) 그래도 남은 것: global median
    miss_mask3 = off_mask & out["distance_km"].isna()
    n3 = miss_mask3.sum()
    if n3 > 0:
        out.loc[miss_mask3, "distance_km"] = np.float32(global_med)
        out.loc[miss_mask3, "distance_imputed"] = np.int8(1)
    if verbose:
        print("filled by global median:", int(n3))

    # has_distance는 “distance_km가 존재하면 1”로 재정의 (이제 결측이 없어지니까 offline은 거의 1)
    out.loc[off_mask, "has_distance"] = out.loc[off_mask, "distance_km"].notna().astype("int8")

    if verbose:
        print("\n[after fill]")
        print("offline missing distance end:", int((off_mask & out["distance_km"].isna()).sum()))
        print("offline has_distance rate:", float(out.loc[off_mask, "has_distance"].mean()))
        print("offline distance_imputed rate:", float(out.loc[off_mask, "distance_imputed"].mean()))

    return out

# 실행
trans = fill_offline_distance_by_medians(trans, verbose=True)

offline missing distance start: 13046
offline global median distance_km: 8.322510719299316
filled by merchant_id median: 142
filled by city/state median: 10120
filled by global median: 2784

[after fill]
offline missing distance end: 0
offline has_distance rate: 1.0
offline distance_imputed rate: 0.00193082136128382

In [ ]:
off_mask = (trans["is_online"] == 0)
print("offline distance_km missing:", trans.loc[off_mask, "distance_km"].isna().sum())

print("offline has_distance rate:", trans.loc[off_mask, "has_distance"].mean())

print("offline distance_imputed rate:", trans.loc[off_mask, "distance_imputed"].mean())

on_mask = (trans["is_online"] == 1)
print("online distance_km missing:", trans.loc[on_mask, "distance_km"].isna().sum())

print(trans[["has_distance","distance_imputed"]].dtypes)
print(trans["distance_km"].dtype)

offline distance_km missing: 0
offline has_distance rate: 1.0
offline distance_imputed rate: 0.00193082136128382
online distance_km missing: 890768
has_distance        int8
distance_imputed    int8
dtype: object
float64

---

In [127]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 62 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   merchant_city                    object
 6   merchant_state                   object
 7   current_age                      int64
 8   retirement_age                   int64
 9   birth_year                       int64
 10  birth_month                      int8
 11  latitude                         float64
 12  longitude                        float64
 13  per_capita_income                float32
 14  yearly_income                    float32
 15  total_debt                       float32
 16  credit_score                     int64
 17  num_credit_cards                 int8
 18  has_chip                         int8
 19  num_cards_issued                 int64
 20  credit_limit                     float32
 21  year_pin_last_changed            int64
 22  fraud                            int8
 23  is_online                        int8
 24  has_error                        int8
 25  err_bad_card_number              int8
 26  err_bad_expiration               int8
 27  err_bad_cvv                      int8
 28  err_bad_pin                      int8
 29  err_bad_zipcode                  int8
 30  err_insufficient_balance         int8
 31  err_technical_glitch             int8
 32  acct_open_year                   int16
 33  acct_open_month                  int8
 34  expires_year                     int16
 35  expires_month                    int8
 36  months_to_expire                 int16
 37  tx_year                          int16
 38  tx_month                         int8
 39  tx_hour                          int8
 40  is_weekend                       int8
 41  is_credit                        int8
 42  is_prepaid                       int8
 43  male                             int8
 44  mccg_Food_Daily                  int8
 45  mccg_Transport_Travel            int8
 46  mccg_Digital_Online              int8
 47  mccg_Financial                   int8
 48  mccg_Retail                      int8
 49  mccg_Medical                     int8
 50  mccg_Entertainment               int8
 51  mccg_Automotive_Home             int8
 52  mccg_Utilities_Government        int8
 53  mccg_Professional_Services       int8
 54  mccg_Industrial_/_Manufacturing  int8
 55  cb_Visa                          int8
 56  cb_Mastercard                    int8
 57  cb_Amex                          int8
 58  cb_Discover                      int8
 59  has_distance                     int8
 60  distance_km                      float64
 61  distance_imputed                 int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(38), object(3)
memory usage: 1.3+ GB

In [128]:
trans.drop(columns=["merchant_city", "merchant_state"], inplace=True)

In [129]:
trans.to_parquet("trans.parquet", engine="pyarrow", compression="snappy")
trans = pd.read_parquet("trans.parquet")

In [130]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647478 entries, 0 to 7647477
Data columns (total 60 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   use_chip                         object
 4   merchant_id                      int64
 5   current_age                      int64
 6   retirement_age                   int64
 7   birth_year                       int64
 8   birth_month                      int8
 9   latitude                         float64
 10  longitude                        float64
 11  per_capita_income                float32
 12  yearly_income                    float32
 13  total_debt                       float32
 14  credit_score                     int64
 15  num_credit_cards                 int8
 16  has_chip                         int8
 17  num_cards_issued                 int64
 18  credit_limit                     float32
 19  year_pin_last_changed            int64
 20  fraud                            int8
 21  is_online                        int8
 22  has_error                        int8
 23  err_bad_card_number              int8
 24  err_bad_expiration               int8
 25  err_bad_cvv                      int8
 26  err_bad_pin                      int8
 27  err_bad_zipcode                  int8
 28  err_insufficient_balance         int8
 29  err_technical_glitch             int8
 30  acct_open_year                   int16
 31  acct_open_month                  int8
 32  expires_year                     int16
 33  expires_month                    int8
 34  months_to_expire                 int16
 35  tx_year                          int16
 36  tx_month                         int8
 37  tx_hour                          int8
 38  is_weekend                       int8
 39  is_credit                        int8
 40  is_prepaid                       int8
 41  male                             int8
 42  mccg_Food_Daily                  int8
 43  mccg_Transport_Travel            int8
 44  mccg_Digital_Online              int8
 45  mccg_Financial                   int8
 46  mccg_Retail                      int8
 47  mccg_Medical                     int8
 48  mccg_Entertainment               int8
 49  mccg_Automotive_Home             int8
 50  mccg_Utilities_Government        int8
 51  mccg_Professional_Services       int8
 52  mccg_Industrial_/_Manufacturing  int8
 53  cb_Visa                          int8
 54  cb_Mastercard                    int8
 55  cb_Amex                          int8
 56  cb_Discover                      int8
 57  has_distance                     int8
 58  distance_km                      float64
 59  distance_imputed                 int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(38), object(1)
memory usage: 1.2+ GB

In [131]:
online = trans[trans["is_online"]==1]
offline = trans[trans["is_online"]==0]

In [132]:
online.shape

(890768, 60)

In [133]:
offline.shape

(6756710, 60)

In [134]:
online["fraud"].value_counts()

fraud
0    882074
1      8694
Name: count, dtype: int64

In [135]:
offline["fraud"].value_counts()

fraud
0    6754342
1       2368
Name: count, dtype: int64

In [136]:
online.info()

<class 'pandas.core.frame.DataFrame'>
Index: 890768 entries, 5 to 7647448
Data columns (total 60 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   client_id                        890768 non-null  int64
 1   card_id                          890768 non-null  int64
 2   amount                           890768 non-null  float32
 3   use_chip                         890768 non-null  object
 4   merchant_id                      890768 non-null  int64
 5   current_age                      890768 non-null  int64
 6   retirement_age                   890768 non-null  int64
 7   birth_year                       890768 non-null  int64
 8   birth_month                      890768 non-null  int8
 9   latitude                         890768 non-null  float64
 10  longitude                        890768 non-null  float64
 11  per_capita_income                890768 non-null  float32
 12  yearly_income                    890768 non-null  float32
 13  total_debt                       890768 non-null  float32
 14  credit_score                     890768 non-null  int64
 15  num_credit_cards                 890768 non-null  int8
 16  has_chip                         890768 non-null  int8
 17  num_cards_issued                 890768 non-null  int64
 18  credit_limit                     890768 non-null  float32
 19  year_pin_last_changed            890768 non-null  int64
 20  fraud                            890768 non-null  int8
 21  is_online                        890768 non-null  int8
 22  has_error                        890768 non-null  int8
 23  err_bad_card_number              890768 non-null  int8
 24  err_bad_expiration               890768 non-null  int8
 25  err_bad_cvv                      890768 non-null  int8
 26  err_bad_pin                      890768 non-null  int8
 27  err_bad_zipcode                  890768 non-null  int8
 28  err_insufficient_balance         890768 non-null  int8
 29  err_technical_glitch             890768 non-null  int8
 30  acct_open_year                   890768 non-null  int16
 31  acct_open_month                  890768 non-null  int8
 32  expires_year                     890768 non-null  int16
 33  expires_month                    890768 non-null  int8
 34  months_to_expire                 890768 non-null  int16
 35  tx_year                          890768 non-null  int16
 36  tx_month                         890768 non-null  int8
 37  tx_hour                          890768 non-null  int8
 38  is_weekend                       890768 non-null  int8
 39  is_credit                        890768 non-null  int8
 40  is_prepaid                       890768 non-null  int8
 41  male                             890768 non-null  int8
 42  mccg_Food_Daily                  890768 non-null  int8
 43  mccg_Transport_Travel            890768 non-null  int8
 44  mccg_Digital_Online              890768 non-null  int8
 45  mccg_Financial                   890768 non-null  int8
 46  mccg_Retail                      890768 non-null  int8
 47  mccg_Medical                     890768 non-null  int8
 48  mccg_Entertainment               890768 non-null  int8
 49  mccg_Automotive_Home             890768 non-null  int8
 50  mccg_Utilities_Government        890768 non-null  int8
 51  mccg_Professional_Services       890768 non-null  int8
 52  mccg_Industrial_/_Manufacturing  890768 non-null  int8
 53  cb_Visa                          890768 non-null  int8
 54  cb_Mastercard                    890768 non-null  int8
 55  cb_Amex                          890768 non-null  int8
 56  cb_Discover                      890768 non-null  int8
 57  has_distance                     890768 non-null  int8
 58  distance_km                      0 non-null       float64
 59  distance_imputed                 890768 non-null  int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(38), object(1)
memory usage: 151.2+ MB

In [137]:
trans["use_chip"].unique()

array(['Swipe Transaction', 'Online Transaction', 'Chip Transaction'],
      dtype=object)

In [138]:
online.drop("use_chip", axis=1, inplace=True)
offline["tx_swipe"] = (offline["use_chip"] == "Swipe Transaction").astype("int8")
offline["tx_chip"]  = (offline["use_chip"] == "Chip Transaction").astype("int8")
offline.drop(columns=["use_chip"], inplace=True)

/tmp/ipykernel_1040650/2734808026.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  online.drop("use_chip", axis=1, inplace=True)
/tmp/ipykernel_1040650/2734808026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offline["tx_swipe"] = (offline["use_chip"] == "Swipe Transaction").astype("int8")
/tmp/ipykernel_1040650/2734808026.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offline["tx_chip"]  = (offline["use_chip"] == "Chip Transaction").astype("int8")
/tmp/ipykernel_1040650/2734808026.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  offline.drop(columns=["use_chip"], inplace=True)

In [139]:
online.info()

<class 'pandas.core.frame.DataFrame'>
Index: 890768 entries, 5 to 7647448
Data columns (total 59 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   client_id                        890768 non-null  int64
 1   card_id                          890768 non-null  int64
 2   amount                           890768 non-null  float32
 3   merchant_id                      890768 non-null  int64
 4   current_age                      890768 non-null  int64
 5   retirement_age                   890768 non-null  int64
 6   birth_year                       890768 non-null  int64
 7   birth_month                      890768 non-null  int8
 8   latitude                         890768 non-null  float64
 9   longitude                        890768 non-null  float64
 10  per_capita_income                890768 non-null  float32
 11  yearly_income                    890768 non-null  float32
 12  total_debt                       890768 non-null  float32
 13  credit_score                     890768 non-null  int64
 14  num_credit_cards                 890768 non-null  int8
 15  has_chip                         890768 non-null  int8
 16  num_cards_issued                 890768 non-null  int64
 17  credit_limit                     890768 non-null  float32
 18  year_pin_last_changed            890768 non-null  int64
 19  fraud                            890768 non-null  int8
 20  is_online                        890768 non-null  int8
 21  has_error                        890768 non-null  int8
 22  err_bad_card_number              890768 non-null  int8
 23  err_bad_expiration               890768 non-null  int8
 24  err_bad_cvv                      890768 non-null  int8
 25  err_bad_pin                      890768 non-null  int8
 26  err_bad_zipcode                  890768 non-null  int8
 27  err_insufficient_balance         890768 non-null  int8
 28  err_technical_glitch             890768 non-null  int8
 29  acct_open_year                   890768 non-null  int16
 30  acct_open_month                  890768 non-null  int8
 31  expires_year                     890768 non-null  int16
 32  expires_month                    890768 non-null  int8
 33  months_to_expire                 890768 non-null  int16
 34  tx_year                          890768 non-null  int16
 35  tx_month                         890768 non-null  int8
 36  tx_hour                          890768 non-null  int8
 37  is_weekend                       890768 non-null  int8
 38  is_credit                        890768 non-null  int8
 39  is_prepaid                       890768 non-null  int8
 40  male                             890768 non-null  int8
 41  mccg_Food_Daily                  890768 non-null  int8
 42  mccg_Transport_Travel            890768 non-null  int8
 43  mccg_Digital_Online              890768 non-null  int8
 44  mccg_Financial                   890768 non-null  int8
 45  mccg_Retail                      890768 non-null  int8
 46  mccg_Medical                     890768 non-null  int8
 47  mccg_Entertainment               890768 non-null  int8
 48  mccg_Automotive_Home             890768 non-null  int8
 49  mccg_Utilities_Government        890768 non-null  int8
 50  mccg_Professional_Services       890768 non-null  int8
 51  mccg_Industrial_/_Manufacturing  890768 non-null  int8
 52  cb_Visa                          890768 non-null  int8
 53  cb_Mastercard                    890768 non-null  int8
 54  cb_Amex                          890768 non-null  int8
 55  cb_Discover                      890768 non-null  int8
 56  has_distance                     890768 non-null  int8
 57  distance_km                      0 non-null       float64
 58  distance_imputed                 890768 non-null  int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(38)
memory usage: 144.4 MB

In [140]:
offline.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6756710 entries, 0 to 7647477
Data columns (total 61 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   merchant_id                      int64
 4   current_age                      int64
 5   retirement_age                   int64
 6   birth_year                       int64
 7   birth_month                      int8
 8   latitude                         float64
 9   longitude                        float64
 10  per_capita_income                float32
 11  yearly_income                    float32
 12  total_debt                       float32
 13  credit_score                     int64
 14  num_credit_cards                 int8
 15  has_chip                         int8
 16  num_cards_issued                 int64
 17  credit_limit                     float32
 18  year_pin_last_changed            int64
 19  fraud                            int8
 20  is_online                        int8
 21  has_error                        int8
 22  err_bad_card_number              int8
 23  err_bad_expiration               int8
 24  err_bad_cvv                      int8
 25  err_bad_pin                      int8
 26  err_bad_zipcode                  int8
 27  err_insufficient_balance         int8
 28  err_technical_glitch             int8
 29  acct_open_year                   int16
 30  acct_open_month                  int8
 31  expires_year                     int16
 32  expires_month                    int8
 33  months_to_expire                 int16
 34  tx_year                          int16
 35  tx_month                         int8
 36  tx_hour                          int8
 37  is_weekend                       int8
 38  is_credit                        int8
 39  is_prepaid                       int8
 40  male                             int8
 41  mccg_Food_Daily                  int8
 42  mccg_Transport_Travel            int8
 43  mccg_Digital_Online              int8
 44  mccg_Financial                   int8
 45  mccg_Retail                      int8
 46  mccg_Medical                     int8
 47  mccg_Entertainment               int8
 48  mccg_Automotive_Home             int8
 49  mccg_Utilities_Government        int8
 50  mccg_Professional_Services       int8
 51  mccg_Industrial_/_Manufacturing  int8
 52  cb_Visa                          int8
 53  cb_Mastercard                    int8
 54  cb_Amex                          int8
 55  cb_Discover                      int8
 56  has_distance                     int8
 57  distance_km                      float64
 58  distance_imputed                 int8
 59  tx_swipe                         int8
 60  tx_chip                          int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(40)
memory usage: 1.1 GB

In [141]:
online.to_parquet("split/online")

In [142]:
online = pd.read_parquet("split/online")
online.info()

<class 'pandas.core.frame.DataFrame'>
Index: 890768 entries, 5 to 7647448
Data columns (total 59 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   client_id                        890768 non-null  int64
 1   card_id                          890768 non-null  int64
 2   amount                           890768 non-null  float32
 3   merchant_id                      890768 non-null  int64
 4   current_age                      890768 non-null  int64
 5   retirement_age                   890768 non-null  int64
 6   birth_year                       890768 non-null  int64
 7   birth_month                      890768 non-null  int8
 8   latitude                         890768 non-null  float64
 9   longitude                        890768 non-null  float64
 10  per_capita_income                890768 non-null  float32
 11  yearly_income                    890768 non-null  float32
 12  total_debt                       890768 non-null  float32
 13  credit_score                     890768 non-null  int64
 14  num_credit_cards                 890768 non-null  int8
 15  has_chip                         890768 non-null  int8
 16  num_cards_issued                 890768 non-null  int64
 17  credit_limit                     890768 non-null  float32
 18  year_pin_last_changed            890768 non-null  int64
 19  fraud                            890768 non-null  int8
 20  is_online                        890768 non-null  int8
 21  has_error                        890768 non-null  int8
 22  err_bad_card_number              890768 non-null  int8
 23  err_bad_expiration               890768 non-null  int8
 24  err_bad_cvv                      890768 non-null  int8
 25  err_bad_pin                      890768 non-null  int8
 26  err_bad_zipcode                  890768 non-null  int8
 27  err_insufficient_balance         890768 non-null  int8
 28  err_technical_glitch             890768 non-null  int8
 29  acct_open_year                   890768 non-null  int16
 30  acct_open_month                  890768 non-null  int8
 31  expires_year                     890768 non-null  int16
 32  expires_month                    890768 non-null  int8
 33  months_to_expire                 890768 non-null  int16
 34  tx_year                          890768 non-null  int16
 35  tx_month                         890768 non-null  int8
 36  tx_hour                          890768 non-null  int8
 37  is_weekend                       890768 non-null  int8
 38  is_credit                        890768 non-null  int8
 39  is_prepaid                       890768 non-null  int8
 40  male                             890768 non-null  int8
 41  mccg_Food_Daily                  890768 non-null  int8
 42  mccg_Transport_Travel            890768 non-null  int8
 43  mccg_Digital_Online              890768 non-null  int8
 44  mccg_Financial                   890768 non-null  int8
 45  mccg_Retail                      890768 non-null  int8
 46  mccg_Medical                     890768 non-null  int8
 47  mccg_Entertainment               890768 non-null  int8
 48  mccg_Automotive_Home             890768 non-null  int8
 49  mccg_Utilities_Government        890768 non-null  int8
 50  mccg_Professional_Services       890768 non-null  int8
 51  mccg_Industrial_/_Manufacturing  890768 non-null  int8
 52  cb_Visa                          890768 non-null  int8
 53  cb_Mastercard                    890768 non-null  int8
 54  cb_Amex                          890768 non-null  int8
 55  cb_Discover                      890768 non-null  int8
 56  has_distance                     890768 non-null  int8
 57  distance_km                      0 non-null       float64
 58  distance_imputed                 890768 non-null  int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(38)
memory usage: 144.4 MB

In [143]:
offline.to_parquet("split/offline")

In [144]:
offline = pd.read_parquet("split/offline")

In [145]:
offline.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6756710 entries, 0 to 7647477
Data columns (total 61 columns):
 #   Column                           Dtype
---  ------                           -----
 0   client_id                        int64
 1   card_id                          int64
 2   amount                           float32
 3   merchant_id                      int64
 4   current_age                      int64
 5   retirement_age                   int64
 6   birth_year                       int64
 7   birth_month                      int8
 8   latitude                         float64
 9   longitude                        float64
 10  per_capita_income                float32
 11  yearly_income                    float32
 12  total_debt                       float32
 13  credit_score                     int64
 14  num_credit_cards                 int8
 15  has_chip                         int8
 16  num_cards_issued                 int64
 17  credit_limit                     float32
 18  year_pin_last_changed            int64
 19  fraud                            int8
 20  is_online                        int8
 21  has_error                        int8
 22  err_bad_card_number              int8
 23  err_bad_expiration               int8
 24  err_bad_cvv                      int8
 25  err_bad_pin                      int8
 26  err_bad_zipcode                  int8
 27  err_insufficient_balance         int8
 28  err_technical_glitch             int8
 29  acct_open_year                   int16
 30  acct_open_month                  int8
 31  expires_year                     int16
 32  expires_month                    int8
 33  months_to_expire                 int16
 34  tx_year                          int16
 35  tx_month                         int8
 36  tx_hour                          int8
 37  is_weekend                       int8
 38  is_credit                        int8
 39  is_prepaid                       int8
 40  male                             int8
 41  mccg_Food_Daily                  int8
 42  mccg_Transport_Travel            int8
 43  mccg_Digital_Online              int8
 44  mccg_Financial                   int8
 45  mccg_Retail                      int8
 46  mccg_Medical                     int8
 47  mccg_Entertainment               int8
 48  mccg_Automotive_Home             int8
 49  mccg_Utilities_Government        int8
 50  mccg_Professional_Services       int8
 51  mccg_Industrial_/_Manufacturing  int8
 52  cb_Visa                          int8
 53  cb_Mastercard                    int8
 54  cb_Amex                          int8
 55  cb_Discover                      int8
 56  has_distance                     int8
 57  distance_km                      float64
 58  distance_imputed                 int8
 59  tx_swipe                         int8
 60  tx_chip                          int8
dtypes: float32(5), float64(3), int16(4), int64(9), int8(40)
memory usage: 1.1 GB

In [146]:
offline.head()

,client_id,card_id,amount,merchant_id,current_age,retirement_age,birth_year,birth_month,latitude,longitude,...,mccg_Industrial_/_Manufacturing,cb_Visa,cb_Mastercard,cb_Amex,cb_Discover,has_distance,distance_km,distance_imputed,tx_swipe,tx_chip
0,1556,2972,-77.00,59935,30,67,1989,7,46.80,-100.76,...,0,0,1,0,0,1,93.137779,0,1,0
1,561,4575,14.57,67570,48,67,1971,6,40.80,-91.12,...,0,0,1,0,0,1,101.215202,0,1,0
2,1129,102,80.00,27092,49,65,1970,4,33.18,-117.29,...,0,0,1,0,0,1,9.462576,0,1,0
3,848,3915,46.41,13051,51,69,1968,5,38.86,-76.60,...,0,1,0,0,0,1,1.169253,0,1,0
4,1807,165,4.81,20519,47,65,1972,12,40.84,-73.87,...,0,0,1,0,0,1,6.638261,0,1,0

In [147]:
online.head()

,client_id,card_id,amount,merchant_id,current_age,retirement_age,birth_year,birth_month,latitude,longitude,...,mccg_Utilities_Government,mccg_Professional_Services,mccg_Industrial_/_Manufacturing,cb_Visa,cb_Mastercard,cb_Amex,cb_Discover,has_distance,distance_km,distance_imputed
5,1684,2140,26.459999,39021,56,65,1963,11,36.34,-83.28,...,0,0,0,0,1,0,0,0,NaN,0
13,394,4717,26.040001,39021,52,71,1967,4,41.09,-73.55,...,0,0,0,0,1,0,0,0,NaN,0
18,301,3742,10.170000,39021,47,69,1972,11,34.24,-84.49,...,0,0,0,1,0,0,0,0,NaN,0
21,1127,3869,22.570000,39021,59,70,1960,8,26.14,-81.79,...,0,0,0,1,0,0,0,0,NaN,0
26,820,127,270.220001,73186,70,59,1949,12,41.70,-70.30,...,0,0,0,0,1,0,0,0,NaN,0

In [148]:
online.drop(columns=["has_distance", "distance_km"], inplace=True)
online.info()

<class 'pandas.core.frame.DataFrame'>
Index: 890768 entries, 5 to 7647448
Data columns (total 57 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   client_id                        890768 non-null  int64
 1   card_id                          890768 non-null  int64
 2   amount                           890768 non-null  float32
 3   merchant_id                      890768 non-null  int64
 4   current_age                      890768 non-null  int64
 5   retirement_age                   890768 non-null  int64
 6   birth_year                       890768 non-null  int64
 7   birth_month                      890768 non-null  int8
 8   latitude                         890768 non-null  float64
 9   longitude                        890768 non-null  float64
 10  per_capita_income                890768 non-null  float32
 11  yearly_income                    890768 non-null  float32
 12  total_debt                       890768 non-null  float32
 13  credit_score                     890768 non-null  int64
 14  num_credit_cards                 890768 non-null  int8
 15  has_chip                         890768 non-null  int8
 16  num_cards_issued                 890768 non-null  int64
 17  credit_limit                     890768 non-null  float32
 18  year_pin_last_changed            890768 non-null  int64
 19  fraud                            890768 non-null  int8
 20  is_online                        890768 non-null  int8
 21  has_error                        890768 non-null  int8
 22  err_bad_card_number              890768 non-null  int8
 23  err_bad_expiration               890768 non-null  int8
 24  err_bad_cvv                      890768 non-null  int8
 25  err_bad_pin                      890768 non-null  int8
 26  err_bad_zipcode                  890768 non-null  int8
 27  err_insufficient_balance         890768 non-null  int8
 28  err_technical_glitch             890768 non-null  int8
 29  acct_open_year                   890768 non-null  int16
 30  acct_open_month                  890768 non-null  int8
 31  expires_year                     890768 non-null  int16
 32  expires_month                    890768 non-null  int8
 33  months_to_expire                 890768 non-null  int16
 34  tx_year                          890768 non-null  int16
 35  tx_month                         890768 non-null  int8
 36  tx_hour                          890768 non-null  int8
 37  is_weekend                       890768 non-null  int8
 38  is_credit                        890768 non-null  int8
 39  is_prepaid                       890768 non-null  int8
 40  male                             890768 non-null  int8
 41  mccg_Food_Daily                  890768 non-null  int8
 42  mccg_Transport_Travel            890768 non-null  int8
 43  mccg_Digital_Online              890768 non-null  int8
 44  mccg_Financial                   890768 non-null  int8
 45  mccg_Retail                      890768 non-null  int8
 46  mccg_Medical                     890768 non-null  int8
 47  mccg_Entertainment               890768 non-null  int8
 48  mccg_Automotive_Home             890768 non-null  int8
 49  mccg_Utilities_Government        890768 non-null  int8
 50  mccg_Professional_Services       890768 non-null  int8
 51  mccg_Industrial_/_Manufacturing  890768 non-null  int8
 52  cb_Visa                          890768 non-null  int8
 53  cb_Mastercard                    890768 non-null  int8
 54  cb_Amex                          890768 non-null  int8
 55  cb_Discover                      890768 non-null  int8
 56  distance_imputed                 890768 non-null  int8
dtypes: float32(5), float64(2), int16(4), int64(9), int8(37)
memory usage: 136.8 MB

In [149]:
online.to_parquet("split/online")

In [150]:
online

,client_id,card_id,amount,merchant_id,current_age,retirement_age,birth_year,birth_month,latitude,longitude,...,mccg_Entertainment,mccg_Automotive_Home,mccg_Utilities_Government,mccg_Professional_Services,mccg_Industrial_/_Manufacturing,cb_Visa,cb_Mastercard,cb_Amex,cb_Discover,distance_imputed
5,1684,2140,26.459999,39021,56,65,1963,11,36.34,-83.28,...,0,0,0,0,0,0,1,0,0,0
13,394,4717,26.040001,39021,52,71,1967,4,41.09,-73.55,...,0,0,0,0,0,0,1,0,0,0
18,301,3742,10.170000,39021,47,69,1972,11,34.24,-84.49,...,0,0,0,0,0,1,0,0,0,0
21,1127,3869,22.570000,39021,59,70,1960,8,26.14,-81.79,...,0,0,0,0,0,1,0,0,0,0
26,820,127,270.220001,73186,70,59,1949,12,41.70,-70.30,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7647427,116,4899,36.619999,39021,31,68,1988,8,42.95,-77.59,...,0,0,0,0,0,0,1,0,0,0
7647433,876,3918,34.259998,9932,65,62,1954,5,37.68,-97.34,...,0,0,0,0,0,1,0,0,0,0
7647434,1433,5841,71.110001,88459,73,67,1946,3,30.68,-88.04,...,0,0,0,0,0,0,1,0,0,0
7647439,1591,2847,15.120000,88998,58,66,1961,6,48.28,-122.62,...,0,0,0,0,0,1,0,0,0,0
7647448,149,3590,50.349998,18563,24,54,1995,3,33.02,-117.12,...,0,0,0,0,0,0,1,0,0,0

In [151]:
sort_cols = ["tx_year", "tx_month", "tx_hour"]

online  = online.sort_values(sort_cols).reset_index(drop=True)
offline = offline.sort_values(sort_cols).reset_index(drop=True)

In [152]:
def time_split(df, ratio=0.8):
    n = len(df)
    cut = int(n * ratio)
    train = df.iloc[:cut].copy()
    test  = df.iloc[cut:].copy()
    return train, test

online_train, online_test   = time_split(online, 0.8)
offline_train, offline_test = time_split(offline, 0.8)

In [153]:
print("Online train shape:", online_train.shape)
print("Online test  shape:", online_test.shape)
print("Train fraud rate:", online_train["fraud"].mean())
print("Test  fraud rate:", online_test["fraud"].mean())

Online train shape: (712614, 57)
Online test  shape: (178154, 57)
Train fraud rate: 0.012026145992079863
Test  fraud rate: 0.0006960270327918542

In [154]:
from imblearn.under_sampling import OneSidedSelection

TARGET_COL = "fraud"
DROP_COLS = [TARGET_COL]
feature_cols = [c for c in online_train.columns if c not in DROP_COLS]

X_train = online_train[feature_cols]
y_train = online_train[TARGET_COL].astype("int8")

X_test  = online_test[feature_cols]
y_test  = online_test[TARGET_COL].astype("int8")

import numpy as np
import pandas as pd
from imblearn.under_sampling import OneSidedSelection

def chunked_oss_clean_only(X, y, *, n_neighbors=5, random_state=42, chunks=3):
    """
    OSS는 ratio 조절이 아니라 '정제(cleaning)'만 수행.
    정상(0)을 chunk로 나눠 OSS 반복 적용 후, 살아남은 정상만 합침.
    fraud(1)는 최종에 한 번만 붙여 중복 방지.
    """
    oss = OneSidedSelection(
        n_neighbors=n_neighbors,
        random_state=random_state
    )

    X_fraud = X[y == 1]
    y_fraud = y[y == 1]
    X_norm  = X[y == 0]
    y_norm  = y[y == 0]

    norm_idx_chunks = np.array_split(X_norm.index.to_numpy(), chunks)

    kept_norm_X = []
    kept_norm_y = []

    for i, idxs in enumerate(norm_idx_chunks, 1):
        X_chunk = X_norm.loc[idxs]
        y_chunk = y_norm.loc[idxs]

        X_tmp = pd.concat([X_fraud, X_chunk], axis=0)
        y_tmp = pd.concat([y_fraud, y_chunk], axis=0)

        X_res, y_res = oss.fit_resample(X_tmp, y_tmp)

        # chunk에서 살아남은 정상만 모으기
        kept_norm_X.append(X_res[y_res == 0])
        kept_norm_y.append(y_res[y_res == 0])

        print(f"[chunk {i}/{chunks}] out: {len(y_res):,} | "
              f"fraud {(y_res==1).sum():,} normal {(y_res==0).sum():,}")

    # fraud는 최종에
    X_out = pd.concat([X_fraud] + kept_norm_X, axis=0)
    y_out = pd.concat([y_fraud] + kept_norm_y, axis=0)

    print("\n[AFTER OSS CLEAN ONLY]")
    print(y_out.value_counts())

    return X_out, y_out

X_train_oss, y_train_oss = chunked_oss_clean_only(
    X_train, y_train,
    n_neighbors=5,
    random_state=42,
    chunks=3
)

print("\n[AFTER OSS]")
print("X_train_oss:", X_train_oss.shape)
print("y_train_oss counts:\n", y_train_oss.value_counts())

[chunk 1/3] out: 241,824 | fraud 8,570 normal 233,254
[chunk 2/3] out: 241,676 | fraud 8,570 normal 233,106
[chunk 3/3] out: 241,747 | fraud 8,570 normal 233,177

[AFTER OSS CLEAN ONLY]
fraud
0    699537
1      8570
Name: count, dtype: int64

[AFTER OSS]
X_train_oss: (708107, 56)
y_train_oss counts:
 fraud
0    699537
1      8570
Name: count, dtype: int64

In [155]:
online["fraud"].value_counts()

fraud
0    882074
1      8694
Name: count, dtype: int64

In [156]:
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, average_precision_score
from sklearn.impute import SimpleImputer

def quick_eval(y_true, y_pred, y_proba=None, title=""):
    print(f"\n===== {title} =====")
    print("Confusion matrix:\n", confusion_matrix(y_true, y_pred))
    print("\nClassification report:\n", classification_report(y_true, y_pred, digits=4))
    if y_proba is not None:
        try:
            print("ROC-AUC:", roc_auc_score(y_true, y_proba))
        except Exception:
            pass
        try:
            print("PR-AUC (Average Precision):", average_precision_score(y_true, y_proba))
        except Exception:
            pass

imputer = SimpleImputer(strategy="median")

Xtr = imputer.fit_transform(X_train_oss)
Xte = imputer.transform(X_test)

ytr = y_train_oss.astype(int).to_numpy()
yte = y_test.astype(int).to_numpy()

In [157]:
from sklearn.linear_model import LogisticRegression

logit = LogisticRegression(
    max_iter=2000,
    solver="lbfgs",
    class_weight="balanced",
    n_jobs=-1
)

logit.fit(Xtr, ytr)

pred = logit.predict(Xte)
proba = logit.predict_proba(Xte)[:, 1]

quick_eval(yte, pred, proba, title="LogisticRegression (train=OSS cleaned, test=future)")

/home/nakyung/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 2000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=2000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

===== LogisticRegression (train=OSS cleaned, test=future) =====
Confusion matrix:
 [[128209  49821]
 [    44     80]]

Classification report:
               precision    recall  f1-score   support

           0     0.9997    0.7202    0.8372    178030
           1     0.0016    0.6452    0.0032       124

    accuracy                         0.7201    178154
   macro avg     0.5006    0.6827    0.4202    178154
weighted avg     0.9990    0.7201    0.8366    178154

ROC-AUC: 0.7160427836555274
PR-AUC (Average Precision): 0.0038944501915579317

| 용도 | 데이터               | OSS 적용 | 형태                 |
| -- | ----------------- | ------ | ------------------ |
| 학습 | online_train_oss  | ✅      | class-balanced-ish |
| 검증 | online_test       | ❌      | 미래 원본              |
| 학습 | offline_train_oss | ✅      | class-balanced-ish |
| 검증 | offline_test      | ❌      | 미래 원본              |

data/
 ├─ online/
 │   ├─ train_oss.parquet
 │   └─ test_raw.parquet
 │
 └─ offline/
     ├─ train_oss.parquet
     └─ test_raw.parquet

In [158]:
# 학습용 (OSS 적용)
train_online_oss = pd.concat(
    [X_train_oss, y_train_oss.rename("fraud")],
    axis=1
)
train_online_oss.to_parquet(
    "data/online/train_oss.parquet",
    index=False
)

# 검증용 (원본)
online_test.to_parquet(
    "data/online/test_raw.parquet",
    index=False
)

In [159]:
offline.shape

(6756710, 61)

In [ ]:
offline.isnull().sum()

client_id           0
card_id             0
amount              0
merchant_id         0
current_age         0
                   ..
has_distance        0
distance_km         0
distance_imputed    0
tx_swipe            0
tx_chip             0
Length: 61, dtype: int64

In [161]:
TARGET_COL = "fraud"

# 0) offline만 따로 준비돼 있다고 가정: offline (DataFrame)
offline = offline.copy()

# 1) 시간 정렬 (가능한 범위에서)
sort_cols = [c for c in ["tx_year", "tx_month", "tx_hour"] if c in offline.columns]
offline = offline.sort_values(sort_cols, kind="mergesort").reset_index(drop=True)

def time_split(df, ratio=0.8):
    n = len(df)
    cut = int(n * ratio)
    train = df.iloc[:cut].copy()
    test  = df.iloc[cut:].copy()
    return train, test

offline_train, offline_test = time_split(offline, 0.8)

print("offline_train:", offline_train.shape, "fraud counts:\n", offline_train[TARGET_COL].value_counts())
print("offline_test :", offline_test.shape,  "fraud counts:\n", offline_test[TARGET_COL].value_counts())

offline_train: (5405368, 61) fraud counts:
 fraud
0    5403935
1       1433
Name: count, dtype: int64
offline_test : (1351342, 61) fraud counts:
 fraud
0    1350407
1        935
Name: count, dtype: int64

In [162]:
def chunked_oss_clean_only(X, y, *, n_neighbors=5, random_state=42, chunks=6):
    """
    - OSS는 '정제(cleaning)'만 수행 (ratio 조절 불가)
    - 정상(0)을 chunks로 쪼개서 OSS 반복 적용
    - fraud(1)는 중복 방지 위해 마지막에 한 번만 붙임
    """
    oss = OneSidedSelection(
        n_neighbors=n_neighbors,
        random_state=random_state
    )

    X_fraud = X[y == 1]
    y_fraud = y[y == 1]
    X_norm  = X[y == 0]
    y_norm  = y[y == 0]

    norm_idx_chunks = np.array_split(X_norm.index.to_numpy(), chunks)

    kept_norm_X = []
    kept_norm_y = []

    for i, idxs in enumerate(norm_idx_chunks, 1):
        X_chunk = X_norm.loc[idxs]
        y_chunk = y_norm.loc[idxs]

        X_tmp = pd.concat([X_fraud, X_chunk], axis=0)
        y_tmp = pd.concat([y_fraud, y_chunk], axis=0)

        X_res, y_res = oss.fit_resample(X_tmp, y_tmp)

        kept_norm_X.append(X_res[y_res == 0])
        kept_norm_y.append(y_res[y_res == 0])

        print(f"[chunk {i}/{chunks}] out: {len(y_res):,} | "
              f"fraud {(y_res==1).sum():,} normal {(y_res==0).sum():,}")

    X_out = pd.concat([X_fraud] + kept_norm_X, axis=0)
    y_out = pd.concat([y_fraud] + kept_norm_y, axis=0)

    print("\n[AFTER OSS CLEAN ONLY]")
    print(y_out.value_counts())

    return X_out, y_out

In [ ]:
feature_cols = [c for c in offline_train.columns if c != TARGET_COL]

X_tr = offline_train[feature_cols]
y_tr = offline_train[TARGET_COL].astype("int8")

X_te = offline_test[feature_cols]
y_te = offline_test[TARGET_COL].astype("int8")

X_tr_oss, y_tr_oss = chunked_oss_clean_only(
    X_tr, y_tr,
    n_neighbors=5,
    random_state=42,
    chunks=8
)

print("X_tr_oss:", X_tr_oss.shape)
print("y_tr_oss:\n", y_tr_oss.value_counts())

[chunk 1/8] out: 676,651 | fraud 1,433 normal 675,218
[chunk 2/8] out: 676,611 | fraud 1,433 normal 675,178
[chunk 3/8] out: 676,625 | fraud 1,433 normal 675,192
[chunk 4/8] out: 676,599 | fraud 1,433 normal 675,166
[chunk 5/8] out: 676,648 | fraud 1,433 normal 675,215
[chunk 6/8] out: 676,575 | fraud 1,433 normal 675,142
[chunk 7/8] out: 676,584 | fraud 1,433 normal 675,151
[chunk 8/8] out: 676,613 | fraud 1,433 normal 675,180

[AFTER OSS CLEAN ONLY]
fraud
0    5401442
1       1433
Name: count, dtype: int64
X_tr_oss: (5402875, 60)
y_tr_oss:
 fraud
0    5401442
1       1433
Name: count, dtype: int64

In [164]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score, average_precision_score

pipe = Pipeline([
    ("scaler", StandardScaler(with_mean=False)),  # sparse 아니어도 안전빵 (메모리 안정)
    ("clf", LogisticRegression(max_iter=5000, n_jobs=-1, class_weight=None))
])

pipe.fit(X_tr_oss, y_tr_oss)

proba = pipe.predict_proba(X_te)[:, 1]
pred  = (proba >= 0.5).astype(int)

print("Confusion matrix:\n", confusion_matrix(y_te, pred))
print("\nClassification report:\n", classification_report(y_te, pred, digits=4))

print("ROC-AUC:", roc_auc_score(y_te, proba))
print("PR-AUC:", average_precision_score(y_te, proba))

Confusion matrix:
 [[1350405       2]
 [    931       4]]

Classification report:
               precision    recall  f1-score   support

           0     0.9993    1.0000    0.9997   1350407
           1     0.6667    0.0043    0.0085       935

    accuracy                         0.9993   1351342
   macro avg     0.8330    0.5021    0.5041   1351342
weighted avg     0.9991    0.9993    0.9990   1351342

ROC-AUC: 0.841036963825392
PR-AUC: 0.050661363500002055

In [ ]:
train_offline_oss = pd.concat([X_tr_oss, y_tr_oss.rename("fraud")], axis=1)

train_offline_oss.to_parquet("data/offline/train_oss.parquet", index=False)
offline_test.to_parquet("data/offline/test_raw.parquet", index=False)

print("saved:",
      "data/offline/train_oss.parquet",
      "data/offline/test_raw.parquet")

saved: data/offline/train_oss.parquet data/offline/test_raw.parquet

In [168]:
def time_split_min_pos(df, target="fraud", ratio=0.8, min_pos=30):
    df = df.sort_values(["tx_year","tx_month","tx_hour"]).copy()  # 너 컬럼 기준
    n = len(df)
    cut = int(n * ratio)

    # 기본 cut에서 validation에 양성이 min_pos개 이상 들어가도록 cut을 왼쪽으로 당김
    y = df[target].values
    while cut > 0 and y[cut:].sum() < min_pos:
        cut -= int(0.01 * n)  # 1%씩 당기기 (원하면 0.5%로)
        if cut < 0:
            cut = 0
            break

    train = df.iloc[:cut].copy()
    val   = df.iloc[cut:].copy()
    return train, val, cut

In [170]:
train_oss_df = pd.read_parquet("data/online/train_oss.parquet")

train_i, val_i, cut = time_split_min_pos(train_oss_df, target="fraud", ratio=0.8, min_pos=30)
print("cut:", cut, "train pos:", train_i["fraud"].sum(), "val pos:", val_i["fraud"].sum())

cut: 566485 train pos: 5724 val pos: 2846

In [171]:
Xtr = train_i.drop(columns=["fraud"])
ytr = train_i["fraud"].astype("int8")
Xva = val_i.drop(columns=["fraud"])
yva = val_i["fraud"].astype("int8")

In [173]:
clf = Pipeline([
    ("scaler", StandardScaler(with_mean=False)),  # float 위주라 안전
    ("logit", LogisticRegression(
        max_iter=10000,
        solver="lbfgs",
        class_weight="balanced",
        n_jobs=-1,
        random_state=42
    ))
])
clf.fit(Xtr, ytr)
pred_va = clf.predict(Xva)
proba_va = clf.predict_proba(Xva)[:, 1]
print("Confusion matrix:\n", confusion_matrix(yva, pred_va))

print("\nClassification report:")
print(classification_report(yva, pred_va, digits=4))

# AUC 계열은 양성 클래스가 있을 때만
if yva.sum() > 0:
    print("ROC-AUC:", roc_auc_score(yva, proba_va))
    print("PR-AUC :", average_precision_score(yva, proba_va))
else:
    print("ROC-AUC: N/A (no positive samples)")
    print("PR-AUC : N/A (no positive samples)")

Confusion matrix:
 [[121661  17115]
 [   747   2099]]

Classification report:
              precision    recall  f1-score   support

           0     0.9939    0.8767    0.9316    138776
           1     0.1092    0.7375    0.1903      2846

    accuracy                         0.8739    141622
   macro avg     0.5516    0.8071    0.5610    141622
weighted avg     0.9761    0.8739    0.9167    141622

ROC-AUC: 0.8779249778436357
PR-AUC : 0.2504269218010514

In [ ]:
off_test = pd.read_parquet("data/offline/test_raw.parquet")
off_test.isnull().sum()

client_id           0
card_id             0
amount              0
merchant_id         0
current_age         0
                   ..
has_distance        0
distance_km         0
distance_imputed    0
tx_swipe            0
tx_chip             0
Length: 61, dtype: int64

In [176]:
off_train = pd.read_parquet("data/offline/train_oss.parquet")
off_train.isnull().sum()

client_id           0
card_id             0
amount              0
merchant_id         0
current_age         0
                   ..
distance_km         0
distance_imputed    0
tx_swipe            0
tx_chip             0
fraud               0
Length: 61, dtype: int64

In [177]:
on_test = pd.read_parquet("data/online/test_raw.parquet")
on_test.isnull().sum()

client_id                          0
card_id                            0
amount                             0
merchant_id                        0
current_age                        0
retirement_age                     0
birth_year                         0
birth_month                        0
latitude                           0
longitude                          0
per_capita_income                  0
yearly_income                      0
total_debt                         0
credit_score                       0
num_credit_cards                   0
has_chip                           0
num_cards_issued                   0
credit_limit                       0
year_pin_last_changed              0
fraud                              0
is_online                          0
has_error                          0
err_bad_card_number                0
err_bad_expiration                 0
err_bad_cvv                        0
err_bad_pin                        0
err_bad_zipcode                    0
err_insufficient_balance           0
err_technical_glitch               0
acct_open_year                     0
acct_open_month                    0
expires_year                       0
expires_month                      0
months_to_expire                   0
tx_year                            0
tx_month                           0
tx_hour                            0
is_weekend                         0
is_credit                          0
is_prepaid                         0
male                               0
mccg_Food_Daily                    0
mccg_Transport_Travel              0
mccg_Digital_Online                0
mccg_Financial                     0
mccg_Retail                        0
mccg_Medical                       0
mccg_Entertainment                 0
mccg_Automotive_Home               0
mccg_Utilities_Government          0
mccg_Professional_Services         0
mccg_Industrial_/_Manufacturing    0
cb_Visa                            0
cb_Mastercard                      0
cb_Amex                            0
cb_Discover                        0
distance_imputed                   0
dtype: int64

In [178]:
on_train = pd.read_parquet("data/online/train_oss.parquet")
on_train.isnull().sum()

client_id                          0
card_id                            0
amount                             0
merchant_id                        0
current_age                        0
retirement_age                     0
birth_year                         0
birth_month                        0
latitude                           0
longitude                          0
per_capita_income                  0
yearly_income                      0
total_debt                         0
credit_score                       0
num_credit_cards                   0
has_chip                           0
num_cards_issued                   0
credit_limit                       0
year_pin_last_changed              0
is_online                          0
has_error                          0
err_bad_card_number                0
err_bad_expiration                 0
err_bad_cvv                        0
err_bad_pin                        0
err_bad_zipcode                    0
err_insufficient_balance           0
err_technical_glitch               0
acct_open_year                     0
acct_open_month                    0
expires_year                       0
expires_month                      0
months_to_expire                   0
tx_year                            0
tx_month                           0
tx_hour                            0
is_weekend                         0
is_credit                          0
is_prepaid                         0
male                               0
mccg_Food_Daily                    0
mccg_Transport_Travel              0
mccg_Digital_Online                0
mccg_Financial                     0
mccg_Retail                        0
mccg_Medical                       0
mccg_Entertainment                 0
mccg_Automotive_Home               0
mccg_Utilities_Government          0
mccg_Professional_Services         0
mccg_Industrial_/_Manufacturing    0
cb_Visa                            0
cb_Mastercard                      0
cb_Amex                            0
cb_Discover                        0
distance_imputed                   0
fraud                              0
dtype: int64

In [181]:
online = pd.read_parquet("split/online")
online.isnull().sum()

client_id                          0
card_id                            0
amount                             0
merchant_id                        0
current_age                        0
retirement_age                     0
birth_year                         0
birth_month                        0
latitude                           0
longitude                          0
per_capita_income                  0
yearly_income                      0
total_debt                         0
credit_score                       0
num_credit_cards                   0
has_chip                           0
num_cards_issued                   0
credit_limit                       0
year_pin_last_changed              0
fraud                              0
is_online                          0
has_error                          0
err_bad_card_number                0
err_bad_expiration                 0
err_bad_cvv                        0
err_bad_pin                        0
err_bad_zipcode                    0
err_insufficient_balance           0
err_technical_glitch               0
acct_open_year                     0
acct_open_month                    0
expires_year                       0
expires_month                      0
months_to_expire                   0
tx_year                            0
tx_month                           0
tx_hour                            0
is_weekend                         0
is_credit                          0
is_prepaid                         0
male                               0
mccg_Food_Daily                    0
mccg_Transport_Travel              0
mccg_Digital_Online                0
mccg_Financial                     0
mccg_Retail                        0
mccg_Medical                       0
mccg_Entertainment                 0
mccg_Automotive_Home               0
mccg_Utilities_Government          0
mccg_Professional_Services         0
mccg_Industrial_/_Manufacturing    0
cb_Visa                            0
cb_Mastercard                      0
cb_Amex                            0
cb_Discover                        0
distance_imputed                   0
dtype: int64

In [182]:
offline = pd.read_parquet("split/offline")
offline.isnull().sum()

client_id           0
card_id             0
amount              0
merchant_id         0
current_age         0
                   ..
has_distance        0
distance_km         0
distance_imputed    0
tx_swipe            0
tx_chip             0
Length: 61, dtype: int64

In [184]:
online_test["fraud"].value_counts()

fraud
0    178030
1       124
Name: count, dtype: int64

In [185]:
online_train["fraud"].value_counts()

fraud
0    704044
1      8570
Name: count, dtype: int64