In [2]:
import pandas as pd
data = pd.read_parquet("data/online/train_oss.parquet")
data.columns

Index(['client_id', 'card_id', 'amount', 'merchant_id', 'current_age',
       'retirement_age', 'birth_year', 'birth_month', 'latitude', 'longitude',
       'per_capita_income', 'yearly_income', 'total_debt', 'credit_score',
       'num_credit_cards', 'has_chip', 'num_cards_issued', 'credit_limit',
       'year_pin_last_changed', 'is_online', 'has_error',
       'err_bad_card_number', 'err_bad_expiration', 'err_bad_cvv',
       'err_bad_pin', 'err_bad_zipcode', 'err_insufficient_balance',
       'err_technical_glitch', 'acct_open_year', 'acct_open_month',
       'expires_year', 'expires_month', 'months_to_expire', 'tx_year',
       'tx_month', 'tx_hour', 'is_weekend', 'is_credit', 'is_prepaid', 'male',
       'mccg_Food_Daily', 'mccg_Transport_Travel', 'mccg_Digital_Online',
       'mccg_Financial', 'mccg_Retail', 'mccg_Medical', 'mccg_Entertainment',
       'mccg_Automotive_Home', 'mccg_Utilities_Government',
       'mccg_Professional_Services', 'mccg_Industrial_/_Manufacturing',
       'cb_Visa', 'cb_Mastercard', 'cb_Amex', 'cb_Discover',
       'distance_imputed', 'fraud'],
      dtype='object')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708107 entries, 0 to 708106
Data columns (total 57 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   client_id                        708107 non-null  int64
 1   card_id                          708107 non-null  int64
 2   amount                           708107 non-null  float32
 3   merchant_id                      708107 non-null  int64
 4   current_age                      708107 non-null  int64
 5   retirement_age                   708107 non-null  int64
 6   birth_year                       708107 non-null  int64
 7   birth_month                      708107 non-null  int8
 8   latitude                         708107 non-null  float64
 9   longitude                        708107 non-null  float64
 10  per_capita_income                708107 non-null  float32
 11  yearly_income                    708107 non-null  float32
 12  total_debt                       708107 non-null  float32
 13  credit_score                     708107 non-null  int64
 14  num_credit_cards                 708107 non-null  int8
 15  has_chip                         708107 non-null  int8
 16  num_cards_issued                 708107 non-null  int64
 17  credit_limit                     708107 non-null  float32
 18  year_pin_last_changed            708107 non-null  int64
 19  is_online                        708107 non-null  int8
 20  has_error                        708107 non-null  int8
 21  err_bad_card_number              708107 non-null  int8
 22  err_bad_expiration               708107 non-null  int8
 23  err_bad_cvv                      708107 non-null  int8
 24  err_bad_pin                      708107 non-null  int8
 25  err_bad_zipcode                  708107 non-null  int8
 26  err_insufficient_balance         708107 non-null  int8
 27  err_technical_glitch             708107 non-null  int8
 28  acct_open_year                   708107 non-null  int16
 29  acct_open_month                  708107 non-null  int8
 30  expires_year                     708107 non-null  int16
 31  expires_month                    708107 non-null  int8
 32  months_to_expire                 708107 non-null  int16
 33  tx_year                          708107 non-null  int16
 34  tx_month                         708107 non-null  int8
 35  tx_hour                          708107 non-null  int8
 36  is_weekend                       708107 non-null  int8
 37  is_credit                        708107 non-null  int8
 38  is_prepaid                       708107 non-null  int8
 39  male                             708107 non-null  int8
 40  mccg_Food_Daily                  708107 non-null  int8
 41  mccg_Transport_Travel            708107 non-null  int8
 42  mccg_Digital_Online              708107 non-null  int8
 43  mccg_Financial                   708107 non-null  int8
 44  mccg_Retail                      708107 non-null  int8
 45  mccg_Medical                     708107 non-null  int8
 46  mccg_Entertainment               708107 non-null  int8
 47  mccg_Automotive_Home             708107 non-null  int8
 48  mccg_Utilities_Government        708107 non-null  int8
 49  mccg_Professional_Services       708107 non-null  int8
 50  mccg_Industrial_/_Manufacturing  708107 non-null  int8
 51  cb_Visa                          708107 non-null  int8
 52  cb_Mastercard                    708107 non-null  int8
 53  cb_Amex                          708107 non-null  int8
 54  cb_Discover                      708107 non-null  int8
 55  distance_imputed                 708107 non-null  int8
 56  fraud                            708107 non-null  int8
dtypes: float32(5), float64(2), int16(4), int64(9), int8(37)
memory usage: 103.3 MB

In [4]:
data["is_online"].unique()

array([1], dtype=int8)

In [5]:
data

        client_id  card_id      amount  ...  cb_Discover  distance_imputed  fraud
0             335     5131   87.830002  ...            0                 0      1
1             379     2019   23.100000  ...            0                 0      1
2            1048     2542   95.919998  ...            0                 0      1
3            1019     5112  421.559998  ...            0                 0      1
4             720     4136   38.369999  ...            0                 0      1
...           ...      ...         ...  ...          ...               ...    ...
708102        877     3877    7.700000  ...            0                 0      0
708103       1341     4766   28.049999  ...            0                 0      0
708104        987     2748   25.250000  ...            0                 0      0
708105        585     5881   21.410000  ...            0                 0      0
708106       1963     4565   26.030001  ...            0                 0      0

[708107 rows x 57 columns]