In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import OFFLINE.client_card.SchemaType as SchemaType
import importlib

importlib.reload(SchemaType)

In [3]:
from OFFLINE.client_card.SchemaType import (
    build_stage2_dataset,
    ClientCardSchemaConfig,
)

cfg = ClientCardSchemaConfig(
    trans_path="DATA/dataset/trans_train",
    users_path="DATA/original/users_data.csv",
    cards_path="DATA/original/cards_data.csv",
)

stage2_df = build_stage2_dataset(cfg)

stage2_df.shape

/home/nakyung/projects/BDAIFin/OFFLINE/client_card/SchemaType.py:115: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["has_chip"] = df["has_chip"].replace({"YES": 1, "NO": 0}).astype("int8")

(5312525, 53)

In [4]:
stage2_df

,date,client_id,card_id,amount,merchant_id,mcc,fraud,has_error,err_bad_card_number,err_bad_expiration,...,years_since_pin_change,years_to_retirement,income_ratio_region,log_yearly_income,log_income_ratio_region,abs_amount,amount_income_ratio,amount_limit_ratio,log_amount_income_ratio,log_amount_limit_ratio
0,2010-01-01 00:01:00,1556,2972,-77.000000,59935,5499,0,0,0,0,...,2,37,2.038811,10.784731,1.111466,77.000000,0.001595,1.400000,0.001594,0.875469
1,2010-01-01 00:02:00,561,4575,14.570000,67570,5311,0,0,0,0,...,0,19,2.038781,10.514719,1.111456,14.570000,0.000395,0.001601,0.000395,0.001600
2,2010-01-01 00:02:00,1129,102,80.000000,27092,4829,0,0,0,0,...,2,16,2.039126,10.447265,1.111570,80.000000,0.002322,0.005405,0.002320,0.005390
3,2010-01-01 00:06:00,848,3915,46.410000,13051,5813,0,0,0,0,...,0,18,2.038892,11.132587,1.111493,46.410000,0.000679,0.002428,0.000679,0.002425
4,2010-01-01 00:07:00,1807,165,4.810000,20519,5942,0,0,0,0,...,0,18,2.038806,10.860268,1.111465,4.810000,0.000092,0.054045,0.000092,0.052635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5332974,2015-12-31 23:50:00,457,5554,36.119999,6741,7349,0,0,0,0,...,5,31,2.038727,10.500261,1.111439,36.119999,0.000994,0.002800,0.000994,0.002796
5332975,2015-12-31 23:57:00,487,2024,132.679993,36936,4900,0,0,0,0,...,6,16,2.038845,10.916179,1.111477,132.679993,0.002410,0.004609,0.002407,0.004598
5332976,2015-12-31 23:58:00,523,2713,100.800003,60569,5300,0,0,0,0,...,2,38,2.038830,10.558102,1.111473,100.800003,0.002619,0.007754,0.002616,0.007724
5332977,2015-12-31 23:58:00,234,4799,60.000000,27092,4829,0,0,0,0,...,4,31,2.038966,10.535398,1.111517,60.000000,0.001595,0.006122,0.001593,0.006104
5332978,2015-12-31 23:59:00,1986,5496,3.780000,75781,5411,0,0,0,0,...,5,25,2.038986,10.787895,1.111524,3.780000,0.000078,0.000233,0.000078,0.000233

In [5]:
stage2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5312525 entries, 0 to 5332978
Data columns (total 53 columns):
 #   Column                    Dtype
---  ------                    -----
 0   date                      datetime64[ns]
 1   client_id                 int64
 2   card_id                   int64
 3   amount                    float32
 4   merchant_id               int64
 5   mcc                       object
 6   fraud                     int8
 7   has_error                 int8
 8   err_bad_card_number       int8
 9   err_bad_expiration        int8
 10  err_bad_cvv               int8
 11  err_bad_pin               int8
 12  err_bad_zipcode           int8
 13  err_insufficient_balance  int8
 14  err_technical_glitch      int8
 15  tx_year                   int16
 16  tx_month                  int8
 17  tx_day                    int8
 18  tx_hour                   int8
 19  weekday                   int32
 20  is_refund                 int8
 21  log_abs_amount            float32
 22  current_age               int64
 23  per_capita_income         float32
 24  yearly_income             float32
 25  total_debt                float32
 26  credit_score              int64
 27  num_credit_cards          int8
 28  has_chip                  int8
 29  num_cards_issued          int64
 30  credit_limit              float32
 31  year_pin_last_changed     Int16
 32  expires_year              int16
 33  expires_month             int8
 34  months_to_expire          int16
 35  is_credit                 int8
 36  is_prepaid                int8
 37  male                      int8
 38  cb_Visa                   int8
 39  cb_Mastercard             int8
 40  cb_Amex                   int8
 41  cb_Discover               int8
 42  months_from_account       int16
 43  years_since_pin_change    int8
 44  years_to_retirement       int16
 45  income_ratio_region       float32
 46  log_yearly_income         float32
 47  log_income_ratio_region   float32
 48  abs_amount                float32
 49  amount_income_ratio       float32
 50  amount_limit_ratio        float32
 51  log_amount_income_ratio   float32
 52  log_amount_limit_ratio    float32
dtypes: Int16(1), datetime64[ns](1), float32(14), int16(5), int32(1), int64(6), int8(24), object(1)
memory usage: 856.2+ MB

In [6]:
stage2_df.to_parquet("DATA/dataset/train_stage2")

In [7]:
stage2_df.isnull().sum()

date                        0
client_id                   0
card_id                     0
amount                      0
merchant_id                 0
mcc                         0
fraud                       0
has_error                   0
err_bad_card_number         0
err_bad_expiration          0
err_bad_cvv                 0
err_bad_pin                 0
err_bad_zipcode             0
err_insufficient_balance    0
err_technical_glitch        0
tx_year                     0
tx_month                    0
tx_day                      0
tx_hour                     0
weekday                     0
is_refund                   0
log_abs_amount              0
current_age                 0
per_capita_income           0
yearly_income               0
total_debt                  0
credit_score                0
num_credit_cards            0
has_chip                    0
num_cards_issued            0
credit_limit                0
year_pin_last_changed       0
expires_year                0
expires_month               0
months_to_expire            0
is_credit                   0
is_prepaid                  0
male                        0
cb_Visa                     0
cb_Mastercard               0
cb_Amex                     0
cb_Discover                 0
months_from_account         0
years_since_pin_change      0
years_to_retirement         0
income_ratio_region         0
log_yearly_income           0
log_income_ratio_region     0
abs_amount                  0
amount_income_ratio         0
amount_limit_ratio          0
log_amount_income_ratio     0
log_amount_limit_ratio      0
dtype: int64