In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pathlib import Path

PROJECT_ROOT = Path("OFFLINE/transaction")
sys.path.append(str(PROJECT_ROOT))  # 디렉토리 추가

from SchemaType import (
    build_transaction_schema,
    TransactionSchemaConfig,
)

In [7]:
TRANS_PATH = "DATA/original/train"
LABEL_PATH = "DATA/original/train_fraud_labels.json"

In [8]:
cfg = TransactionSchemaConfig()

trans = build_transaction_schema(
    trans_parquet_path=TRANS_PATH,
    labels_json_path=LABEL_PATH,
    cfg=cfg,
)

In [9]:
trans

,id,date,client_id,card_id,amount,merchant_id,mcc,fraud,has_error,err_bad_card_number,...,mccg_Transport_Travel,mccg_Digital_Online,mccg_Financial,mccg_Retail,mccg_Medical,mccg_Entertainment,mccg_Automotive_Home,mccg_Utilities_Government,mccg_Professional_Services,mccg_Industrial__Manufacturing
0,7475327,2010-01-01 00:01:00,1556,2972,-77.000000,59935,5499,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7475328,2010-01-01 00:02:00,561,4575,14.570000,67570,5311,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7475329,2010-01-01 00:02:00,1129,102,80.000000,27092,4829,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,7475332,2010-01-01 00:06:00,848,3915,46.410000,13051,5813,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7475333,2010-01-01 00:07:00,1807,165,4.810000,20519,5942,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5332974,17172554,2015-12-31 23:50:00,457,5554,36.119999,6741,7349,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5332975,17172556,2015-12-31 23:57:00,487,2024,132.679993,36936,4900,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5332976,17172558,2015-12-31 23:58:00,523,2713,100.800003,60569,5300,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5332977,17172557,2015-12-31 23:58:00,234,4799,60.000000,27092,4829,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5332978,17172562,2015-12-31 23:59:00,1986,5496,3.780000,75781,5411,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5332979 entries, 0 to 5332978
Data columns (total 34 columns):
 #   Column                          Dtype
---  ------                          -----
 0   id                              int64
 1   date                            datetime64[ns]
 2   client_id                       int64
 3   card_id                         int64
 4   amount                          float32
 5   merchant_id                     int64
 6   mcc                             object
 7   fraud                           int8
 8   has_error                       int8
 9   err_bad_card_number             int8
 10  err_bad_expiration              int8
 11  err_bad_cvv                     int8
 12  err_bad_pin                     int8
 13  err_bad_zipcode                 int8
 14  err_insufficient_balance        int8
 15  err_technical_glitch            int8
 16  tx_year                         int16
 17  tx_month                        int8
 18  tx_day                          int8
 19  tx_hour                         int8
 20  is_weekend                      int8
 21  is_refund                       int8
 22  log_abs_amount                  float32
 23  mccg_Food_Daily                 int8
 24  mccg_Transport_Travel           int8
 25  mccg_Digital_Online             int8
 26  mccg_Financial                  int8
 27  mccg_Retail                     int8
 28  mccg_Medical                    int8
 29  mccg_Entertainment              int8
 30  mccg_Automotive_Home            int8
 31  mccg_Utilities_Government       int8
 32  mccg_Professional_Services      int8
 33  mccg_Industrial__Manufacturing  int8
dtypes: datetime64[ns](1), float32(2), int16(1), int64(4), int8(25), object(1)
memory usage: 422.1+ MB