In [18]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import OFFLINE.client_card.SchemaType as SchemaType
import importlib

importlib.reload(SchemaType)

In [20]:
from OFFLINE.client_card.SchemaType import (
    build_stage2_dataset,
    ClientCardSchemaConfig,
)

cfg = ClientCardSchemaConfig(
    trans_path="DATA/dataset/trans_train",
    users_path="DATA/original/users_data.csv",
    cards_path="DATA/original/cards_data.csv",
)

stage2_df = build_stage2_dataset(cfg)

stage2_df.shape

/home/nakyung/projects/BDAIFin/OFFLINE/client_card/SchemaType.py:113: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ).dt.to_period("M")

(5332948, 64)

In [21]:
stage2_df

,date,client_id,card_id,amount,merchant_id,mcc,fraud,has_error,err_bad_card_number,err_bad_expiration,...,cb_Discover,months_from_account,years_since_pin_change,years_to_retirement,distance_from_home,income_ratio_region,log_yearly_income,log_income_ratio_region,amount_income_ratio,amount_limit_ratio
0,2010-01-01 00:01:00,1556,2972,-77.000000,59935,5499,0,0,0,0,...,0,20,2,37,0.0,2.038811,10.784731,1.111466,-0.001595,-1.400000
1,2010-01-01 00:02:00,561,4575,14.570000,67570,5311,0,0,0,0,...,0,52,0,19,0.0,2.038781,10.514719,1.111456,0.000395,0.001601
2,2010-01-01 00:02:00,1129,102,80.000000,27092,4829,0,0,0,0,...,0,48,2,16,0.0,2.039126,10.447265,1.111570,0.002322,0.005405
3,2010-01-01 00:06:00,848,3915,46.410000,13051,5813,0,0,0,0,...,0,6,0,18,0.0,2.038892,11.132587,1.111493,0.000679,0.002428
4,2010-01-01 00:07:00,1807,165,4.810000,20519,5942,0,0,0,0,...,0,24,0,18,0.0,2.038806,10.860268,1.111465,0.000092,0.054045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5332974,2015-12-31 23:50:00,457,5554,36.119999,6741,7349,0,0,0,0,...,0,85,5,31,0.0,2.038727,10.500261,1.111439,0.000994,0.002800
5332975,2015-12-31 23:57:00,487,2024,132.679993,36936,4900,0,0,0,0,...,0,177,6,16,0.0,2.038845,10.916179,1.111477,0.002410,0.004609
5332976,2015-12-31 23:58:00,523,2713,100.800003,60569,5300,0,0,0,0,...,1,32,2,38,0.0,2.038830,10.558102,1.111473,0.002619,0.007754
5332977,2015-12-31 23:58:00,234,4799,60.000000,27092,4829,0,0,0,0,...,0,63,4,31,0.0,2.038966,10.535398,1.111517,0.001595,0.006122
5332978,2015-12-31 23:59:00,1986,5496,3.780000,75781,5411,0,0,0,0,...,0,97,5,25,0.0,2.038986,10.787895,1.111524,0.000078,0.000233

In [22]:
stage2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5332948 entries, 0 to 5332978
Data columns (total 64 columns):
 #   Column                          Dtype
---  ------                          -----
 0   date                            datetime64[ns]
 1   client_id                       int64
 2   card_id                         int64
 3   amount                          float32
 4   merchant_id                     int64
 5   mcc                             object
 6   fraud                           int8
 7   has_error                       int8
 8   err_bad_card_number             int8
 9   err_bad_expiration              int8
 10  err_bad_cvv                     int8
 11  err_bad_pin                     int8
 12  err_bad_zipcode                 int8
 13  err_insufficient_balance        int8
 14  err_technical_glitch            int8
 15  tx_year                         int16
 16  tx_month                        int8
 17  tx_day                          int8
 18  tx_hour                         int8
 19  is_weekend                      int8
 20  is_refund                       int8
 21  log_abs_amount                  float32
 22  mccg_Food_Daily                 int8
 23  mccg_Transport_Travel           int8
 24  mccg_Digital_Online             int8
 25  mccg_Financial                  int8
 26  mccg_Retail                     int8
 27  mccg_Medical                    int8
 28  mccg_Entertainment              int8
 29  mccg_Automotive_Home            int8
 30  mccg_Utilities_Government       int8
 31  mccg_Professional_Services      int8
 32  mccg_Industrial__Manufacturing  int8
 33  current_age                     int64
 34  birth_year                      int64
 35  birth_month                     int8
 36  per_capita_income               float32
 37  yearly_income                   float32
 38  total_debt                      float32
 39  credit_score                    int64
 40  num_credit_cards                int8
 41  has_chip                        int8
 42  num_cards_issued                int64
 43  credit_limit                    float32
 44  year_pin_last_changed           Int16
 45  expires_year                    int16
 46  expires_month                   int8
 47  months_to_expire                int16
 48  is_credit                       int8
 49  is_prepaid                      int8
 50  male                            int8
 51  cb_Visa                         int8
 52  cb_Mastercard                   int8
 53  cb_Amex                         int8
 54  cb_Discover                     int8
 55  months_from_account             int16
 56  years_since_pin_change          int8
 57  years_to_retirement             int16
 58  distance_from_home              float64
 59  income_ratio_region             float32
 60  log_yearly_income               float32
 61  log_income_ratio_region         float32
 62  amount_income_ratio             float32
 63  amount_limit_ratio              float32
dtypes: Int16(1), datetime64[ns](1), float32(11), float64(1), int16(5), int64(7), int8(37), object(1)
memory usage: 925.6+ MB