In [36]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [37]:
import SchemaType as SchemaType
import importlib

importlib.reload(SchemaType)

In [38]:
from SchemaType import (
    build_stage2_dataset,
    ClientCardSchemaConfig,
)

cfg = ClientCardSchemaConfig(
    trans_path="../../DATA/dataset/train_stage1",
    users_path="../../DATA/original/users_data.csv",
    cards_path="../../DATA/original/cards_data.csv",
)

stage2_df = build_stage2_dataset(cfg)

stage2_df.shape

/home/nakyung/projects/BDAIFin/OFFLINE/client_card/SchemaType.py:120: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

(5312525, 54)

In [39]:
stage2_df

,id,date,client_id,card_id,amount,merchant_id,mcc,fraud,has_error,err_bad_card_number,...,years_since_pin_change,years_to_retirement,income_ratio_region,log_yearly_income,log_income_ratio_region,abs_amount,amount_income_ratio,amount_limit_ratio,log_amount_income_ratio,log_amount_limit_ratio
0,7475327,2010-01-01 00:01:00,1556,2972,-77.000000,59935,5499,0,0,0,...,2,37,2.038811,10.784731,1.111466,77.000000,0.001595,1.400000,0.001594,0.875469
1,7475328,2010-01-01 00:02:00,561,4575,14.570000,67570,5311,0,0,0,...,0,19,2.038781,10.514719,1.111456,14.570000,0.000395,0.001601,0.000395,0.001600
2,7475329,2010-01-01 00:02:00,1129,102,80.000000,27092,4829,0,0,0,...,2,16,2.039126,10.447265,1.111570,80.000000,0.002322,0.005405,0.002320,0.005390
3,7475332,2010-01-01 00:06:00,848,3915,46.410000,13051,5813,0,0,0,...,0,18,2.038892,11.132587,1.111493,46.410000,0.000679,0.002428,0.000679,0.002425
4,7475333,2010-01-01 00:07:00,1807,165,4.810000,20519,5942,0,0,0,...,0,18,2.038806,10.860268,1.111465,4.810000,0.000092,0.054045,0.000092,0.052635
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5332974,17172554,2015-12-31 23:50:00,457,5554,36.119999,6741,7349,0,0,0,...,5,31,2.038727,10.500261,1.111439,36.119999,0.000994,0.002800,0.000994,0.002796
5332975,17172556,2015-12-31 23:57:00,487,2024,132.679993,36936,4900,0,0,0,...,6,16,2.038845,10.916179,1.111477,132.679993,0.002410,0.004609,0.002407,0.004598
5332976,17172558,2015-12-31 23:58:00,523,2713,100.800003,60569,5300,0,0,0,...,2,38,2.038830,10.558102,1.111473,100.800003,0.002619,0.007754,0.002616,0.007724
5332977,17172557,2015-12-31 23:58:00,234,4799,60.000000,27092,4829,0,0,0,...,4,31,2.038966,10.535398,1.111517,60.000000,0.001595,0.006122,0.001593,0.006104
5332978,17172562,2015-12-31 23:59:00,1986,5496,3.780000,75781,5411,0,0,0,...,5,25,2.038986,10.787895,1.111524,3.780000,0.000078,0.000233,0.000078,0.000233

In [40]:
stage2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5312525 entries, 0 to 5332978
Data columns (total 54 columns):
 #   Column                    Dtype
---  ------                    -----
 0   id                        int64
 1   date                      datetime64[ns]
 2   client_id                 int64
 3   card_id                   int64
 4   amount                    float32
 5   merchant_id               int64
 6   mcc                       object
 7   fraud                     int8
 8   has_error                 int8
 9   err_bad_card_number       int8
 10  err_bad_expiration        int8
 11  err_bad_cvv               int8
 12  err_bad_pin               int8
 13  err_bad_zipcode           int8
 14  err_insufficient_balance  int8
 15  err_technical_glitch      int8
 16  tx_year                   int16
 17  tx_month                  int8
 18  tx_day                    int8
 19  tx_hour                   int8
 20  weekday                   int32
 21  is_refund                 int8
 22  log_abs_amount            float32
 23  current_age               int64
 24  per_capita_income         float32
 25  yearly_income             float32
 26  total_debt                float32
 27  credit_score              int64
 28  num_credit_cards          int8
 29  has_chip                  int8
 30  num_cards_issued          int64
 31  credit_limit              float32
 32  year_pin_last_changed     Int16
 33  expires_year              int16
 34  expires_month             int8
 35  months_to_expire          int16
 36  is_credit                 int8
 37  is_prepaid                int8
 38  male                      int8
 39  cb_Visa                   int8
 40  cb_Mastercard             int8
 41  cb_Amex                   int8
 42  cb_Discover               int8
 43  months_from_account       int16
 44  years_since_pin_change    int8
 45  years_to_retirement       int16
 46  income_ratio_region       float32
 47  log_yearly_income         float32
 48  log_income_ratio_region   float32
 49  abs_amount                float32
 50  amount_income_ratio       float32
 51  amount_limit_ratio        float32
 52  log_amount_income_ratio   float32
 53  log_amount_limit_ratio    float32
dtypes: Int16(1), datetime64[ns](1), float32(14), int16(5), int32(1), int64(7), int8(24), object(1)
memory usage: 896.8+ MB

In [41]:
stage2_df.to_parquet("../../DATA/dataset/train_stage2")

In [42]:
stage2_df.isnull().sum()

id                          0
date                        0
client_id                   0
card_id                     0
amount                      0
merchant_id                 0
mcc                         0
fraud                       0
has_error                   0
err_bad_card_number         0
err_bad_expiration          0
err_bad_cvv                 0
err_bad_pin                 0
err_bad_zipcode             0
err_insufficient_balance    0
err_technical_glitch        0
tx_year                     0
tx_month                    0
tx_day                      0
tx_hour                     0
weekday                     0
is_refund                   0
log_abs_amount              0
current_age                 0
per_capita_income           0
yearly_income               0
total_debt                  0
credit_score                0
num_credit_cards            0
has_chip                    0
num_cards_issued            0
credit_limit                0
year_pin_last_changed       0
expires_year                0
expires_month               0
months_to_expire            0
is_credit                   0
is_prepaid                  0
male                        0
cb_Visa                     0
cb_Mastercard               0
cb_Amex                     0
cb_Discover                 0
months_from_account         0
years_since_pin_change      0
years_to_retirement         0
income_ratio_region         0
log_yearly_income           0
log_income_ratio_region     0
abs_amount                  0
amount_income_ratio         0
amount_limit_ratio          0
log_amount_income_ratio     0
log_amount_limit_ratio      0
dtype: int64

In [43]:
from SchemaType import (
    build_stage2_dataset,
    ClientCardSchemaConfig,
)

cfg = ClientCardSchemaConfig(
    trans_path="../../DATA/dataset/test_stage1",
    users_path="../../DATA/original/users_data.csv",
    cards_path="../../DATA/original/cards_data.csv",
)

stage2_df = build_stage2_dataset(cfg)

stage2_df.shape

/home/nakyung/projects/BDAIFin/OFFLINE/client_card/SchemaType.py:120: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

(928867, 54)

In [44]:
stage2_df.to_parquet("../../DATA/dataset/test_stage2")