In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import OFFLINE.client_card.SchemaType as SchemaType
import importlib

importlib.reload(SchemaType)

In [1]:
from OFFLINE.client_card.SchemaType import (
    build_stage2_dataset,
    ClientCardSchemaConfig,
)

cfg = ClientCardSchemaConfig(
    trans_path="DATA/dataset/trans_test",
    users_path="DATA/original/users_data.csv",
    cards_path="DATA/original/cards_data.csv",
)

stage2_df = build_stage2_dataset(cfg)

stage2_df.shape

/home/nakyung/projects/BDAIFin/OFFLINE/client_card/SchemaType.py:115: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["has_chip"] = df["has_chip"].replace({"YES": 1, "NO": 0}).astype("int8")

(928867, 53)

In [2]:
stage2_df

,date,client_id,card_id,amount,merchant_id,mcc,fraud,has_error,err_bad_card_number,err_bad_expiration,...,years_since_pin_change,years_to_retirement,income_ratio_region,log_yearly_income,log_income_ratio_region,abs_amount,amount_income_ratio,amount_limit_ratio,log_amount_income_ratio,log_amount_limit_ratio
0,2016-01-01 00:01:00,1797,1127,59.830002,54343,4121,0,0,0,0,...,7,0,1.239918,10.340549,0.806439,59.830002,0.001932,0.002575,0.001931,0.002571
1,2016-01-01 00:02:00,394,6057,20.059999,39021,4784,0,0,0,0,...,5,19,2.038901,11.150592,1.111496,20.059999,0.000288,0.000911,0.000288,0.000911
2,2016-01-01 00:03:00,1963,3317,51.160000,25759,5812,0,0,0,0,...,10,0,1.295826,10.430285,0.831093,51.160000,0.001511,0.002022,0.001509,0.002020
3,2016-01-01 00:11:00,1919,5430,51.980000,25717,5812,0,0,0,0,...,8,0,2.126856,11.295938,1.140028,51.980000,0.000646,0.001499,0.000646,0.001498
4,2016-01-01 00:12:00,1684,2723,28.809999,39021,4784,0,0,0,0,...,2,9,2.038411,10.235019,1.111335,28.809999,0.001034,0.001705,0.001034,0.001703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932757,2016-12-31 23:50:00,1825,4310,1.160000,26232,5411,0,0,0,0,...,5,0,1.841281,10.731056,1.044255,1.160000,0.000025,0.000049,0.000025,0.000049
932758,2016-12-31 23:51:00,1269,4147,163.139999,91099,4900,0,0,0,0,...,8,0,1.432486,10.500565,0.888914,163.139999,0.004490,0.014437,0.004480,0.014334
932759,2016-12-31 23:52:00,234,4799,60.000000,27092,4829,0,0,0,0,...,5,31,2.038966,10.535398,1.111517,60.000000,0.001595,0.006122,0.001593,0.006104
932760,2016-12-31 23:53:00,1610,3968,40.000000,27092,4829,0,0,0,0,...,5,24,2.038857,10.238816,1.111481,40.000000,0.001430,0.004662,0.001429,0.004651
932761,2016-12-31 23:58:00,1145,6011,17.980000,16798,4121,0,0,0,0,...,4,22,2.038832,11.226323,1.111473,17.980000,0.000239,0.000511,0.000239,0.000511

In [3]:
stage2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 928867 entries, 0 to 932761
Data columns (total 53 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   date                      928867 non-null  datetime64[ns]
 1   client_id                 928867 non-null  int64
 2   card_id                   928867 non-null  int64
 3   amount                    928867 non-null  float32
 4   merchant_id               928867 non-null  int64
 5   mcc                       928867 non-null  object
 6   fraud                     928867 non-null  int8
 7   has_error                 928867 non-null  int8
 8   err_bad_card_number       928867 non-null  int8
 9   err_bad_expiration        928867 non-null  int8
 10  err_bad_cvv               928867 non-null  int8
 11  err_bad_pin               928867 non-null  int8
 12  err_bad_zipcode           928867 non-null  int8
 13  err_insufficient_balance  928867 non-null  int8
 14  err_technical_glitch      928867 non-null  int8
 15  tx_year                   928867 non-null  int16
 16  tx_month                  928867 non-null  int8
 17  tx_day                    928867 non-null  int8
 18  tx_hour                   928867 non-null  int8
 19  weekday                   928867 non-null  int32
 20  is_refund                 928867 non-null  int8
 21  log_abs_amount            928867 non-null  float32
 22  current_age               928867 non-null  int64
 23  per_capita_income         928867 non-null  float32
 24  yearly_income             928867 non-null  float32
 25  total_debt                928867 non-null  float32
 26  credit_score              928867 non-null  int64
 27  num_credit_cards          928867 non-null  int8
 28  has_chip                  928867 non-null  int8
 29  num_cards_issued          928867 non-null  int64
 30  credit_limit              928867 non-null  float32
 31  year_pin_last_changed     928867 non-null  Int16
 32  expires_year              928867 non-null  int16
 33  expires_month             928867 non-null  int8
 34  months_to_expire          928867 non-null  int16
 35  is_credit                 928867 non-null  int8
 36  is_prepaid                928867 non-null  int8
 37  male                      928867 non-null  int8
 38  cb_Visa                   928867 non-null  int8
 39  cb_Mastercard             928867 non-null  int8
 40  cb_Amex                   928867 non-null  int8
 41  cb_Discover               928867 non-null  int8
 42  months_from_account       928867 non-null  int16
 43  years_since_pin_change    928867 non-null  int8
 44  years_to_retirement       928867 non-null  int16
 45  income_ratio_region       928867 non-null  float32
 46  log_yearly_income         928867 non-null  float32
 47  log_income_ratio_region   928867 non-null  float32
 48  abs_amount                928867 non-null  float32
 49  amount_income_ratio       928867 non-null  float32
 50  amount_limit_ratio        928867 non-null  float32
 51  log_amount_income_ratio   928867 non-null  float32
 52  log_amount_limit_ratio    928867 non-null  float32
dtypes: Int16(1), datetime64[ns](1), float32(14), int16(5), int32(1), int64(6), int8(24), object(1)
memory usage: 149.7+ MB

In [4]:
stage2_df.to_parquet("DATA/dataset/test_stage2")